.m-body{
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
}
/deep/ .nav-center .member-info .money{
    color:#fff !important;
}
/deep/ .van-tab--active .van-tab__text{
    color:@primary-color !important;
}
/deep/ .tabs > label{
    border-color:#666 !important;
    color:#666 !important;
    &.active{
        border-color:@primary-color !important;
        color:@primary-color !important;
    }
}
.vip-page .van-tabs /deep/ .van-sticky{
    background:@bg-color !important;
}
/deep/ .vip-info h3 span{
    color:#000 !important;
}
/deep/ .my-bets .item h3{
    color:#000 !important;
}
/deep/ .button{
    color:#fff !important;
}
/deep/ .platform label.active{
    color:#fff !important;
}
/deep/ .section > h2{
    color:#000 !important;
}

/deep/ .section .grid-list{
    background:rgba(0,0,0,0.5) !important;
}
/deep/ .section .flex-wrap .item{
    background:rgba(0,0,0,0.5) !important;
}
/deep/ .section .custom{
    background:rgba(0,0,0,0.5) !important;
}
/deep/ .section .lists .item{
    background:rgba(0,0,0,0.5) !important;
}
/deep/ .m-header.van-nav-bar{
    background:#fff !important;
}
/deep/ .days label{
    color:#fff !important;
}

/deep/.van-tabs .van-tabs__nav .van-tab--active{
    color: #666 !important;
}