.container .tab_top > div > p:first-child{
    color:#000 !important;
}
.container .access .main li .header > span:first-child{
    color:#000 !important;
}
.container .access .main li .header > span:last-child{
    color:#000 !important;
}
.container .tab_top > div > p:last-child{
    color:#000 !important;
}
.container .access .main li .status > span:first-child{
    color:#000 !important;
}
.container .access .main li .remark > .time{
    color:#000 !important;
}
.container .access .main li .remark > .note{
    color:#000 !important;
}
/deep/ .drawer .main{
    background:#fff !important;
}
/deep/ .drawer{
    .main{
        .select-title{
            color:#000 !important;
        }
        .select-bar{
            color:#000 !important;
        }
        .select .van-row{
            border-color:#000 !important;
            .data-time-picker{
                color:#000 !important;
            }
        }
        .select-bar-i > div{
            border-color:#666 !important;
            color:#666 !important;
            &.active_selected{
                border-color:@primary-color !important;
                background:@primary-color !important;
                color:#fff !important;
            }
        }
        .select-button{
            color:#fff !important;
        }
    }
}
/deep/ .van-list__error-text, 
/deep/ .van-list__finished-text, 
/deep/ .van-list__loading{
    color:#000 !important;
}
/deep/ .container .tab_top::after{
    background:rgba(255,255,255,0.06) !important;
}
.record-title{
    color:#000 !important;
}