.m-header {
  ~ .bg-img {
    background-color: #fff;
    //background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    //background-size:100%;
    //background-position:0 0;
    //background-repeat: no-repeat;
  }
}

/deep/ .cells-1 {
  background-color: #1B1826 !important;
  border-color: #1B1826;

  .border {
    background-color: #1B1826;
  }
}

.activities {
  .m-header {
    /deep/ .van-nav-bar__title {
      color: #222 !important;
    }
  }

}

.vip-page {
  /deep/ .vip-info {
    color: #333;

    h3 {
      color: #333 !important;
    }
  }

  /deep/ .van-tabs {
    .van-tab--active {
      .van-tab__text {
        color: #000 !important;

      }
    }
  }

  /deep/ .events {
    .section {
      .lists {
        .item {
          color: #FFF;

          span {
            color: #FFF;
          }

        }

        .empty {
          p {
            color: #333;
          }
        }
      }
    }

    .tabs {
      label {
        border-color: #666;
        color: #333;
      }

      .active {
        color: #000;
        border-color: #B4985B;
      }
    }
  }

  /deep/ .vip-info {
    h3 {
      span {
        color: #000;
      }
    }
  }

  /deep/ .my-bets {
    .item {
      h3 {
        color: #222;
      }
    }
  }

  /deep/ .section {
    h2 {
      color: #B4985B;
    }

    .lists {
      .item {
        button {
          color: #FFF !important;
        }
      }
    }

    .grid-list {
      .item {
        p {
          color: #fff;
        }
      }
    }

    .flex-wrap {
      .item {
        border-color: #e3e3e3 !important;

        h3 {
          color: #fff;
        }
      }
    }
  }
}

.activities {
  /deep/ .custom-card-tabs {
    /deep/ .van-tab {
      .van-tab__text {
        color: #000;
      }

    }

    /deep/ .van-tab--active {
      .van-tab__text {
        color: #000 !important;
      }
    }
  }

  /deep/ .van-cell {
    border-color: #e3e3e3 !important;

    .info {
      h3 {
        color: #fff !important;

        span {
          color: #fff !important;
        }
      }
    }
  }
}

.app-install {
  background: #AFAFAF !important;

  /deep/ .van-icon {
    color: #999 !important;
  }

  /deep/ .van-button {
    .van-button__text {
      color: #fff !important;
    }
  }
}

.container {
  /deep/ .main {
    //margin-top: 0 !important;

    .down_logo {
      margin-top: 0 !important;
    }
  }

  /deep/ .downhz {
    display: none !important;
  }

  /deep/ .downAppBtn {
    top: 6rem;
  }

  /deep/ .van-icon-arrow-left {
    color: #000 !important;
  }

  /deep/ .record-title {
    color: #000 !important;
  }

}

.member-page:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  content: "";
  background: #1F1B35;
  z-index: 0;
}

.member-page {
  background: #fff !important;

  /deep/ .newest-info-detail {
    border-color: @border-color !important;

    .push-money {
      color: #000 !important;
    }

    .newest-state {
      span:first-child {
        color: #000 !important;
      }
    }
  }

  /deep/ .m-header.van-nav-bar {
    background: #1F1B35 !important;
  }

  /deep/ .user-info {
    position: relative;
    z-index: 2;

    .person-info {
      .name {
        color: #fff !important;
        font-weight: bold;
      }

      .bottom {
        color: #fff !important;
      }
    }
  }



  /deep/ .person-entr {
    .menu {
      p {
        color: #000 !important;
      }
    }
  }

  /deep/ .m-body {
    //background: #fff;


    /deep/ .latest {
      h2 {
        span {
          color: #000 !important;
        }
      }
    }

    /deep/ .balance {
      position: relative;
      z-index: 2;
      box-shadow: 0px 4px 17px 0px rgba(92, 96, 150, 0.16);
      background-color: #fff;

      .operating {
        border-top: none !important;
      }
    }

    /deep/ .operating {
      :nth-child(1) {
        background: #B4985B !important;
        color: #fff !important;
      }

      :nth-child(2) {
        border: 1px solid #B4985B;
        background: #fff !important;
        color: #B4985B !important;

      }

      :nth-child(3) {
        border: 1px solid #B4985B;
        background: #fff !important;
        color: #B4985B !important;

      }


    }
  }

  /deep/ .other-balance {
    /deep/ .info-area {

      // align-items: center;
      > span {
        &:last-child {
          color: #222 !important;

        }
      }
    }
  }

  /deep/ .newest-num {
    color: #000;
  }

}

#app {
  /deep/ .nav-type-1 {
    .van-tab__pane-wrapper {
      overflow: hidden;
    }
  }

  /deep/ .slots {
    /deep/ .ui-title {
      h2 {
        color: #000 !important;
      }
    }

    /deep/ .filter-nav {
      /deep/ .van-tab--active {
        span {
          font-weight: bold;
          color: #000 !important;
        }
      }
    }

    /deep/ .search {
      .search-trigger {
        background: rgba(40, 40, 40, 1) !important;

        /deep/ .van-icon, span {
          // color: #ccc !important;
        }
      }
    }

    /deep/ .filters {
      label {
        color: #666;
      }

      .active {
        color: #000 !important;
        font-weight: 600;
      }
    }

    /deep/ .games {
      .van-cell {
        border: none !important;
      }

      .info {
        background: #000;
      }
    }

    /deep/ .profit-swipe {
      .box {
        background: #000;
      }
    }
  }

  /deep/ .casino {
    background: #fff !important;

    /deep/ .countdown {
      color: #000 !important;
    }

    /deep/ .float-wrap {
      .game-item {
        border: none !important;
      }
    }
  }

  /deep/ .lotteries {
    .ui-title {
      h2 {
        color: #000 !important;
      }
    }

    .game {
      h3 {
        color: #000 !important;
      }
    }
  }

  /deep/ .sports {
    .match {
      color: #000 !important;

      li {
        span {
          color: #000;
        }
      }

      h3, p {
        color: #000;
      }
    }
  }

  /deep/ .esports {
    .match {
      color: #000 !important;

      li {
        span {
          color: #000;
        }
      }

      h3, p {
        color: #000;
      }
    }
  }

  /deep/ .van-popup.custom {
    background-color: #1F1B35 !important;

    .input-field {
      .input-box {
        background: #1F1B35;
      }
    }
  }

  /deep/ .custom {
    /deep/ .aagames-button-box {
      .aagames-button {
        color: #fff !important;
      }
      .aagames-button-default{
        border-color: #B4985B;
      }
    }

    /deep/ .van-button {
      .van-button__text {
        color: #fff !important;
      }
    }
  }

  /deep/ .vip-page {
    .chart {
      h2 {
        color: #000;
      }
    }
    .platform label{
      color: #FFF;
    }

    a.button {
      background: #B4985B !important;
      color: #fff !important;
    }

     .section {
      .flex-wrap {
        .item {
          button {
            background: #B4985B !important;
            color: #fff;
          }
        }
      }

      .custom {
        color: #666 !important;

        h3 {
          color: #fff !important;
        }
      }
    }
  }

  /deep/ .deposit-page {
    ///deep/ .deposit-main {
    //  > li {
    //    &:nth-child(1) {
    //      label {
    //        //color: #fff !important;
    //      }
    //
    //      .input {
    //        input {
    //          //color: #fff !important;
    //        }
    //
    //        input::placeholder {
    //          //color: #ffff !important;
    //        }
    //      }
    //
    //    }
    //  }
    //}

    .ui-buttons {
      .van-button {
        background-color: #B4985B !important;
        //color: #000;
      }
    }

    ///deep/ .van-nav-bar {
    //  /deep/ .van-icon {
    //    //color: #000 !important;
    //  }
    //
    //  /deep/ .van-nav-bar__title {
    //    //color: #000 !important;
    //  }
    //
    //  /deep/ .van-nav-bar__text {
    //    //color: #000 !important;
    //  }
    //
    //}

    .list-cells {
      .cell-foot {
        color: #666;
      }
    }
  }

  /deep/ .reset {
    //margin-top: @height-nav-bar;

    .select {
      span, i {
        color: #333;
      }

      // border-bottom: 2px solid @border-color;
    }
  }

  /deep/ .bankcard-page {
    /deep/ .van-nav-bar {
      color: #4D4C4D !important;

      .van-nav-bar__title {
        color: #4D4C4D !important;
      }

      .van-nav-bar__text {
        color: #4D4C4D !important;
      }

      /deep/ .van-nav-bar__left {
        color: #4D4C4D;

        i {
          color: #4D4C4D !important;
        }
      }
    }

    /deep/ .cell-body, .van-cell__value {
      color: #4D4C4D !important;

      input, textarea {
        color: #4D4C4D !important;
      }
    }

    /deep/ .van-icon-arrow {
      color: #4D4C4D !important;
    }
  }

  /deep/ .businessRecord {
    /deep/ .tab_top {
      p {
        color: #000 !important;
      }
    }

    /deep/ .van-tabs__wrap {
      .van-tab {
        .van-tab__text {
          color: #666 !important;
        }
      }
    }

    /deep/ .list {
      .van-list {
        .status {
          span:first-child {
            color: #000
          }
        }

        .header {
          span:first-child {
            color: #000
          }
        }
      }
    }

    /deep/ .record-title {
      color: #4D4C4D !important;

      .van-nav-bar__title {
        color: #4D4C4D !important;
      }

      .van-nav-bar__text {
        color: #4D4C4D !important;
      }

      /deep/ .van-nav-bar__left {
        color: #4D4C4D;

        i {
          color: #4D4C4D !important;
        }
      }
    }
  }

  /deep/ .drawer {
    .main-show {
      background-color: #1F1B35 !important;

      .data-time-picker {
        color: #fff;
      }

      .select-bar-i {
        color: #fff;
      }

      .active_selected {
        background: #B4985B !important;
        color: #000;
        border-color: #B4985B !important;
      }

      .van-row, .select-bar-i > div {
        border-color: #fff;
      }

      .select-button {
        background: #B4985B !important;
        color: #000;
      }
    }
  }

  /deep/ .accountSafe-page {
    /deep/ .van-nav-bar {
      color: #4D4C4D !important;

      .van-nav-bar__title {
        color: #4D4C4D !important;
      }

      .van-nav-bar__text {
        color: #4D4C4D !important;
      }

      /deep/ .van-nav-bar__left {
        color: #4D4C4D;

        i {
          color: #4D4C4D !important;
        }
      }
    }
  }

  /deep/ .tutorial {
    .aagames-button-box {
      //.aagames-button {
      //  color: #000 !important;
      //}
    }

    .item {
      .list {
        div {
          a {
            background-color: #B4985B !important;
            color: #fff;
          }
        }
      }

      .title {
        color: #333;
      }
    }

    /deep/ .problem {
      .item {
        color: #666!important;
        .left {
          color: #666;
        }

        .rigth {
          a {
            color: #666!important;
          }
        }
      }
    }
    /deep/ .problem.novice {
      .item{
        color: #666!important;
      }
    }
    h3 {
      color: #666;
    }
  }

  ///deep/ .tabs {
  //  .router-link {
  //    //color: #333 !important;
  //
  //  }
  //}

  /deep/ .member {
    margin-top: 1rem;
  }

  /deep/ .domain {
    .list {
      border-top: 1px dashed #fff;
      background: rgba(23, 23, 23, 1);
    }
  }

  /deep/ .person-entr {
    .br {
      background: #f7f7f7;
    }
  }

  /deep/ .register {
    /deep/ .aagames-form {
      .input {
        border-bottom-color: #3f3f3f !important;

      }
    }

    ///deep/ .aagames-button-box {
    //  .aagames-button {
    //    //color: #000 !important;
    //  }
    //}
  }

  /deep/ .person-entr {
    /deep/ .submit-form {
      p.text {
        color: #666 !important;
      }


    }
  }
  /deep/ .register{
    /deep/ .reset::after {
      background-color: #3f3f3f!important;
      opacity: 1;
    }

    /deep/ .input::after {
      background-color: #3f3f3f!important;
      opacity: 1;
    }
  }

  /deep/ .van-tabs .van-tabs__wrap{
    border-bottom-color: rgba(255,255,255,0.06);
  }

  ///deep/ .roadmap {
  //  .mapinfo {
  //    a {
  //      //color: #000 !important;
  //    }
  //  }
  //}

  /deep/ .nav-center {
    .member-info {
      .money {
        color: #fff;
      }
    }

    .no-token {
      //.aagames-button-box {
      //  button {
      //    color: #000 !important;
      //  }
      //}
    }
  }

  .profits-rank {

    /*/deep/ .rank-info{
      color: #000!important;
    }*/

    /deep/ .ranks {
      color: #fff !important;
    }
  }

  /deep/ .select {
    .days {
      .active {
        color: #000 !important;
      }
    }
  }

  /deep/ .vipOpen {
    .submit {
      color: #000 !important;
    }
  }

  /deep/ .empty {
    .aagames-button {
      color: #000 !important;
    }
  }

  /deep/ .agRevisePW-10018 {
    .aagames-button {
      color: #000 !important;
      background-color: #B4985B !important;
    }
  }

  /deep/ .container.regContainer .main#register {
    height: calc(100vh - 5.7rem);

    .van-tabs .van-tabs__nav {
      // border-color-: @border-color !important;
    }
  }

  /deep/ .bg-login .logo {
    top: 0 !important;
  }

  /deep/ .m-footer {
    .van-tabbar-item__text {
      color: #000;
    }
  }

  /deep/ .vanTabs {
    .van-tabs__nav {
      background: #fff;

      .van-tab--active {
        color: #000 !important;
        background-color: #B4985B !important;
      }
    }
  }

  /deep/ .bankcard-page {
    .ui-buttons {
      button {
        color: #fff !important;
      }
    }
  }

  /deep/ .btnStyle10018 {
    color: #000 !important;
    background-color: #B4985B !important;
  }

  /deep/ .message-title {
    span {
      color: #000;
    }
  }

  /deep/ .e-main {
    .van-tab {
      border: 2px solid #B4985B !important;

      .tabsTitle {
        color: #fff !important;
      }
    }

    .van-tab--active {
      color: #fff !important;
      background-color: #B4985B !important;
    }

    .main {
      li {
        .list {
          .item-header {
            .title {
              color: #ffff !important;
            }
          }

          .content {
            color: #999 !important;
          }
        }
      }
    }
  }

  /deep/ #wallet {
    /deep/ .van-popup .list > p {
      border-color: #B4985B !important;
      //color: #000 !important;
    }

    /deep/ .list {
      .item::after {
        background-color: #e5e5e5 !important;
      }
    }

    /deep/ .moneyBox {
      .treasury, .master_account {
        border-color: #B4985B !important;
        //color: #000 !important;
      }
    }

    /deep/ .tranfer_amount {
      .btn {
        background-color: #B4985B !important;
        //color: #000 !important;
        border: none;
      }
    }

    .record-title {
      span {
        //color: #000 !important;
      }
    }

    /deep/ .total-box {
      /deep/ .item {
        div {
          //color: #000 !important;
        }
      }

      /deep/ .incom-btn {
        div:first-child {
          border: 2px solid #B4985B !important;
          //color: #000 !important;
        }

        div:nth-child(2) {
          //color: #000 !important;
        }
      }
    }
  }

  /deep/ .help {
    .van-icon {
      color: #000 !important;
    }
  }

  /deep/ #apply {
    .accout .automatic > span:first-child {
      color: #000;
    }

    .accout .automatic {
      border-color: @border-color !important;
    }

    .accout .transfer_out .content > .content_l > .wallet {
      color: #000;
    }

    .accout .transfer_out .content > .content_l .refresh {
      color: #000;
    }

    /deep/ .btn-all div {
      //color: #000 !important;
    }

    .accout ul > li {
      box-sizing: border-box;
      border: 2px solid #B4985B;

      p {
        //color: #000 !important;
      }
    }

    .accout ul > li.active {
      // background-color: #B4985B !important;
      // border-color: #B4985B;

      p {
        font-weight: bold;
      }
    }

    .transfer {
      .input_ {
        border-color: @border-color !important;

        input {
          //color: #000;
        }
      }

      .aagames-button-box {
        .line {
          background-color: #1F1B35;
          color: #fff;
        }

        div {
          //color: #000;
        }
      }
    }
  }

  /deep/ #home {
    /deep/ .aagames-form {
      /deep/ .input {
        border-bottom-color: #3f3f3f !important;
      }
    }
  }

  /deep/ .access {
    /deep/ li > .list_content {
      border-color: @border-color;
    }
  }

  /deep/ .tab_top::after {
    background-color: #e5e5e5;
  }

  /deep/ .van-cell-group .van-cell {
    border-bottom-color: @border-color !important;
  }

  /deep/ .aagames-select-box {
    .select {
      border-bottom-color: @border-color !important;
    }

    .select::after {
      background-color: #e5e5e5 !important;
    }
  }

  /deep/ .reseter {
    .reset {
      div {
        border-bottom-color: @border-color;
      }
    }
  }
  /deep/ #home{
    .home{
      .van-tabs{
        border-bottom: none!important;
        //.van-tabs__wrap{
        //  .van-tabs__nav::after{
        //
        //  }
        //}
      }
    }
  }
  /deep/ .container{
    .login-out > span{
      color: #fff;
    }
    .regContainer .register .aagames-form{
      background: none!important;
    }
  }
  /deep/ .aagames-form .input > span, /deep/ .aagames-form .input > .iconfont, /deep/ .aagames-form .input .areaNum{
    border-right-color: rgba(255,255,255,.2);
  }
}

.van-dialog {
  .van-dialog__header {
    color: #000 !important;
  }
}


