.Join {
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 600px !important;

  h2, h3 {
    color: #000 !important;
  }

  h2 {
    text-align: center;
    width: 100% !important;
  }

  .feature {
    .item {
      p {
        color: #333 !important;
      }
    }
  }

}
.container{
  /deep/ .van-cell__title{
    color: #000000!important;
    text-align: left!important;
  }
  /deep/ .van-collapse-item__content{
    text-align: left;
  }
  .contract{
    margin: 1rem 0!important;
    .items{
      padding: 0!important;
      background: #1A192A!important;
      .list{
        width: 50%;
        .text{
          font-size: 0.24rem!important;
        }
      }
    }
  }
}
.title-h2 {
  color: #000 !important;

  &::before, &::after {
    background-color: #2F2F2F !important;
  }
}

.statistics.proxy {
  .item {
    background: @primary-color!important;
    background-color:@primary-color!important;
    .commission,.member,.date{
      color:#ffff!important;
    }
    .household{
      font-weight:600!important;
      color:#fff!important;
      border-bottom: none!important;
    }
  }
}

.statistics {
  .item {
    box-shadow: 0px 8px 34px 0px rgba(92, 96, 150, 0.16) !important;
    background:rgba(255,255,255,1)!important;
    .title {
      font-size: 0.28rem;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 0.1rem;
    }
  }
}

.step {
  .item {
    &:nth-child(2n+1) {
      background-color: #1A192A !important;
    }
    &:nth-child(2n) {
      background-color: @primary-color !important;
      .text,.desc,.p {
        color: #fff !important;
      }
    }

    .text {
      color: #fff !important;
    }
  }
}

.title-h3 {
  color: #999999;
}
.commission-plan{
  table{
    th{
      color: #E3E3E3;
    }
    td{
      color: #000!important;
      border-color: #E3E3E3!important;
    }
    tr{
      border-color: #E3E3E3!important;
    }
  }
}
.Join{
  h2{
    margin-top: 1.3rem!important;
  }
  div.join-us{
    color: #fff!important;
  }
}
.proxy{
  .item{
    .member{
      margin-top: 0.4rem!important;
    }
  }
}
