.m-header {
  ~ .bg-img {
    background-color: @bg-color;
    background-image: url('~@assets/img3_0/home/esports/bg@2x.png');
    background-size: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

/deep/ .van-tabs {
  /deep/ .van-sticky {
    background: #fff;
    color: #fff;

    /deep/ .van-tabs__nav {
      /deep/ .van-tab--active {
        // color: #000000 !important;
        font-size: 28px !important;
      }
    }
  }

  /deep/ .van-tabs__nav {
    /deep/ .van-tab {
      color: #666 !important;
      font-size: 28px !important;
    }

    /deep/ .van-tab--active {
      // color: #000000 !important;
      font-size: 32px !important;
    }

    /deep/ .van-tabs__line {
      width: 56px !important;
      height: 6px !important;
      border-radius: 3px !important;
    }
  }
}

/deep/ .app-install {
  background: #96A5C5 !important;

  .van-icon {
    color: #AAB6D0 !important;
  }
}

/deep/ .search-page {
  .search-head .van-search__content {
    background-color: #1E1E1E !important;
  }
}

/deep/ .profits-rank {
  .m-header.van-nav-bar {
    background-color: #fff !important;

    .van-nav-bar__left .van-icon-arrow-left {
      color: #666 !important;
    }

    .van-nav-bar__title {
      color: #333 !important;
    }
  }

  .m-body .rank-info {
    background-color: #022069 !important;
  }
}

/deep/ .moneyShow .amount {
  margin: 0 30px !important;
  border: 2px solid @primary-color !important;

  .item {
    .bottom {
      color: #000;
    }
  }

  .px2 {
    background-color: @primary-color !important;
  }
}

/deep/ .aboutMore {
  .aagames-select-box .select {
    border-bottom: 2px solid rgba(0, 0, 0, .06);
  }

  .login-out {
    background: none !important;
    margin-top: 80px !important;

    span {
      background: none !important;
      border: 2px solid @primary-color;
      color: @primary-color !important;
    }
  }
}

/deep/ .callWe {
  .title {
    font-weight: bold;
  }
}

#app /deep/ .container.aboutWe {
  .aagames-nav-bar {
    background-color: #EFEFEF;
  }

  .main {
    background-image: url('~@assets/img3_0/personalData/bg_pic@2x.png') !important;

    img {
      margin-top: 22px;
      margin-bottom: 212px;

    }
  }
}

/deep/ .help-detail img {
  height: auto;
}

/deep/ .agpsw {
  .reset {
    p {
      color: #666 !important;
    }

    input {
      color: #333;
      border-bottom: 2px solid rgba(0, 0, 0, .06);
    }
  }
}

#app /deep/ .serviceSubscription {
  .main .info {
    background-color: transparent !important;
    border: 2px solid #F2F2F2;

    .title {
      color: #000 !important;
    }
  }

  .aagames-select-box .select {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
}

/deep/ .withdraw-page {
  .withdraw-form > li {
    .input h3 {
      color: #000;
      font-weight: bold;
    }

    .input-head {
      color: #000;
    }

    &.charge label {
      color: #000;
    }

    .table thead th {
      background-color: @primary-color !important;
      border-color: @primary-color;
      color: #fff;
    }

    .table tbody td {
      color: #000;
      border-color: @primary-color;
    }
  }
}

/deep/ .washcode {
  .main .wash-money {
    background-color: @primary-color !important;

    .money p {
      color: #fff !important;
    }

    .btn-wash {
      border: 2px solid #fff;
    }
  }

  .link {
    color: #000;
  }
}

/deep/ .profits-rank {
  .van-nav-bar__title {
    font-weight: bold;
  }

  .ranks li {
    border: 2px solid rgba(0, 0, 0, .06);

    .head:before {
      font-weight: bold;
    }

    .desc p {
      color: #666 !important;
    }
  }
}

/deep/ .forgerPassword {
  .aagames-button-box {
    button {
      background-color: @primary-color !important;
    }
  }

  .steps li.active {
    color: #333;
  }
}

/deep/ .vip-page {
  .empty {
    p {
      color: #666;
    }
  }
}

/deep/ .submit-form {
  .reset input, .input input, .reset .textinput, .input .text {
    color: #000 !important;
  }

  .input img {
    width: 44px !important;
    margin: 0 10px 0 0 !important;
  }

  .input p {
    color: #666 !important;
  }
}

/deep/ .agent-form-10024 {
  .van-list {
    .item {
      border-bottom: 2px solid rgba(0, 0, 0, .1);

      .p2 .right, .p2 .left {
        color: #999;
      }
    }
  }

  .nomore {
    color: #525152;
  }
}

/deep/ .reportForm {
  .table .item {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
}

/deep/ .reportForm {
  .list .table {
    border-bottom: 2px solid rgba(0, 0, 0, .06);
  }
}

/deep/ .agMemberList {
  .van-list {
    .item {
      border-bottom: 2px solid rgba(0, 0, 0, .06);
    }
  }

  .main .list .item .p1 {
    font-size: 24px;
    color: #999;

    .left {
      color: #000 !important;
      font-size: 32px;
    }
  }
}

/deep/ .aboutMore {
  min-height: auto !important;

  .aagames-nav-bar {
    background-color: #fff !important;
  }

  .login-out {
    font-weight: bold;
  }

  .aagames-select-box .select {
    margin-bottom: 4px;
  }
}

/deep/ .withdraw-page {
  .input-body input {
    color: #000;
  }
}

.guide {
  display: none
}

/deep/ .task-logo {
  width: 315px;
  height: 98px !important;
}

/deep/ .agAddBankBind {
  top: 0 !important;
}

/deep/ .container.downApp {
  background-color: @primary-color !important;
  background-size: cover;
  background-position: center;
}

.deposit-page {
  /deep/ .m-header.van-nav-bar {
    background: #fff !important;

    .van-nav-bar__left {
      .van-icon-arrow-left.van-icon.van-nav-bar__arrow {
        color: #000 !important;
      }
    }

    .van-nav-bar__right {
      .van-nav-bar__text {
        color: #000;
      }
    }

  }
}

/deep/ .activities {
  .van-nav-bar .van-nav-bar__title {
    font-weight: normal;
  }

  .van-nav-bar__right {
    color: #000 !important;
    .kefu.van-icon-service.van-icon{
      color: #022069!important;
    }
  }

  .events .van-cell .event-item .info h3 span {
    .vip {
      background: #022069 !important;
    }

    .limit {
      background: linear-gradient(130deg, #D75DFF 0%, #B543E2 100%) !important;
    }
  }
}

/deep/ .vip-page {
  .chart .days {
    .van-dropdown-menu__title {
      line-height: initial !important;
    }
  }

}
/deep/ .duty{
  .hideDuty{
    background-image: none!important;
    background-color: #022069!important;

  }
}
