.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-position: center !important;
  .nav-bar{
    .left{
      color: #999!important;
    }
    .right{
      div:first-child{
        background:rgba(184,184,184,1)!important;
        color: #fff!important;
      }
      div:nth-child(2){
        background:rgba(254,228,43,1)!important;
        color: #000!important;
      }
    }
  }
  .main{
    margin-top: 0!important;
  }
}
