.list{
  p{
    color: #333;
  }
}
.router-link{
  background: none!important;
  border: 2px solid #353435!important;
}
.router-link-active{
  background: #FEE42B!important;
  color: #fff!important;
  border-color: #FEE42B!important;
}
