.container{
    .main{
        // background-image: url(~@assets/img3_0/appdown/bg@3x.png) !important;
        // background-size: cover !important;
    }
    &.aboutWe{
        .main{
            background-image:none !important;
        }
    }
    .list{
        color:#000 !important;
    }
}
.accountSafe-page .aagames-select-box .personal-title{
    color:#000 !important;
}
.accountSafe-page {
    color:#666 !important;
}
.accountSafe-page .van-nav-bar /deep/ .van-nav-bar__title{
    color:#000 !important;
}
.accountSafe-page .van-nav-bar /deep/ .van-nav-bar__right{
    color:#000 !important;
    .van-nav-bar__text{
        color:#000 !important;
    }
}