.container.login, .container.regContainer, .container.registerSuccess{
  overflow: auto;
  background-size: 100% 100%;
  overflow: auto;
  background-attachment: fixed;
  #g-code{
    .input{
      border-radius: 90px;
      input{
        padding-left: 0;
        &::placeholder{
          color: #bbb;
        }
      }
    }

    .send-sms{
      color: #fff;
      height: 40px;
      line-height: 40px;
      top: 50% !important;
      margin-top: -20px!important;
      margin-right: 0;
      padding: 0;
    }
  }
  .aagames-button{
    width: 100%;
    border-radius: 90px!important;
  }
  .main#register{
    .register{
      background: rgba(0,0,0,0.5);
      border-radius:24px 0px 0px 24px;
    }
    .home-regist-btn{
      background:rgba(255,255,255,.35);
    }
    .aagames-form .input{
      margin-bottom: 20px;
    }
    .ship,.circle:before, .circle:after{
      background-color: @bg-gradient-color;
    }
    .ship{
      background-image: url('../../img3_0/login/onekey_bg@2x.png');
      background-size: 100% auto;
    }
    .fill{
      .aagames-form{
        padding:0;
        .areaNum{
          padding: 0!important;
          color: #fff!important;
          border-right-color: rgba(255,255,255,.3)!important;
          width: 150px;
          img{margin: 0!important;}
        }
        .input{
          border-radius: 90px;
          background: rgba(255,255,255,0.2)!important;
          input{
            background: none!important;
          }
          img{
            margin-left: 26px;
          }
        }
        .right-button{
          right:0;
          top: 55%;
          background: none!important;
          border-left: 2px solid #bbb!important;
          border-radius: 0;
          height: auto;
          line-height: 1;
          // top:10px;
        }
      }
    }
    .onekeyText{
      text-align: center;
      color: #fff;
    }
    .funDiv {
      margin-top: 20px;
      color: #bbb;
      font-size: 20px;
      span {
        display: inline-block;
        height: 100%;
      }
      i {
        width: 30px;
        height: 30px;
        margin-right: 14px;
        display: inline-block;
        transform: translateY(20%);
        &.checkOff{
          border: 2px solid #fff;
          border-radius: 50%;
        }
      }
      a {
        color: #bbb;
      }
    }
  }
  .customer .wait, .customer .kefu{
    color: #fff;
  }
}

//.main#register{
//
//    display: table;
//    table-layout: fixed;
//    width: calc(100% - 80px);
//    >.register{
//        background: rgba(0,0,0,.5);
//        border-radius: 20px 0 0 20px !important;
//        overflow: hidden;
//        display: table-cell;
//    }
//    .fill,.function,.customer,/deep/.input{
//
//    }
//    border-top-left-radius: 20px !important;
//    border-top-right-radius: 20px !important;
//    /deep/ .circle {
//        &:before,
//        &:after {
//            background-color: #4080FF;
//        }
//    }
//}
//.main#home{
//  background-color:transparent!important;
//    .function,.customer,/deep/.input{
//
//    }
//}
//
//.function{
//    .aagames-button-box{
//        .line{
//            margin-top: 40px;
//            // border: 2px solid @border-color-base;
//            background: @bg-color-2 !important;
//            color: #fff;
//        }
//    }
//}
//.container.registerSuccess {
//    background-position: 0 0;
//    background-repeat: no-repeat;
//    background-size: 100%;
//    .aagames-nav-bar{
//        background: transparent;
//    }
//    .input{
//        input{
//            background-color: @bg-card-color !important;
//        }
//        span{
//            border: 0;
//        }
//        background-color: @bg-card-color !important;
//    }
//    .line{
//        background-color: @bg-card-color;
//    }
//}
//.rocket{
//    .ship{
//        background-image: url('../../img3_0/login/onekey_bg@2x.png');
//        background-size: 100%;
//        background-color: transparent;
//    }
//}
.bg-login{
  top: 0;
  padding-top: 100px!important;
}
