/deep/ .m-header.van-nav-bar{
    background:#402110 !important;
}
.m-body .rank-info{
    background:#402110 !important;
}
.latest .item{
    border-color:rgba(255,255,255,0.06) !important;
}
.float-button{
    background:#4D2110;
    color:#fff !important;
    .van-icon{
        color:#BF613F;
    }
}