.Join{
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 8.2rem !important;
    h2,h3{
        color: #000000 !important;
    }
    h2{
        text-align: center;
        width: 100% !important;
    }
}
.title-h2{
    color: #000000 !important;
    &::before, &::after{
        background-color: #2F2F2F !important;
    }
}
.step{
    .item{
        background: @primary-color !important;
        .text{
            color: #fff !important;
        }
        p{
            color: #fff!important;
        }
    }
}

.feature {
    .item {
        p {
            color:#333333 !important;
        }
    }
}

.title-h3 {
    color:#999999 !important;
}

.statistics {
    .item{
        background-color: #FFFFFF !important;
        box-shadow:0px 8px 34px 0px rgba(92,96,150,0.16);
        .title {
            color: #000;
        }
    }

    p {
        line-height:33px !important;
        color:#999999;
        margin-top: 20px !important;
    }
}

.proxy {
    .item {
        background: @primary-color !important;

        .member {
            color: #fff !important;
        }
    }
}

.commission {
    color:#ccc !important;
}

.commission-plan {
    table {
        border: 0.01333rem solid rgba(227, 227, 227, 1) !important;
    }
    th{
        color:#E3E3E3 !important;
        background: @primary-color !important;
        border: 0.01333rem solid #343436 !important;
    }

    th:nth-child(3){
        width:190px;
        line-height: 33px;
    }

    th:nth-child(1){
        width:120px;
        line-height: 33px;
    }

    td {
        background: #fff;
        color: #000000 !important;
        border: 0.01333rem solid #E4E4E6 !important;
    }
}

.commission-info {
    color:#999999 !important;
}

.van-collapse-item__content {
    p {
        color:#999 !important;
    }
}
 .contract /deep/ .van-cell__title{
     text-align: left;
 }

.footer{
    margin:0 !important;
    margin-top: 40px !important;

    .text {
        font-size:24px !important;
    }
}

.contract {
    .items{
        background-color: @primary-color!important;
        .list {
            flex:1 !important;
        }
    }

    /deep/ .van-cell__title {
        color: #000000 !important;
    }

    /deep/ .van-collapse-item__content {
        color: #999 !important;
    }
}

.container {
    .Join {
        height: 17.30667rem !important;
    }
}
/deep/ .aagames-nav-bar{
    background:#fff !important;
}

