.main{
    .domain{
        background-image:url('../../img3_0/agent/agent_bg_info@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        background-color:transparent !important;
        .user{
            background:none !important;
            box-shadow: none !important;
        }
        .list{
            background:#070707 !important;
            box-shadow: none !important;
        }
    }
}
.container .main .member .right .name{
    color:#000 !important;
}
.container .main .person-entr .br{
    background:#F7F7F7 !important;
}
.container .main .login-out{
    background:#A37C3C !important;
}
.submit-form .reset, 
.submit-form .input{
    border-color:rgba(255,255,255,0.06) !important;
}
.submit-form .reset input,
.submit-form .input input,
.submit-form .reset .textinput,
.submit-form .input .text{
    color:#999 !important;
}