.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    .main{
        background:none !important;
        height:auto !important;
    }
    .main{
        .experience{
            color:#fff !important;
        }
        .downAppBtn{
            button{
                margin-top:450px;
                color:#fff !important;
            }
        }
    }
}