.Join{
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 700px !important;
    h2,h3{
        color: #fff !important;
    }
    h2{
        text-align: center;
        width: 100% !important;
    }
}
.title-h2{
    color: @primary-color !important;
    &::before, &::after{
        background-color: @primary-color !important;
    }
}
.step{
    .item{
        &:nth-child(2n+1) {
            background-color: rgba(0,0,0,0.5) !important;
        }
        &:nth-child(2n) {
            background-color: @primary-color !important;
        }
        .text{
            color: #fff !important;
        }
    }
}
.statistics{
    ._item{
        .item{
            background:#0D1928 !important;
        }
    }
}
.container .commission-plan table th{
    
}
.container .commission-info{
    color:rgba(255,255,255,0.4) !important;
}
.proxy .item{
    .member{
        color:rgba(255,255,255,0.4) !important;
    }
    .commission{
        color:#ccc !important;
    }
    .household{
        color:#fff !important;
    }
    .date{
        color:#BEBEBE !important;
    }
}