.casino{
    .main,/deep/.game-item{
        border:0;
    }
}
.slots{
    /deep/.van-cell{
        border: 0 !important;
    }
    /deep/.filter-nav{
        border-bottom: 2px solid rgba(165, 154, 154,.1) !important;
    }
    /deep/.search-trigger{
        color: #fff;
    }
    /deep/.login-name{
        color: #fff !important;
    }
    /deep/.ui-title{
        color: #000;
    }
    /deep/.jackpot{
        background:#282828;
        border-radius: 10px;
        h3{
            color: @primary-color;
        }
    }
}
.lottery{
    /deep/h2{
        color: #000 !important;
    }
    /deep/.lotteries{
        h3{
            color: #000 !important;
        }
    }
}
.featured{
    padding-bottom: 500px;
}
/deep/.aa-footer{
    position: absolute !important;
    bottom: @space-gap - 24px !important;
    padding: @space-gap !important;
    border-radius: 0 !important;
    left: 0;
}
.search-page{
    background-color: #fff !important;
    .game-item{
        background-color: @bg-card-color;
    }
}