.container{
    // background-image: url('~@assets/img3_0/login/login-bg@2x.png');
    /deep/.van-tabs .van-tabs__nav{
        background-color: @bg-card-color !important;
    }
}
/deep/.submit-form{
    .reset{
        &::after{
            background-color: rgba(153,153,153,1) !important;
        }   
    }
}
.container
 {
  background-color: #FD902A !important;
  background-image: url(../../img3_0/login/login-bg@2x.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  .aagames-login-header {
    height: 600px;
  }
  .van-tabs .van-tabs__nav .van-tab {
    color: #999999 !important;
  }
  .van-tabs .van-tabs__nav .van-tab--active {
    color: #FD902A !important;
  }
}
.container .main .accountInfo .login-info .aagames-form .input 
{
  border-bottom: 1px solid #DDDDDD !important;
  
}
.container .main .register p {
  font-size:32px;
  color: #000;
  font-weight:600;
}
.container .main .accountInfo  .aagames-button-box .line {
  background-color: #595B6E !important;
}
.container .down_logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.container /deep/ .van-tabs .van-tabs__nav .van-tab--active {
    color: #FD902A;
}
#app .container .main {
    margin-top: 0;
}
.container /deep/ .aagames-nav-bar {
    color: #eee;
}
#app .container>.downhz {
    display: none;
}