.latest{
    .item{
        border-bottom: 2px solid @border-color !important;
    }
}
/deep/.m-header.van-nav-bar .van-nav-bar__left{
    .van-icon{
        color: #fff !important;
    }
}
/deep/.van-nav-bar .van-nav-bar__title {
    color: #fff !important;
}
.float-button{
    .van-icon,span{
        color: #fff !important;
    }
}
.profits-rank {
    .rank-info,
    .m-header.van-nav-bar
     {
        background-color: #585a6d;
    }
    .latest dl dd {
        font-weight: 600;
    }
}
.latest h2 {
    color: #000;
    font-weight: 600 !important;
}
.latest dl.item-head {
    color: #333333;
}
.latest dl.item-head dt{
    font-weight: 600 !important;
}
.float-button{
    background: #585a6d !important;
}
.float-button .van-icon {
    color: #FD902A !important;
}