.shareImg{
    transform: rotate(270deg);
}

.container .accout > .transfer > .aagames-button-box{
    padding: 0;
    justify-content: space-between!important;
    div{
        width: 330px!important;
    }
    .line{
        background:transparent !important;
        color:@primary-color !important;
        border:2px solid @primary-color;
    }
}
.container .accout .automatic{
}
.container .accout .transfer_out > p{
    color:#000 !important;
}

.container .accout .automatic > span:first-child{
    color:#666 !important;
}
.container .accout .transfer_out .content{
    border-bottom: 2px solid rgba(0,0,0,.06);
}
.container .accout .transfer_out .content > .content_l > .wallet{
    color:#666 !important;
}
.container .accout .note{
    color:#000 !important;
}
.container .accout .trans-in{
    color:#000 !important;
}
.container .accout > .transfer > p{
    color:#000 !important;
}
.container .accout ul > li.active > p{
    color:#fff !important;
}
.container .accout > .transfer > .input_ > span{
    color:#666 !important;
}

#apply .accout ul > li {
    background-color: transparent;
    border: 2px solid #F2F2F2;
    p:first-child{
        color: #666!important;
    }
    p:nth-child(2){
        color: #000!important;
    }
    &.active{
        background-color: @primary-color!important;
        p{
            color: #fff!important;
        }
    }
}

.container .accout .transfer_out .content > .content_l .refresh{
    color: #000 !important;
}
.quota .van-popup{
    .list ul li{
        > .name{
            margin-left: 0;
            color: #666;
        }
        > .money{
            color: #000;
        }
    }
    .choose > .father{
        > .item > .name{
            color: #666!important;
        }
        .son .name{
            color: #666!important;
        }
    }
}
