.errorImg{
    margin: 0 0 0 108px;
    width: 660px !important;
    height: 620px !important;
    background: url(~@assets/img3_0/error/error_bg.png) no-repeat;
    background-size: 100% auto;
}
.container{
    background:linear-gradient(135deg,rgba(255,251,246,1) 0%,rgba(255,255,255,1) 50%,rgba(255,253,249,1) 100%);
    background-size: cover;
    overflow: hidden;
}
.text {
    position: absolute;
    bottom: 60px;
    color: @primary-text-color;
    text-align: left;
    padding: 0 40px;
    .code {
        margin: 10px 0;
        height: 44px;
        font-size: 32px;
        font-weight: 600;
        color: rgba(82, 81, 82, 1);
        line-height: 44px;
    }
    .chinese {
        height: 88px;
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        color: #999;
        line-height: 44px;
    }
    .english {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        color: #999;
        line-height: 40px;
    }
    .aagames-button-box {
        margin: 1rem auto;
        text-align: left;
        padding: 0;
        .aagames-button{
            width: 340px;
        }
    }
    .error_text{
        font-size: 150px;
        color: #31393C;
        font-weight: bold;
    }
}
.error-logo{
    width: 240px;
    display: block;
    vertical-align: top;
    margin: 120px auto 10px;
}
