.shareImg{
    transform: rotate(270deg);
}

.container .accout > .transfer > .aagames-button-box .line{
    background:transparent !important;
    color:@primary-color !important;
    border:2px solid @primary-color;
}
.container .accout .automatic{
    border:none !important;
}
.container .accout .transfer_out > p{
    color:#000 !important;
}

.container .accout .automatic > span:first-child{
    color:#000 !important;
}
.container .accout .transfer_out .content > .content_l > .wallet{
    color:#000 !important;
}
.container .accout .note{
    color:#000 !important;
}
.container .accout .trans-in{
    color:#000 !important;
}
.container .accout > .transfer > p{
    color:#000 !important;
}
.container .accout ul > li.active > p{
    color:#fff !important;
}
.container .accout > .transfer > .input_ > span{
    color:#666 !important;
}

#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #0F1C2E !important;
    }
}

.container .accout .transfer_out .content > .content_l .refresh{
    color: #000 !important;
}