.px30 {
  width: 30px;
}
.px20 {
  width: 20px;
}

.mb40{
  margin-bottom: 40px;
}

.mt30{
  margin-top: 30px;
}

.marginCenter{
  margin:0 auto;
}

.page{
  .van-nav-bar .van-nav-bar__title,.van-nav-bar .van-nav-bar__left .van-icon{
    color: #000 !important;
  }
}

.deposit-main{
  .board{
    background-color:  #fff !important;
    .list-cells{
      .cell{
        color: #666 !important;
      }
    }
  }
  > li.quick-select .cell .cell-foot{
    color: #666 !important;
  }
  .list-cells .cell .card-like li > span{
    color: #666 !important;
  }
  > li.quick-select .cell input{
    color: #666 !important;
  }
}

.serviceSubscription .main .info{
  background-color:  @primary-color !important;
  .title{
    color: #fff !important
  }
  p{
    color: #666 !important;
  } 
}

.container .main .wash-money{
  background: transparent !important;
  .money{
    p{
      color: #000 !important;
    }
  }
}

.aagames-login-header .bg-login{ 
  padding:1.47333rem 0 0 !important;    
  width: 100% !important;
  height: 35% !important;
  position: absolute !important;
  top: 0px !important;
  .logo{
      // width:3rem;
      // height:50% !important;
      height:260px !important;
      width:260px !important;
      object-fit: scale-down;
      margin-top: 100px !important;
  }
}

.daliy-main{
  background-color:  transparent !important;
  h3{
    color: #fff !important;
  }
  p{
    color: #666 !important;
  }
}
