#wallet {
    input::-webkit-input-placeholder {
        color: #999999;
    }
}
.tranfer_amount {
    div {
        border-bottom: 0.02667rem solid rgba(255,255,255,0.06) !important;
    }

    .active {
        background: @primary-color !important;
        border-color: @primary-color !important;
    }
}
.container .aagames-header{
    background:@primary-color !important;
    border-color:@primary-color !important;
}
.main .list .item > div > span:first-child{
    color:#666 !important;
}
.main .list .item .blod > span{
    color:#000 !important;
    &:first-child{
        color:#000 !important;
    }
}
/deep/ .van-popup .list p{
    border-color:#666 !important;
    color:#666 !important;
    &.active{
        border-color:@primary-color !important;
        color:#fff !important;
    }
}
#wallet /deep/ .moneyBox > .finshBox > .btn{
    color:#fff !important;
}
