.errorImg{
    margin-top: 420px !important;
    width: 531px !important;
    height: 268px !important;
}
.container{
    background-image: url('~@assets/img3_0/other/bg@2x.png');
    background-size: cover;
}
.text{
    top: 640px !important;
}