.message-title{
    color:#000 !important;
    .van-icon{
        color:#000 !important;
    }
}
.e-main{
    /deep/ .van-tabs .van-tabs__nav{
        background-color: @primary-color;
        .tabsTitle{
            padding: 0 30px;
            i{
                right: 0;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
            }
        }
        .van-tab{
            color:#fff !important;
        }
        .van-tab--active{
            background:#11358E !important;
            color:#fff !important;
        }
    }
    /deep/ .van-list li{
        background-color: transparent!important;
        border: 2px solid #F2F2F2;
        .item-header .title{
            color: #000;
        }
        .content{
            color: #666;
        }
    }
}

