/deep/.container .aagames-nav-bar{
    background-color: #fff !important;
    color: #1C1A1D !important;

}
.tutorial{
    /deep/h3{
        color: #000 !important;
    }
    /deep/.title{
        color: #000 !important;
    }
}
/deep/.list .footer{
    border-color: #666 !important;
    >.top{
        div:nth-child(2) {
            border-color: #666 !important;
        }
    }
    >.bottom{
        border-color: #666 !important;
    }
}
