.container{
    .main{
        // background-image: url(~@assets/img3_0/appdown/bg@3x.png) !important;
        // background-size: cover !important;
    }
    &.aboutWe{
        .main{
            background-image:none !important;
        }
    }
}
.aagames-select-box .select span{
    color:#000 !important;
}
.accountSafe-page /deep/ input{
    color:#000 !important;
}
.accountSafe-page /deep/ input::-webkit-input-placeholder{color:#666 !important;}
.accountSafe-page /deep/ input::-moz-placeholder{color:#666 !important;}
.accountSafe-page /deep/ input::-moz-placeholder{color:#666 !important;}
.accountSafe-page /deep/ input::-ms-input-placeholder{color:#666 !important;}

.container .main .login-out > span{
    color:#fff !important;
}
.accountSafe-page .aagames-select-box .personal-title{
    color:#000 !important;
}