.shareImg{
    transform: rotate(270deg);
}
.automatic,.input_{
    border-bottom:2px solid rgba(153,153,153,.1) !important;
    span{
        color: #666 !important;
    }
}
.transfer_out{
    p{
        color:#000 !important;
    }
}
.trans-in,.note{
    color: #000 !important;
}
.transfer{
    >p{
        color: #000 !important;  
    }
}
.accout{
    li.active{
        p{
            color: #fff !important;
        }
    }
}
#app .container .accout ul > li > p:nth-child(2) {
    color: #666666;
}

#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #CF7521 !important;
    }
}