.m-body{
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    background: #ffffff !important;
    /deep/ .filter-nav .van-tabs .van-tabs__nav{
        background-color:transparent !important;
    }
    /deep/ .van-tabs {
        .van-tabs__nav {
            background-color: transparent;
            // background: @bg-color;
            .van-tab {
                color: #666;
            }
            .van-tab--active {
                color: #fff;
            }
        }
    }
    /deep/ .labels label{
        color:#666 !important;
        &.active{
            color:@primary-color;
        }
    }
    /deep/ .sports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .esports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .slots{
        .jackpot{
            background-image:url('../../img3_0/home/slots/jackpot-bg_1@2x.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            .jackpot-text{
                h3{
                    color:#fff !important;
                }
                p{
                    color:#fff !important;
                }
            }
        }
        .search-trigger{
            background:#4c4c4c !important;
        }
        .search-trigger .van-icon{
            // color:#666 !important;
        }
        .search-trigger span{
            color:#ccc !important;
        }

    }
    /deep/ .profit-swipe .van-swipe-item .tag{
        background:@primary-color !important;
        color:#fff !important;
    }
    /deep/ .van-tabs__content{
        .van-tab__pane-wrapper{
            &:first-child{
                padding:0 !important;
                #banner{
                    margin:0 auto 24px !important;
                }
                .van-tab__pane>.van-image{
                    padding:0 0.4rem;
                }
                .notice{
                    margin:0.4rem 0.4rem 0;
                    width:auto;
                    border-color:#E3E3E3 !important;
                    box-shadow: none !important;
                    > .van-icon{
                        color:#525152 !important;
                    }
                    .van-swipe .van-swipe-item{
                        color:rgba(153, 153, 153, 0.8) !important;
                    }
                    .action{
                        color:#999 !important;
                        &::before{
                            background:#E3E3E3 !important;
                        }
                        .van-icon{
                            color:#999 !important;
                        }
                    }
                }
                .featured{
                    .app-index-3{
                        .title{
                            .title_top{
                                font-size:0.42rem;
                                font-weight: bold;
                            }
                        }
                        .gameList{
                            padding:45px 0.4rem 25px;
                            .banner ul li .title_desc_second{
                                color:#ccc !important;
                            }
                        }
                        .groupInfo{
                            overflow:hidden;
                        }
                        .buss{
                            padding-top:40px;
                            .title_zh{
                                .title_top{
                                    color:#000 !important;
                                }
                            }
                            .list .list_item .item_box p{
                                color:#000 !important;
                            }
                            .list .list_item{
                                width:40% !important;
                            }
                        }
                        .link{
                            ul{
                                li{
                                    &:nth-child(2){
                                        border-left:1px solid rgba(0,0,0,0.1);
                                        border-right:1px solid rgba(0,0,0,0.1);
                                    }
                                }
                            }
                        }
                        // .copyright{
                        //     color:#fff !important;
                        // }
                    }
                }
            }
        }
    }
    // /deep/ .nav-center .member-info{
    //     background:none !important;
    //     border:3px solid @primary-color !important;
    //     .deposit{
    //         height:51px !important;
    //     }
    // }
    /deep/ .van-list.games{
        justify-content: space-between !important;
    }
    /deep/ .van-sticky{
        background:@bg-color !important;
    }
    // /deep/ .van-tabs .van-tabs__nav{
    //     background:@bg-color !important;
    // }
    /deep/ .lotteries .game h3{
        color:#000 !important;
    }
    /deep/ .lotteries .ui-title h2{
        color:#000 !important;
    }
}

.aagames-nav-bar {
    background: #ffffff !important;
}

/deep/ .filter-nav{
    border-color:rgba(0,0,0,0.06) !important;
}

/deep/ .nav-center .member-info{
    background:none !important;
    border:3px solid @primary-color !important;
    .money{
        color:#EC0237 !important;
        .van-icon{
            color:rgba(102,102,102,0.4) !important;
        }
    }
    .deposit{
        height:51px !important;
    }
}