.m-body{
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    // background:#69533D;
    /deep/ .sports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .esports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .slots{
        .jackpot{
            background-image:url('../../img3_0/home/slots/jackpot-bg_1@2x.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            .jackpot-text{
                h3{
                    color:@primary-color !important;
                }
                p{
                    color:#fff !important;
                }
            }
        }
    }
    /deep/ .notice{
        border-color:rgba(255,255,255,0.2) !important;
        a{
            &::before{
                background:rgba(255,255,255,0.2) !important;
            }
        }
    }
    /deep/ .nav-center .member-info{
        background:none !important;
        border:3px solid #A88C6B !important;
        .money{
            color:#fff !important;
        }
        .van-icon{
            color:rgba(255,255,255,0.5) !important;
        }
        .deposit{
            height:51px !important;
        }
    }
    /deep/ .nav-center{
        .no-token .aagames-button-box:first-child button{
            background:transparent !important;
        }
    }
    /deep/ .nav-type-1{
        .van-sticky{
            .van-tabs__line{
                background:#B38A58 !important;
            }
        }
    }
    /deep/ .van-tabs__content{
        // background:#AA8A6C;
        .van-tab__pane-wrapper{
            &:first-child{
                padding:0 !important;
                #banner{
                    margin:0 auto 24px !important;
                }
                .van-tab__pane>.van-image{
                    padding:0 0.4rem;
                }
                .notice{
                    margin:0.4rem 0.4rem 0;
                    width:auto;
                    border-color:rgba(0,0,0,0.1) !important;
                    > .van-icon{
                        color:#666 !important;
                    }
                    .van-swipe .van-swipe-item{
                        color:rgba(0, 0, 0, 0.8) !important;
                    }
                    .action{
                        color:rgba(0, 0, 0, 0.8) !important;
                        &::before{
                            background:rgba(0, 0, 0, 0.2) !important;
                        }
                        .van-icon{
                            color:rgba(0, 0, 0, 0.2) !important;
                        }
                    }
                }
                .featured{
                    .app-index-3{
                        .gameList{
                            padding:45px 0.4rem 25px;
                            .title .title_top{
                                color:@primary-color !important;
                            }
                            .title_zh .title_top{
                                color:@primary-color !important;
                            }
                            // .title{
                            //     .line{
                            //         &:first-child{
                            //             background:linear-gradient(to right, rgba(0, 0, 0, 0), #fff) !important;
                            //         }
                            //         &:last-child{
                            //             background:linear-gradient(to right, #fff,rgba(0, 0, 0, 0)) !important;
                            //         }
                            //     }
                            // }
                        }
                        .groupInfo{
                            background:#A88C6B !important;
                            overflow: hidden;
                            .title .title_top{
                                color:#fff !important;
                            }
                            .title{
                                .line{
                                    &:first-child{
                                        background:linear-gradient(to right, rgba(0, 0, 0, 0), #fff) !important;
                                    }
                                    &:last-child{
                                        background:linear-gradient(to right, #fff,rgba(0, 0, 0, 0)) !important;
                                    }
                                }
                            }
                        }
                        .buss{
                            padding-top:40px;
                            background:#fff !important;
                            .title_zh{
                                .title_top{
                                    color:#000 !important;
                                }
                            }
                            .list .list_item .item_box p{
                                color:#000 !important;
                            }
                        }
                        .link{
                            background:#A88C6B !important;
                            margin-bottom:0 !important;
                            padding-bottom:40px !important;
                            ul{
                                li{
                                    color:#fff !important;
                                }
                            }
                        }
                        .copyright{
                            background:#A88C6B !important;
                            padding-bottom:40px !important;
                            color:#fff !important;
                        }
                    }
                }
            }
        }
    }
    /deep/ .labels label.active{
        border-color:#3D3741 !important;
        color:#3D3741 !important;
    }
    /deep/ .profit-swipe .van-swipe-item .tag{
        background:@primary-color !important;
        color:#fff !important;
    }
    /deep/ .van-list.games{
        justify-content: space-between !important;
    }
    /deep/ .van-tabs .van-tabs__nav{
        background:#1A1915 !important;
    }
}
/deep/ .filter-nav{
    border-color:rgba(255, 255, 255, 0.06) !important;
}