.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-position: center 0 !important    ;
    .main {
        margin-top: 0 !important;
        .down_logo{
            margin-top: 0 !important;
        }
        .downAppBtn{
            position: absolute !important;
            bottom: 1.66667rem !important;
            left: 1.33333rem !important;
            button{
                color: #fff !important;
            }
        }
    }
}