.aagames-header {
    //background-image:url('~@assets/img3_0/home/esports/bg@2x.png');

}
//add
.nav-center .member-info{
  background: #343434;
}
.nav-center .member-info .deposit{
  background: #FEE42B!important;
  color: #000!important;
}
.nav-left .aagames-logo .logo{
  // width: 97px!important;
  // margin-left: 20px;
}

