
.featured {
    padding-bottom: 500px;
}

/deep/ .aa-footer {
    position: absolute !important;
    bottom: @space-gap - 24px !important;
    padding: @space-gap !important;
    border-radius: 0 !important;
    left: 0;
}

.search-page {
    background-color: #fff !important;

    .game-item {
        background-color: @bg-card-color;
    }
}

.head-mid-box {
    background: #fff !important;
    border-bottom: 10px solid #EDEFF6;
    box-shadow:0px 4px 16px 0px rgba(237,237,237,1);
}
/deep/ .banner{
    padding: 0;
    width: 100%;
    margin: 0;
    height:400px;
    .van-swipe__indicators{
        bottom: 64px;
    }
}
#home {
    height: 100%;
    background-color: #fff !important;
    position: relative;
    overflow: auto;
    /deep/ .games-wrap {
        position: relative;
        margin-left: 0;
        &.mb-gap {
            margin-bottom: 0;
        }
        .game-item {
            background: none!important;
            box-shadow: none!important;
            margin-bottom: 0!important;
            margin-left: 0;
            width: 100%!important;
            position: relative;
            .van-image {
                height: 100%;
                position: relative;
            }

            .game-info {
                z-index: 2;
                color: #D3B2A0!important;
                left: 112px!important;
                top: 30px!important;
                h3, h4 {
                    line-height: 1;
                    position: relative;
                    z-index: 2;
                    color: #fff!important;
                }
            }
        }
    }
    /deep/ .casino,/deep/ .slots,/deep/ .chess,/deep/ .lottery,/deep/ .fishing{
        .game-item{
            width: 50%!important;
            &.tall,&.large{
                width: 100%!important;
            }
        }
    }
    /deep/ .fishing{
        .van-image{
            width: 100%!important;
        }
        .games-wrap{
            .game-item{
                &:last-child{
                    float: right!important;
                    margin-top: -552px;
                    position: relative;
                    bottom: auto;
                    right: auto;
                    width: calc(50% - 30px);
                }
                .game-info{
                    left: 54px!important;
                    top:32px;
                }
                &.mw{
                    width: calc(50% - 30px);
                    right: 0;
                }
            }
        }
    }
    /deep/ .chess .game-item .game-info{
        left: 40px!important;
    }
}

/deep/ .avaswipe {
    .swiper-container {
        width: 100%;
        height: 1000px;
    }
    #swiper-container1{
        > .swiper-pagination{
            width: 16%;
            top: 20px;
            .swiper-pagination-bullet{
                border-radius: 0;
                width: 88px!important;
                height: 100px;
                margin-bottom: 26px;
            }
        }
        > .swiper-wrapper{
            margin-left: 16%;
            width: 84%;
        }
    }

    .swiper-container2{
        padding-top: 20px;
    }
    .swiper-container2 .swiper-slide {
        font-size: 18px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        line-height: 100px;
        color: #fff;
        padding: 0 18px 0 0;

    }

    .avaswipe-tit {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;

        .avaswipe-norm-tit {
            font-size: 24px;
            color: #666;
            font-weight: bold;
            transition: .3s;
        }

        .avaswipe-active-tit {
            width: 176px;
            height: 64px;
            background: linear-gradient(left, #ffd17b, #ff7400);
            border-radius: 16pt;
            box-shadow: 0 12px 28px 0 rgba(255, 203, 116, 0.4);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            span:first-child {
                display: block;
                font-size: 24px;
                color: #fff;
            }

            span:last-child {
                display: block;
                font-size: 12px;
                color: #fff;
            }
        }
    }
}


/deep/ .ava-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;

    img:first-child {
        width: 180px;
    }

    img:last-child {
        width: 44px;
    }
}

.head-mid-box{
    box-shadow:0px 4px 16px 0px rgba(237,237,237,1);
    border-bottom: 0;
    border-radius: 0!important;
    padding: 14px 30px 14px 28px!important;
    /deep/ .aagames-nav-bar{
        height: 64px;
        flex-direction: column;
        justify-content: flex-start;
        display: block;
        .nav-center{
            flex: 1;
        }
        .member-info{
            flex-direction: column;
        }
    }
    /deep/ .m-header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    /deep/ .member-info{
        text-align: left;
        display: block;
        justify-content: flex-start;
        p{
            margin-bottom: 12px;
            font-size: 24px;
        }
        div{
            flex: 1;
            justify-content: flex-start;
            text-align: left;
            font-size: 32px;
        }
        .money{
            text-align: left;
            justify-content: flex-start;
            span{
                position: relative;
                top: 5px;
            }
        }
    }
    /deep/ .quick-link{
        flex: 1;
        li{
            flex-direction: column;
            margin-left: 30px;
            img{
                margin-right: 0!important;
                width: 84px;
            }
        }
    }
    /deep/ .no-token{
        flex-direction: column;
        justify-content: flex-start!important;
        text-align: left;
        display: block;
        span{
            display: block;
            &:first-child{
                font-size: 24px;
            }
            &:last-child{
                font-size: 32px;
                margin-left: 0;
                margin-top: 12px;
            }
        }
    }
}

/deep/ .index-main .van-tabs{
    .van-tab__text{
        overflow: visible;
    }
    .van-tab__text img{
        width: 88px!important;
        margin-bottom: 28px;
        box-shadow:0px 6px 12px 0px rgba(0,0,0,0.2);
        border-radius: 16px;
    }
    .van-tabs__content{
        padding: 0 18px 0 0!important;
    }
}
