/deep/.van-tabs {
    /deep/.van-tabs__nav{
        background-color: @bg-card-color !important;
        .van-tab.van-tab--active {
            background-color: @bg-color-3 !important;
            color: #fff !important;
        }
        .van-tab{
            color: #333333 !important;
        }
    }
}
/deep/.record-title{
    color: #000 !important;
}
.tab_top{
    &:after{
        background-color: @border-color !important;
    }
    p{
        &:first-child{
            color: #000 !important;
        }
    }
}
.list_content{
    border-bottom-color: @border-color !important;
}
.active_selected,.select-button{
    color:#fff !important; 
}
.list .select-bar {
    color: #666666;
}
.inner .select-title {
    color: #666666;
    img {
        background-color: #cccccc;
    }
}

