.aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background: #2C160D;

    .aagames-nav-bar {
        height: @height-nav-bar;

        .nav-left {
            height: 100%;

            .aagames-logo {
                height: 100%;
                display: flex;
                align-items: center;

                .logo {
                    // width: auto !important;
                    // height: 80% !important;
                }
            }
        }
    }
}

.member-info {
    border: 1px solid rgba(155, 81, 51, 1);
}

.nav-center {
    .member-info {
        .deposit {
            border-radius: 0.33rem !important;
        }
    }
}