.container .tabs .router-link{
    background:rgba(0,0,0,0.5) !important;
}
.container .tabs .router-link-active{
    background:@primary-color !important;
}
.container{
    padding-top: 1.17333rem;
}
