.downApp {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background: url(~@assets/img3_0/common/download_bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    .nav-bar{
        z-index: 10;
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        padding: 88px 0!important;
        height: auto!important;
        min-height: 100%;
        .app{
        }
    }
    .swiper-container{
        height: 45vh!important;
    }
}
