/deep/ .games-wrap{
    margin-left: 0!important;
    position: relative;
    .game-item{
        background: none!important;
        box-shadow: none!important;
        margin-bottom: 0!important;
        margin-left: 0!important;
        width: 100%!important;
        .game-info{
            color: #9FA9C6!important;
            left: 112px!important;
            top: 30px!important;
            padding-right: 16px;
        }
    }
}
.featured{
    padding-bottom: 500px;
}
/deep/.aa-footer{
    position: absolute !important;
    bottom: @space-gap - 24px !important;
    padding: @space-gap !important;
    border-radius: 0 !important;
    left: 0;
}
.search-page{
    background-color: #fff !important;
    .game-item{
        background-color: @bg-card-color;
    }
}
#home{
    background-color: #fff!important;
    overflow: hidden;
}
/deep/ .banner{
    margin: 0 30px;
    overflow: hidden;
    height: 296px!important;
    /deep/ .van-image img{
        border-radius: 16px!important;
    }
    /deep/ .van-swipe__indicators{
        bottom: 20px!important;
    }
}
/deep/ .games-wrap {
    position: relative;
    margin-left: 0;
    &.mb-gap {
        margin-bottom: 0;
    }
    .game-item {
        background: none!important;
        box-shadow: none!important;
        margin-bottom: 0!important;
        margin-left: 0;
        width: 100%!important;
        position: relative;
        .van-image {
            height: 100%;
            position: relative;
        }
        .game-info {
            z-index: 2;
            color: #D3B2A0!important;
            left: 112px!important;
            top: 30px!important;
            h3, h4 {
                line-height: 1;
                position: relative;
                z-index: 2;
                color: #9FA9C6!important;
            }
        }
    }
}
/deep/ .casino,/deep/ .slots,/deep/ .chess,/deep/ .lottery,/deep/ .fishing{
    .game-item{
        width: 50%!important;
        &.tall,&.large{
            width: 100%!important;
        }
    }
}
/deep/ .fishing{
    .van-image{
        width: 100%!important;
    }
    .games-wrap{
        .game-item{
            &:last-child{
                float: right!important;
                margin-top: -552px;
                position: relative;
                bottom: auto;
                right: auto;
                width: calc(50% - 30px);
            }
            .game-info{
                left: 54px!important;
                top:32px;
            }
            &.mw{
                width: calc(50% - 30px);
                right: 0;
            }
        }
    }
}
/deep/ .slots .game-item:last-child h3{display: none}
/deep/ .avaswipe {
    .swiper-container {
        width: 100%;
        height: 770px;
    }
    #swiper-container1{
        > .swiper-pagination{
            width: 18%;
            top: 20px;
            .swiper-pagination-bullet{
                border-radius: 0;
                width: 120px!important;
                height: 80px;
                margin-bottom: 26px;
            }
        }
        > .swiper-wrapper{
            margin-left: 18%;
            width: 82%;
        }
    }

    .swiper-container2{
        padding-top: 20px;
    }
    .swiper-container2 .swiper-slide {
        font-size: 18px;
        height: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        line-height: 100px;
        color: #fff;
        padding: 0 18px 0 0;

    }

    .avaswipe-tit {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;

        .avaswipe-norm-tit {
            font-size: 24px;
            color: #666;
            font-weight: bold;
            transition: .3s;
        }

        .avaswipe-active-tit {
            width: 176px;
            height: 64px;
            background: linear-gradient(left, #ffd17b, #ff7400);
            border-radius: 16pt;
            box-shadow: 0 12px 28px 0 rgba(255, 203, 116, 0.4);
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            span:first-child {
                display: block;
                font-size: 24px;
                color: #fff;
            }

            span:last-child {
                display: block;
                font-size: 12px;
                color: #fff;
            }
        }
    }
}
/deep/ .van-tab{
    margin-bottom: 26px;
}
/deep/ .van-tabs__content{
    padding: 0 18px 0 0!important;
}
///deep/ .chess{
//    h3,h4{
//        position: relative;
//        z-index: 4;
//        color: #9FA9C6!important;
//        padding-left: 112px!important;
//    }
//    h3{
//        padding: 32px 0 0 112px!important;
//    }
//}
///deep/ .fishing{
//    .van-image{
//        width: 100%!important;
//    }
//    .games-wrap .game-item .game-info{
//        left: 54px!important;
//    }
//    .game-item:last-child{
//        float: right!important;
//        position: absolute;
//        right: 0;
//        bottom: 278px;
//    }
//}
/deep/ .head-mid-box{
    background:rgba(255,255,255,1)!important;
    border-radius: 0!important;
    box-shadow: none!important;
    .m-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0;
        height: 100%;
    }
    .aagames-nav-bar,.nav-center{
        text-align: left;
        justify-content: flex-start;
    }
    .member-info{
        text-align: left;
        display: block;
        p{
            margin-bottom: 12px;
            font-size: 24px;
        }
        div{
            flex: 1;
            justify-content: flex-start;
            text-align: left;
            font-size: 32px;
        }
        .money{
            justify-content: flex-start;
        }
    }
    .quick-link{
        flex: 1;
        li{
            flex-direction: column;
            margin-left: 40px;
            &:first-child{
                margin-left: 0;
            }
            img{
                margin-right: 0!important;
                width: 80px;
            }
            span{
                color: #B1987F!important;
            }
        }
    }
    .no-token{
        flex-direction: column;
        justify-content: flex-start!important;
        text-align: left;
        display: block;
        span{
            display: block;
            &:first-child{
                font-size: 24px;
            }
            &:last-child{
                font-size: 32px;
                margin-left: 0;
                margin-top: 12px;
            }
        }
    }
}
/deep/ .ava-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
    img:first-child {
        width: 180px;
    }

    img:last-child {
        width: 40px;
    }
}
/deep/ .index-main{
    padding-top: 4px!important;
    .van-tabs{
        padding-left: 156px!important;
        .van-tab__text{
            overflow: visible;
        }
        .van-tab__text img{
            width: 120px!important;
            margin-bottom: 28px;
            box-shadow:0px 6px 12px 0px rgba(0,0,0,0.3);
            border-radius:16px;
        }
        .van-tabs__content{
            padding: 26px 18px 0 0!important;
        }
        .van-sticky{
            width: 156px;
            margin-left: -156px;
            padding-top: 30px;
        }
        .van-sticky--fixed{
            margin-left: 0;
        }
    }

}
