.shareImg{
    transform: rotate(270deg);
}
.container .accout > .transfer > .aagames-button-box .line{
    background:#353435 !important;
    color:#fff !important;
}
.container .accout .automatic{
    border:none !important;
}
.container .accout .transfer_out > p{
    color:#000 !important;
}
.container .accout .automatic > .van-switch--on{
    background:rgba(179,138,88,0.8) !important;
}

#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #75592A !important;
    }
}