/deep/ .m-header.van-nav-bar{
  background:#01203a !important;
}
.m-body .rank-info{
  background:#01203a !important;
}
/deep/ .van-nav-bar {
  .van-nav-bar__title {
    color: #fff !important;
  }
}
.latest{
  padding: 30px;
  h2{
    color:#000;
    font-weight: bold!important;
  }
  dl.item-head{
    dt,dd{
      color:#000 !important;
      font-weight: bold;
    }
  }
  .item{
    border-bottom: 2px solid rgba(0,0,0,0.06) !important;
  }
}

.float-button{
  color:#fff !important;
  .van-icon{
    color:#fff !important;
    margin-right: 12px;
  }
}
/deep/ .van-nav-bar .van-nav-bar__left .van-icon{
  color:#fff !important;
}

