.footer{
    border-color: #C5BDDF !important;
    >.top{
        div{
            &:nth-child(2){
                border-color: #C5BDDF !important;
            }
        }
    }
    >.bottom{
        border-color: #C5BDDF !important;
    }
}