.m-body{
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
}
/deep/ .nav-center .member-info .money{
    color:#fff !important;
}
/deep/ .van-tab--active .van-tab__text{
    color:@primary-color !important;
}
.vip-page /deep/ .vip-info{
    color:#666 !important;
}
/deep/ .platform label.active{
    color:#fff !important;
}
/deep/ .section h2{
    color:#000 !important;
}
/deep/ .section .grid-list{
    background:rgba(0,0,0,0.2) !important;
}
/deep/ .section .flex-wrap .item{
    background:rgba(0,0,0,0.2) !important;
}
/deep/ .section .custom{
    background:rgba(0,0,0,0.2) !important;
}
/deep/ .section .lists .item{
    background:rgba(0,0,0,0.2) !important;
}
.vip-page .van-tabs /deep/ .van-sticky{
    background:@bg-color !important;
}
.vip-page .van-tabs /deep/ .van-tabs__nav /deep/ .van-tab{
    color:#666 !important;
}
.vip-page .van-tabs /deep/ .van-tabs__wrap{
    border-bottom-color:rgba(255,255,255,0.3);
}

/deep/ .m-header.van-nav-bar .van-nav-bar__text{
    color:#fff !important;
}