.accountSafe-page .aagames-select-box .select{
    border: none!important;
    &::after{
        display: none;
    }
}
.personal-title{
    color: #000 !important;
}
.send{
    color: #fff !important;
    background-color: @bg-color-2;
}
/deep/.login-out{
    span{
        color: #fff !important;
    }
}
