.container {
    background-color: #000 !important;
    background-size: auto 100%;
    .main{
        background: transparent !important;
        height:auto !important;
        margin-top: 0 !important;
        .app{
            color:#FFC681 !important;
            margin-top: 74px !important;
        }
        .experience{
            color:#fff !important;
        }
        .down_logo{
            margin-top:142px !important;
            width: 390px;
        }
        .downAppBtn button{
            background: @primary-color !important;
            color:#fff !important;
            position: fixed;
            width: 550px!important;
            bottom: 12vh;
        }
    }
}
.container .nav-bar .right > div{
    background:@primary-color !important;
    color:#fff !important;
}
