.shareImg{
    transform: rotate(270deg);
}
.container .accout > .transfer > .aagames-button-box .line{
    background:transparent !important;
    color:@primary-color !important;
    border:2px solid @primary-color !important;
}
.container .accout .automatic{
    border:none !important;
}
.container .accout .transfer_out > p{
    color:#000 !important;
}
.container .accout .automatic > .van-switch--on{
    background:rgba(236, 2, 55, 0.8) !important;
}

#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #BF012C !important;
    }
}

.van-popup .list ul li{
    // border-color: rgba(#3f3f3f,.3) !important;
}
.van-popup .choose > .father{
    // border-color: rgba(#3f3f3f,.3) !important;
    .son{
        // border-color: rgba(#3f3f3f,.3) !important;
    }
}