#app {
  .Join {
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 780px !important;
    h2, h3 {
      color: #000 !important;
    }
    h2 {
      text-align: center;
      width: 100% !important;
    }
  }

  .statistics:not(.proxy) {
    justify-content: space-around !important;
    ._item {
      width: 330px !important;
      margin-bottom: 30px;
      box-shadow: 0px 8px 34px 0px rgba(92, 96, 150, 0.16);
      .item {
        background-color: #fff !important;
        .title {
          line-height: 60px;
          color: #000000;
        }
      }
    }
  }

  .statistics.proxy {
    ._item {

      .item {
        background-color: @primary-color;
        border-radius: 8px;
        .member, .commission, .date {
          color: #fff;
        }
        .household {
          border-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

  }

  table {
    border-color: #666 !important;
    tr {
      th, td {
        border-color: #E3E3E3 !important;
      }
      th {
        background-color: #000;
        color: #E3E3E3 !important;
      }
      td {
        color: #666 !important;
      }
    }
  }

  /deep/ .contract {
    .van-cell {
      .van-cell__title {
        color: #000 !important;
      }
    }
    &.footer {
      margin: 60px 0 0 0 !important;
      .items {
        background-color: @bg-card-color !important;
      }
    }
  }

  .title-h2 {
    color: #000000 !important;
    &::before, &::after {
      background-color: #000000 !important;
    }
  }

  .step {
    .item {
      background-color: #282828;
      &:nth-child(2n) {
        .text, p {
          color: #fff !important;
        }
        background-color: @primary-color !important;
      }
      .text, p {
        color: #fff !important;
      }
    }
  }
  .container .contract /deep/.van-collapse .van-collapse-item .van-cell .van-cell__title{
    color: #000000;
    text-align: left;
  }
  .footer{
    margin: 1rem 0 0;
    .items{
      background: none;
    }
    background-color: #282828;
  }

}
