.message-title{
    color: #000 !important;
}
.van-tabs /deep/ .van-tabs__nav{
    background-color: @bg-card-color !important;
    .van-tab--active {
        background-color: @bg-color-2 !important;
        color: #fff !important;
    }
}
.e-main /deep/ .van-tabs .van-tabs__nav .van-tab--active {
    background-color: #FD902A !important;
}
.container .main li .list {
    color: #999999 !important;
}