.container .aagames-header{
    background:@primary-color !important;
    border-color:@primary-color !important;
}
#wallet /deep/ .moneyBox > div > .account > div{
    color:#fff !important;
    border-color:#fff !important;
}
#wallet /deep/ .moneyBox > div .tranfer_amount > p{
    color:#fff !important;
}
#wallet /deep/ .moneyBox > div .tranfer_amount > div > .icon{
    color:#fff !important;
}
#wallet /deep/ .moneyBox > div .tranfer_amount > div > .all{
    color:#fff !important;
}