// .Join{
//     background-repeat: no-repeat;
//     background-position: 0 0;
//     padding-top: 700px !important;
//     .join-us{
//         background:#372F3C !important;
//     }
//     h2,h3{
//         color: #fff !important;
//     }
//     h2{
//         text-align: center;
//         width: 100% !important;
//     }
// }
// .title-h2{
//     color: #fff !important;
//     &::before, &::after{
//         background-color: #fff !important;
//     }
// }
// .step{
//     .item{
//         &:nth-child(2n+1) {
//             background-color: #3D3741 !important;
//         }
//         &:nth-child(2n) {
//             background-color: #B0977A !important;
//         }
//         .text{
//             color: #fff !important;
//         }
//     }
// }
// .container .commission-plan table th{
//     background:#3D3741 !important;
// }
.statistics{
    ._item{
        .item{
            background:#3D3741 !important;
        }
    }
    .title{
        font-size:28px !important;
        font-weight: bold;
        color:rgba(255,255,255,0.8) !important
    }
    p{
        line-height:33px !important;
        color:rgba(255,255,255,0.4) !important;
        margin-top: 20px !important;
    }
}
// .container{
//     background:#A88C6B !important;
// }
// /deep/ .aagames-nav-bar{
//     background:#A88C6B !important;
// }
// .contract{
//     /deep/ .van-icon{
//         color:#fff !important;
//     }
// }
// .footer{
//     background:#3D3741 !important;
//     padding: 1rem @margin-10 1.5rem;
//     margin:0 !important;
//     margin-top:100px !important;
//     .items{
//         background:#3D3741 !important;
//     }
// }
.Join{
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 8.2rem !important;
    h2,h3{
        color: #000000 !important;
    }
    h2{
        text-align: center;
        width: 100% !important;
    }
}
.title-h2{
    color: #000000 !important;
    &::before, &::after{
        background-color: #2F2F2F !important;
    }
}
.step{
    .item{
        background: #000000 !important;
        &:nth-child(2n) {
            background-color: #B0977A !important;
        }
        &:nth-child(2n+1) {
            background-color: #3D3741 !important;
        }
        .text{
            color: #fff !important;
        }
        .p{
            color:rgba(255,255,255,0.6) !important;
        }
    }
}

.feature {
    .item {
        p {
            color:#333333 !important;
        }
    }
}

.title-h3 {
    color:#000 !important;
}

// .statistics {
//     .item{
//         background-color: #FFFFFF !important;
//         box-shadow: 1px 1px 20px rgba(92, 96, 150, 0.16);
//         .title {
//             color: #000;
//         }
//     }

//     p {
//         line-height:33px !important;
//         color:#999999;
//         margin-top: 20px !important;
//     }
// }

.proxy {
    .item { 
        background: #A37C3C !important;

        .member {
            color: #fff !important;
        }
    }
    .item .household{
        border-color:rgba(255,255,255,0.1) !important;
    }
}

.commission {
    color:#ccc !important;
}

.commission-plan {
    table {
        border: 0.01333rem solid rgba(227, 227, 227, 1) !important;
    }
    th{
        color:#E3E3E3 !important;
        background: #3D3741 !important;
        border: 0.01333rem solid #343436 !important;
    }

    th:nth-child(3){
        width:190px;
        line-height: 33px;
    }

    th:nth-child(1){
        width:120px;
        line-height: 33px;
    }

    td {
        background: #fff;
        color: #000000 !important;
        border: 0.01333rem solid #E4E4E6 !important;
    }
}

.commission-info {
    color:#999999 !important;
}

.van-collapse-item__content {
    p {
        color:#ccc !important;   
    }
}
// .contract /deep/ .van-cell__right-icon{
//     line-height:60px !important;
// }


.contract {

    .items{
        .list {
            flex:1 !important;
        }
    }
}

.footer{
    margin:0 !important;
    margin-top: 40px !important;

    .text {
        font-size:24px !important;
    }
}

.contract {
    .items {
        background:#282828 !important;

    }

    /deep/ .van-cell__title {
        color: #000000 !important;
    }

    /deep/ .van-collapse-item__content {
        color: rgba(153,153,153,0.8) !important;
    }
}

.container {
    background: #fff !important;

    .Join {
        height: 17.30667rem !important;
    }
}

/deep/ .aagames-nav-bar{
    background:#fff !important;
    .nav-left{
        .van-icon{
            color:#000 !important;
        }
    }
    .nav-center{
        span{
            color:#000 !important;
        }
    }
}
