.accountSafe-page .aagames-select-box .select{
    &::after{
        background-color:  @border-color !important;
    }
}
.personal-title{
    color: #000 !important;
}
.send{
    color: #fff !important;
    background-color: @bg-color-2;
}
/deep/.login-out{
    span{
        color: #fff !important;
    }
}
#app /deep/.van-popup.custom .pop-head {
    background-color: #FD902A;
}
