.m-header{
  ~ .bg-img{
    background-color: @bg-color;
    background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background-size:100%;
    background-position:0 0;
    background-repeat: no-repeat;
  }
}
/deep/ .van-tabs {
  &.nav-type-1{
    .van-tabs__nav {
      background-color: #fff !important;
      .van-tab{
        color: #000 !important;
      }
      .van-tab--active {
        color: #000 !important;
      }
    }
  }
  .van-tabs__wrap{
    border-bottom: 2px solid rgba(165, 154, 154,.1) !important;
  }
}
/deep/.notice{
  color: #666 !important;
  box-shadow: none !important;
}

// 交易记录
/deep/ .businessRecord{
  .record-title{
    background-color: @bg-color-white;
    margin: 0;
  }
  .van-tabs .van-tabs__wrap{
    background-color: @bg-color-white;
    padding: 12px 30px;
    height: auto;
    .van-tabs__nav{
      height: 64px;
      background: #E6EAEF!important;
      align-items: center;
      padding: 0 4px;
      .van-tab{
        height: 56px;
        background-color: transparent!important;
        font-size: 28px;
        color: #999;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          width: 2px;
          height: 26px;
          background-color: #fff;
          top: 50%;
          left: 0;
          margin-top: -13px;
        }
        &:first-child:after{
          content: none;
        }
        &.van-tab--active{
          background-color: @bg-gradient-color!important;
          .van-tab__text{
            color: #fff;
          }
          &:after{
            content: none;
          }
        }
      }
    }
  }
  .tab_top{
    background-color: @bg-color-white;
    margin-top: 0!important;
  }
  /deep/ .access{
    .main .list ul{
      padding: 0;
      border-top: 20px solid #F5F6FA;
      .van-list{
        padding: 0 30px;
        background-color: #fff;
        li{
          &.turn_list{
            padding: 20px 0 0;
          }
          img{
            align-self: flex-start;
          }
          .header{
            color: #333;
            > span:last-child{
              color: @bg-gradient-color;
            }
          }
          .status > span:first-child{
            color: #333;
          }
          .remark{
            > .time{
              color: #999;
            }
          }
          .status .green{
            color: #999;
          }
          .status .yellow{
            color: #EC9221;
          }
          .turn{
            background-color: @bg-gradient-color;
            color: #fff;
            align-self: flex-start;
          }
        }
      }
    }
  }

}

/deep/ .drawer{
  .main{
    background-color: @bg-color-white!important;
    //width: 630px!important;
    .select-title{
      color: #333;
    }
    //&.main-show{
    //    bottom: 50%!important;
    //    transform: rotateY(50%)!important;
    //}
  }
  .select-button{
    background-color: @bg-gradient-color;
  }
  .active_selected{
    background-color: @bg-gradient-color;
  }
  .select-bar{
    color: #333;
    font-weight: bold;
  }
  .select-bar-i > div{
    border-color: #E6EAEF;
    color: #333;
    border-radius: 8px;
    &.active_selected{
      background: url('~@assets/img3_0/otherIcon/iaoyijilu_select@2x.png') right bottom no-repeat;
      border-color: @bg-gradient-color;
      color: @bg-gradient-color!important;
      background-size: 32px auto;
    }
  }
  .select .van-row{
    border-color: #E6EAEF;
    border-radius: 8px;
    .data-time-picker{
      color: #333;
    }
  }
}

/deep/ .profits-rank{
  background: #fff url(~@assets/img3_0/memberCenter/ranks@2x.png) center -100px no-repeat;
  background-size: 100% auto;
  .m-header{
    &.van-nav-bar{
      background: #5B99FF!important;
    }
  }
  .rank-info{
    background: none!important;
  }
  .ranks{
    background:none;
  }
  .float-button{
    background-color: @bg-gradient-color;
  }
  .latest{
    h2{
      color: #333;
      border-bottom: 2px solid #EDEFF6;
      padding-bottom: 30px;
      font-weight: bold;
    }
    dl.item-head dt{
      color: #333;
    }
    dl.item-body{
      color: #999;
    }
    dl dd{
      color: #333;
      font-weight: bold;
    }
  }
}
//关于我们
/deep/ .aboutWe{
  .main img{
    margin: 20px auto 108px!important;
    width: 280px!important;
  }
}
/deep/ .bankcard-page{
  &.bankcard-manage{
    .van-button.van-button--primary{
      background-color: @bg-color-white;
      color: #333;
      i{
        color: @bg-gradient-color;
      }
    }
  }
  .m-header.transparent{
    background-color: @bg-color-white;
  }
  .van-cell-group{
    padding: 0!important;
    .van-cell{
      background-color: @bg-color-white;
      padding: 0 30px;
      .van-cell__title{
        font-weight: normal!important;
      }
      &:nth-child(3){
        margin-bottom: 20px;
      }
      .van-cell__value{
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        span{
          line-height: 1;
          font-size: 28px;
        }
        .cell-body{
          font-size: 28px;
        }
        .van-icon{
          margin: 0;
          color: #999;
        }
      }
      .van-cell__title{
        color: #333;
        font-weight: bold;
      }
    }
  }
  .van-button.van-button--primary{
    background-color: @bg-gradient-color;
    height: 100px;
    border-radius: 100px;
    color: #fff;
  }

}
/deep/ .verify{
  .aagames-nav-bar{
    background-color: @bg-gradient-color;
  }
}
/deep/ .container_403{

}

/deep/ .agent-form-10024{
  .mid-line-10024{
    display: block;
  }
  .list .item .left{
    color: #333;
  }
  .item .p1 .right{
    color:rgba(64,128,255,1);
  }
  .item .p1,.item .p2{
    font-weight: bold!important;
  }
}
/deep/ .list-cells{
  .cell-foot .van-icon-success{
    color: @bg-gradient-color;
  }
  .cell{
    border-bottom: 2px solid #E6EAEF;
    color: #333;
  }
}
/deep/ .van-popup.van-popup--round.van-popup--bottom.custom{
  //bottom: 50%;
  //transform: translate(-50%,-50%);
  //width: 630px;
  //left: 50%;
}
/deep/ .select{
  .select-button{
    background-color: @bg-gradient-color;
  }
  .active_selected{
    background-color: @bg-gradient-color;
  }
  .select-bar{
    color: #333;
    font-weight: bold;
  }
  .days .day{
    border: 2px solid #E6EAEF!important;
  }
  .days .active{
    background: #fff url(~@assets/img3_0/otherIcon/iaoyijilu_select@2x.png) right bottom no-repeat!important;
    border-color: @bg-gradient-color!important;
    color: @bg-gradient-color!important;
    background-size: 32px auto!important;
  }

  .van-row{
    border: 2px solid #E6EAEF!important;
    border-radius: 8px;
    margin: 20px!important;
    padding: 0!important;
    .col-s,.col-e{
      color: #333!important;
    }
  }
  .title{
    color: #333!important;
  }
}

/deep/ .agent-form-10024{
  .list{
    margin: 0 0 0 30px!important;
    .item .p1 .right{
      color: @bg-gradient-color!important;
    }
    .van-list{
      border-bottom: 2px solid #E6EAEF;
      padding-right: 30px;
    }
    .item .p2 span:last-child{
      text-align: right;
    }
    .item .p3 .left{
      color: #999;
    }
    .item .p1,.item .p2{
      font-weight: bold!important;
    }
  }
}
/deep/ .agMemberList{
  .aagames-nav-bar{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }

  .list{
    border-top: 20px solid #F5F6FA;
    margin: 0!important;
    width: 100%!important;
    padding: 0 30px;
    .item{
      border-bottom: 2px solid #E6EAEF;
      .p1{
        color: #999!important;
        font-size: 24px!important;
        .left{
          font-size: 32px;
          color: #333;
          font-weight: bold;
        }
        .right{
          font-weight: bold;
          color: @bg-gradient-color!important;
        }
      }
    }
  }
}
/deep/ .reportForm{
  background: @bg-color-white;
  .main{
    background: @bg-color-white;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 88px;
      height: 20px;
      background: #F5F6FA;
      width: 100%;
    }
    .item .p1,.item .p2{
      font-weight: bold!important;
    }
  }
  .aagames-nav-bar{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }
  .list{
    width: auto!important;
    margin: 0 0 0 30px!important;
    .table{
      margin: 0!important;
      border-bottom: 2px solid #E6EAEF;
      padding-right: 30px;
      .p1 .left,.p2 .left{
        color: #333;
      }
      .p3 .left{
        color: #999;
      }
      .right{
        color: @bg-gradient-color!important;
      }
    }
  }

}
/deep/ .agpsw{
  background: #F5F6FA!important;
  .reseter{
    background-color: @bg-color-white;
  }
  .aagames-button{
    color: #fff!important;
    border-radius: 90px!important;
  }
  .reset{
    div{
      border-bottom-color: #E6EAEF!important;
    }
    p,input{
      color: #333!important;
    }
  }
}
/deep/ .list-cells{
  .cell{
    border-bottom-color: #E6EAEF!important;
  }
  .cell-foot .van-icon-success{
    color: @bg-gradient-color!important;
  }
}
/deep/ .agbankbind{
  background: none!important;
  .main{
    background: none;
  }
  .bank-card-label{
    display: none;
  }
  .tisp{
    color: #333!important;
  }
  .aagames-button-box .aagames-button{
    border-radius: 90px;
  }
}
/deep/ .van-picker{
  .van-ellipsis{
    font-size: 28px;
    img{
      width: 48px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}
/deep/ .carrycash{
  .aagames-nav-bar{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }
  .main{
    padding-left: 0!important;
    padding-right: 0!important;
    .reset{
      background: #fff;
      margin-bottom: 20px;
      padding: 24px 18px 24px 30px!important;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .amount .mt{
      border-bottom: none!important;
    }
    .name{
      color: #333;
    }
    .tx{
      margin-bottom: 0!important;
      p{
        margin-top: 0!important;
        color: #333!important;
      }
    }
    .btn{
      background: #fff;
      margin: 0!important;
      p{
        margin: 0!important;
        padding: 0 0 28px 30px!important;
      }
    }
  }
  .aagames-button-box .aagames-button{
    border-radius: 90px;
  }
}
/deep/ .van-key__wrapper{
  text-align: center;
}
/deep/ .deposit-page{
  .m-body{
    background-color: #F5F6FA;
  }
  .deposit-main .quick-select .board{
    background: #fff!important;
    border-radius: 24px!important;
  }
  .list-cells .cell .card-like li > span{
    color: #333;
  }
  .list-cells .cell .card-like li a{
    border-color: @bg-gradient-color;
    color: @bg-gradient-color;
  }
  .deposit-main > li.quick-select .cell .cell-foot{
    color: #999!important;
  }
  .van-nav-bar .van-nav-bar__left .van-icon-arrow-left,.van-nav-bar .van-nav-bar__title{
    color: #fff;
  }
  .deposit-main > li.quick-select .cell input{
    color: #333!important;
  }
}
/deep/ .van-count-down.processing-time-deposit{
  color: @bg-gradient-color;
}
/deep/ .pay-mark .money-text{
  color: #333!important;
  margin-bottom: 20px;
}
/deep/ .wallet{
  height: 100%;
  overflow: auto;
}
/deep/ .cell-body{
  color: #333;
}
.quota{
  background: #fff;
  /deep/ .aagames-nav-bar{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }
  /deep/ .main{
    border-top: 20px solid #F5F6FA;
  }
  /deep/ .accout .transfer_out .content > .content_l > .wallet{
    color: #333!important;
  }
  /deep/ .accout .transfer_out .content > .content_l .num{
    color: @bg-gradient-color!important;
  }
  /deep/ .accout .transfer_out .content{
    border-bottom: 2px solid #E6EAEF;
  }
  /deep/ .accout > .transfer > .input_ > input{
    color: #333!important;
    &::placeholder{
      color: #999!important;
    }
  }
  /deep/ .accout > .transfer > .input_ > span{
    color: #999!important;
  }
  /deep/ .aagames-button-box{
    padding: 0;
    justify-content: space-between!important;
    div{
      width: 330px!important;
    }
    .line{
      border: 2px solid @bg-gradient-color;
      color: @bg-gradient-color;
      background: none;
    }
    div:last-child{
      background-color: @bg-gradient-color!important;
    }
  }
  /deep/ .accout ul > li{
    background-color: #EDEFF6!important;
    p:first-child{
      color: #666!important;
    }
    p:last-child,p:nth-child(2){
      color: #333!important;
    }

  }
  /deep/ .van-popup{
    .head{
      background-color: @bg-gradient-color;
      .quote-close{
        position: absolute;
        right: 30px;
        font-size: 40px;
        top: 30px;
      }
      p{
        color: #fff;
      }
    }
    .list ul li{
      border-bottom: 1px solid #E6EAEF;
      .name,.money{
        color: #333;
        &.on{
          color: @bg-gradient-color;
        }
      }
    }
  }
}
/deep/ #wallet{
  background-color: #F5F6FA;
  .container{
    height: auto;
    overflow: auto;
    background: url(~@assets/img3_0/common/head-blue-bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    background-color: #fff;
    &.walletEmpty{
      background-color: transparent;
    }
    .main{
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      .empty{
        margin-top: 100px;
      }
    }
  }

  .record-title{
    background-color: transparent!important;
  }
  .aagames-header{
    background-color: transparent;
  }
  .main{
    .total-box{
      background-color: transparent;
      height: auto;
      .total-amount{
        padding-top: 0;
        margin: 0;
        height: 172px;
      }
      .income{
        height: 370px;
        margin: 0 auto;
        width: 690px;
        padding-top: 40px;
        .total-amount{
          height: auto;
          margin-bottom: 24px;
        }
      }
    }
    .lists{
      margin-top: 0;
      .list{
        padding: 30px 30px 0;
        margin: 0;
        .item{
          border-bottom: 2px solid #E6EAEF;
          padding: 18px 0;
          .blod{
            margin-top: 0;
          }
        }
      }
    }
    .emptyWallet{
      background-image: url(~@assets/img3_0/memberCenter/Personal_center_wallet_Empty2@2x.png);
    }
    .incom-btn{
      div:first-child{
        border: 2px solid @bg-gradient-color;
        color: @bg-gradient-color!important;
        background: none;
      }
      div:last-child{
        background-color: @bg-gradient-color!important;
      }
    }
    .lists{
      .van-list{
        color: #ccc;
        .blod{
          span:last-child{
            color: @bg-gradient-color!important;
          }
        }
      }
    }
  }
  .list{
    p{
      width: 176px;
      margin-left: 20px;
      border-color: #E6EAEF;
      color: #333;
      &.active{
        background-color: @bg-gradient-color;
      }
    }

  }
  .moneyBox{
    background-color: transparent!important;
    > div{
      .account{
        padding: 0 30px;
        div{
          background-color: #EDEFF6;
          color: #333!important;
          width: 240px!important;
        }
      }
      .tranfer_amount{
        margin-top: 0!important;
        > div{
          background-color: #EDEFF6;
          height: 88px!important;
          line-height: 88px!important;
          padding-bottom: 0!important;
          border-bottom: 0!important;
          border-radius:8px;
          display: flex;
          align-items: center;
          margin-top: 20px;
          .all{
            color: @bg-gradient-color!important;
            padding-right: 20px;
            font-size: 28px!important;
          }
          input{
            background-color: transparent!important;
            height: 100%!important;
            width: auto;
            flex: 1;
            color: #333!important;
          }
          .icon{
            color: #333!important;
            margin-left: 20px;
          }
        }
        > .btn{
          width: 100%!important;
          background-color: @bg-gradient-color!important;
          border: 0!important;
        }
        p{
          color: #666!important;
        }
      }
    }

  }
}
/deep/ .cells{
  &.cells-1{
    background-color: #EDEFF6;
    color: #333;
    border: 2px solid #EDEFF6;
    .border{
      background-color: #fff;
    }
  }
  &.cells-2{
    color: #333;
    border: 2px solid #EDEFF6;
    div{
      color: #333;
    }
    .border{
      background-color: #E6EAEF;
    }
  }
}
/deep/ .input-cells .aagames-button-default{
  background:linear-gradient(117deg,rgba(111,232,232,1) 0%,rgba(46,186,192,1) 100%)!important;
}

/deep/ #g-code .right-button{
  background-color: transparent;
  color: @bg-gradient-color;
  border-left: 2px solid rgba(255,255,255,.3);
  border-radius: 0;
}
/deep/ .aagames-form .input .areaNum{
  border-right-color: #fff!important;
  color: #333!important;
}
/deep/ .washcode{
  background: url(~@assets/img3_0/common/head-blue-bg@2x.png) center top no-repeat;
  background-size: 100% auto;

  .aagames-nav-bar{
    background: none;
    background-color: transparent!important;
    color: #fff;
  }

  .container{
    position: static;
    .main{
      .wash-money{
        background-color: transparent;
        .van-icon{
          color: #fff!important;
          font-size: 30px!important;
        }
        .btn-wash{
          width:320px;
          height:88px;
          background:rgba(255,255,255,1);
          box-shadow:0px 12px 20px 0px rgba(32,86,196,0.5);
          border-radius:50px;
          color: @bg-gradient-color;
          font-weight: bold;
        }
      }
      .list{
        background-color: #fff;
        padding: 0 30px;
        .detail{
          .wash{
            border-bottom: 2px solid #E6EAEF;
            .wash-top{
              margin-bottom: 20px;
            }
            .wash-top div p:nth-child(1),.wash-bottom div p:nth-child(1){
              color: #999;
            }
            .wash-top div p:nth-child(2),.wash-bottom div p:nth-child(2){
              color: #333;
              font-weight: bold;
            }
            .wash-top div .primary-color{
              color: @bg-gradient-color!important;
            }
            .wash-top div:nth-child(3){
              border-left: 2px solid #E6EAEF;
              padding-left: 30px;
            }
          }
        }
      }
    }
  }

  &.empty{
    background: none;
    .aagames-nav-bar{
      background-color: #fff!important;
      color: #333;
      box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
    }
    .empty{
      width: 100%;
      padding: 20vh 30px 0;
      box-sizing: border-box;
    }
  }
}
/deep/ .pop-body{
  >div{
    color: #333!important;
  }
  .btn{
    display: flex;
    align-items: center;
    position: relative;
    height: 90px;
    button:nth-child(1){
      position: absolute;
      right: 0;
      width: 330px;
    }
    button:nth-child(2){
      position: absolute;
      left: 0;
      width: 330px;
    }
  }
}
/deep/ .privilege{
  .van-progress__portion{
    background-color: @bg-gradient-color!important;
    &:after{
      content: '';
      position: absolute;
      width: 58px;
      height: 32px;
      background: url(~@assets/img3_0/vip/newLevel/vip_jindu@2x.png);
      background-size: 100% auto;
      right: -45px;
      top: -8px;
    }
  }
  .vip0zx h2 i{
    background:linear-gradient(360deg,rgba(255,237,219,1) 0%,rgba(210,183,156,1) 100%)!important;
  }
}
/deep/ .app-install{
  display: none!important;
}
/deep/ .contactinfo{
  .main .submit-form .input:nth-child(2) img{
    margin-left: 0!important;
  }
  .main .submit-form .input input{
    font-size: 28px;
    &::placeholder{
      font-size: 28px;
    }
  }
}
/deep/ .duty{
  display: none;
}
.recharge-bottom .btn-group .van-button--default{
  background: none!important;
  border-color: @bg-gradient-color!important;
}
/deep/ .aboutWe{
  .main .list{
    color: #333!important;
  }
}
.guide{display: none}
/deep/ .downApp{
  .right{
    div:first-child,div:last-child{
      background: none!important;
      color: #fff!important;
      background-color: @bg-gradient-color!important;
    }
  }
  .main{
    overflow: auto;
  }
  .down_logo{
    width: 640px!important;
  }
  .downAppBtn button:first-child{
    background:linear-gradient(131deg,rgba(105,180,248,1) 0%,rgba(69,104,209,1) 100%)!important;
  }
  .main02 img{
    width: 690px!important;
    display: block;
  }
}
.serviceSubscription{
  background: #F5F6FA;
  min-height: auto!important;
}
/deep/ .callWe{
  .aagames-nav-bar{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }
  .main{
    padding: 0!important;
    margin-top: 108px!important;
    .list{
      background: #fff;
      margin: 0!important;
      padding: 20px 0 24px 30px;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 30px;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #EDEFF6;
      }
      .title{
        border-left-color: @bg-gradient-color!important;
        color: #333!important;
        font-weight: bold;
      }
      span{
        color: #333!important;
        padding-left: 20px;
        font-size: 28px;
        font-family: "PingFang SC", "Microsoft Yahei", sans-serif, arial;
      }
    }
  }
}
/deep/ .privilege{
  .vip-progeress .vip-progeress1{
    background: linear-gradient(#ff9534, #ff7c67)!important;
  }
  .newvip-level .van-tabs .van-tabs__wrap .van-tab.van-tab--active{
    border-color: #FFC09A!important;
  }
}
/deep/ .events{
  .container .main-block .venueStyle__tab .venueStyle__wbTable .venueStyle__content li ul > li{
    color: @bg-gradient-color!important;
    &:first-child{
      color: #333!important;
    }
  }
  .container .main-block .block-tit b{
    background: linear-gradient(#ff7c67,#ffe5ce)!important;
  }
}

/deep/ .appdown_logo{
  text-align: center;
  img{
    display: inline-block!important;
    vertical-align: middle;
    margin: 0 10px!important;
    &:last-child{
      width: 286px;
    }
  }
}
/deep/ .steps ul li.active p:before,/deep/ .steps ul li.active p:after{
  background-color: @bg-gradient-color!important;
}

/deep/ .kfPage{
  background-image: none!important;
  padding-top: 0!important;
  position: relative;
  height: 100%;
  .title{
    height: 88px;
    line-height: 88px;
    background-color: #fff;
    font-weight: bold;
    color: #333!important;
    font-size: 32px!important;
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }
  .van-button--info{
    background-color: @bg-gradient-color;
  }
  .kf-wel{
    display: none;
  }
  .kf-pad{
    height: 100%;
    overflow: auto;
    padding: 0!important;
    position: relative;
  }
  .kf-btn{
    position: absolute;
    bottom: 120px;
    left: 30px;
    right: 30px;
    flex-direction: row-reverse;
    .van-button:first-child{
      margin-right: 0!important;
      margin-left: 30px;
    }
    .van-button--info{
      background: linear-gradient(left,#69b4f8, #4568d1)!important;
    }
  }
  .kf-slide{
    background-color: transparent!important;
    padding-top: 0!important;
    box-shadow: none!important;
    h2{
      margin-bottom: 20px!important;
    }
    .van-collapse{
      padding: 0 28px;
      background-color: #fff;
      border-radius: 16px;
      box-shadow:0px 2px 10px 0px rgba(0,34,80,0.05);
    }
  }
}
/deep/ .profits-rank{
  position: relative;
  background: #fff url(~@assets/img3_0/memberCenter/ranks@2x.png) center -100px no-repeat;
  background-size: 100% auto;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 740px;
    width: 100%;
    background: linear-gradient(135deg,#4568D1, #69B4F8)!important;
    z-index: 0;
  }
  .m-header.van-nav-bar{
    background: none!important;
    z-index: 20;
    position: relative;
  }
  .m-body{
    position: relative;
    z-index: 2;
    top: 0!important;
    padding-top: 0;
  }
  .rank-info{
    background: none!important;
  }
  .ranks{
    background:none;
  }
  .float-button{
    background-color: @bg-gradient-color;
  }
  .latest{
    h2{
      color: #333;
      border-bottom: 2px solid #EDEFF6;
      padding-bottom: 30px;
      font-weight: bold;
    }
    dl.item-head dt{
      color: #333;
    }
    dl.item-body{
      color: #999;
    }
    dl dd{
      color: #333;
      font-weight: bold;
    }
  }
  .van-image{
    margin-top: -46px!important;
  }
}
/deep/.app-install  .install-btn{
  background:linear-gradient(131deg,rgba(105,180,248,1) 0%,rgba(69,104,209,1) 100%);
  width: 150px;
  height: 52px;
  border-radius: 52px;

  color: #fff;
  line-height: 52px;
  padding: 0;
  .van-button__text{
    font-size: 24px;
  }
}
/deep/ .agentHome{
  .title01{
    color: #5D6476;
  }
  .title02{color: #0B91FB}
  .slide01{
    background: url('~@assets/img3_0/agent/home/join us_bg2@2x.png') center top no-repeat!important;
    .bg{
      width: 100%!important;
      left: 0!important;
      top: 156px!important;
    }
  }
  .join-us{
    border-radius: 90px!important;
    background:linear-gradient(131deg,rgba(105,180,248,1) 0%,rgba(69,104,209,1) 100%)!important;
  }
}
/deep/ .activities{
  .events{
    .van-cell{
      border-radius: 20px;
      background-color: transparent;
      overflow: visible;
      box-shadow: none;
      .van-cell__value{
        overflow: visible;
      }
      .activities-seedetail{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        padding-left: 40px;
        font-size: 22px;
        color: #666;
        img{
          width: 214px;
          margin-right: -12px;
        }
      }
      .event-item{
        padding: 8px;
        background-color: #fff;
        border-radius: 20px 0 20px 20px;
        overflow: visible;
        box-shadow:0px 6px 12px 0px rgba(0,34,80,0.15);
        .tags-img{
          right: auto;
          left: 26px;
          bottom: auto;
          top: -4px;
        }
      }
      .van-image{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        height: 212px;
      }
      .info{
        display: none;
      }
    }
  }
}
/deep/ .login,/deep/ .regContainer{
  .bg-login{
    padding-top: 130px;
    .logo{
      width: 380px;
    }
    .cooperation{
      width: 540px;
    }
  }
}
/deep/ .regContainer{
  .bg-login{
    padding-top: 8vh!important;
  }
}
/deep/ .m-footer.tabbar{
  justify-content: flex-start;
  display: block;
  background: url(~@assets/img3_0/tabBar/bet_index_tabbar_background@2x.png) center bottom no-repeat;
  background-size: 100% auto;
  .van-tabbar-item{
    float: left;
    width: 20%;
    flex: initial;
    position: absolute;
    top: 0;
    height: 100%;
    .van-tabbar-item__icon{
      margin-bottom: 0;
    }
    &:first-child{
      left: 50%;
      bottom: 0;
      transform: translate(-50%,0);
      padding-bottom: 48px;
      .van-tabbar-item__icon{
        width: 96px;
        height: 96px;
        img{
          height: 100%;
        }
      }
    }
    &:nth-child(2){
      left: 0;
    }
    &:nth-child(3){
      left: 20%;
    }
    &:nth-child(4){
      left: 60%;
    }
    &:nth-child(5){
      right: 0;
    }
  }
}
/deep/ .member-page{
  .latest{
    margin: 30px 28px!important;
    box-shadow:0px 4px 28px 0px rgba(0,34,80,0.1);
    border-radius:16px;
    padding-left: 0!important;
    h2{
      background-color: #FAFAFA;
      padding-left: 40px!important;
      position: relative;
      border-radius:16px 16px 0 0;
      border-bottom: 0!important;
      height: 80px!important;
      &:before{
        content: '';
        position: absolute;
        width:12px;
        height:28px;
        background:rgba(11,145,251,1);
        left: 0;
        top: 50%;
        margin-top: -14px;
      }
    }
    .newest-info-detail{
      padding-left: 40px!important;
    }
  }
  .person-entr{
    margin: 30px 28px!important;
    box-shadow:0px 4px 28px 0px rgba(0,34,80,0.1);
    border-radius:16px;
    background-color: #fff;
    h2{
      background-color: #FAFAFA;
      padding-left: 40px!important;
      position: relative;
      border-radius:16px 16px 0 0;
      height: 80px;
      line-height: 80px;
      color: #333;
      font-size: 28px;
      font-weight: bold;
      &:before{
        content: '';
        position: absolute;
        width:12px;
        height:28px;
        background:rgba(11,145,251,1);
        left: 0;
        top: 50%;
        margin-top: -14px;
      }
    }
    .menu{
      width: 33.33%!important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto!important;
      padding: 30px 0;
      background-color: transparent!important;
      &:after{
        content: none!important;
      }
      &:nth-child(2),&:nth-child(3){
        margin-bottom: 0!important;
      }
      >i{
        margin-right: 0!important;
        margin-bottom: 14px;
      }
    }
  }
  .balance-out-wrap{
    margin: 30px 28px!important;
    box-shadow:0px 4px 28px 0px rgba(0,34,80,0.1);
    border-radius:16px;
    background-color: #fff;
    .balance-out{
      padding: 0!important;
      background-color: transparent!important;
      box-shadow: none!important;
      .balance{
        box-shadow: none!important;
        background-color: transparent!important;
      }
    }
  }
  .quick-link{
    position: relative;
    padding:40px;
    &:after{
      content: '';
      position: absolute;
      left: 40px;
      right: 40px;
      top: 0;
      height: 2px;
      background-color: #E6EAEF;
    }
    li{
      flex-direction: row;
      img{
        width: 48px;
      }
    }
  }
  .m-header.van-nav-bar{
    background-color: transparent!important;
    position: relative!important;
    .van-nav-bar__title{
      display: none;
    }
  }
  .user-info{
    background-color: transparent!important;
    .person-info img{
      width: 120px!important;
      height: 120px!important;
    }
    .name{
      color: #fff!important;
    }
    .bottom{
      color: #B4D1FF!important;
      span{
        color: #fff!important;
      }
      &.bottom-progress{
        margin: 8px 0;
        div{
          display: flex;
          align-items: center;
          color: #fff;
          font-size: 24px;
          .bottom-progress-vip{
            font-size: 24px!important;
            margin-left: 12px;
          }
        }
        .van-progress{
          flex:1;
          border-radius: 16px;
          position: static;
          margin-top: 16px;
        }
      }
    }
  }
  .m-body{
    background: url(~@assets/img3_0/memberCenter/bet_me_bg_top@2x.png) center -88px no-repeat;
    background-size: 100% auto;
    margin-top: -88px;
  }
  .info-area > span:first-child{
    color: #666!important;
  }
}
/deep/ .brand{
  background: none!important;
  padding-bottom: 1rem;
  .m-header.van-nav-bar{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
  }
  .main{
    padding: 20px;
  }
  .brand-list{
    margin-bottom: 10px;
    img{
      width: 100%;
      display: block;
    }
  }
}
/deep/ .vip-page{
  .van-tabs__content{
    .van-tab__pane-wrapper{
      padding: 0!important;
    }
  }
  .m-body.bg-img{
    padding-top: 0;
  }
  .events{
    .m-header{
      display: none;
    }
  }
  .vip-tab-head{
    height: 88px;
    background: #3A4256;
    display: flex;
    position: relative;
    z-index: 10;
    align-items: center;
    justify-content: center;
    .van-icon-arrow-left{
      position: absolute;
      width: 76px;
      height: 100%;
      top: 0;
      left: 0;
      color: #fff;
      text-align: center;
      line-height: 88px;
      font-size: 40px;
    }
    span{
      height: 100%;
      position: relative;
      line-height: 88px;
      margin: 0 49px;
      font-size: 32px;
      color: rgba(255,255,255,.5);
      &.on{
        color: #fff;
        font-size: 36px;
      }
      &.on:after{
        content: '';
        position: absolute;
        bottom: 8px;
        width: 100%;
        left: 0;
        background: #CFB698;
        height: 4px;
      }
    }
  }
  .privilege{
    background-color: #fff;
  }
  .newvip-head{
    background: #3A4256;
    padding-top: 62px;
    .newvip-head-finish{
      text-align: center;
      font-size: 24px;
      color: #ccc;
      padding: 0 0 60px;
      span{
        color: #fff;
      }
    }
    .newvip-level{
      margin-top: 0!important;
      .vip-progeress{
        margin-top: 78px;
        .newvip-level-icon{
          width: 36px;
        }
        .vip-progeress1,.vip-progeress2{
          background: none!important;
        }
        .van-progress__portion:after{
          background: none;
        }
        .van-progress__pivot{
          color: #fff;
          top: -20px;
          &:after{
            content: none;
          }
        }
      }
    }
    .swiper-container01{
      margin-top: 0!important;
      border-bottom: 0!important;
      padding-bottom: 0!important;
      .swiper-slide{
        width: 550px;
      }
      .newvip-level-info{
        height: 310px;
        width: 100%;
      }
    }
  }
  .vip0zx{
    h2{
      margin: 40px 30px!important;
      i{
        width:6px;
        height:32px;
        background:linear-gradient(360deg,rgba(255,237,219,1) 0%,rgba(210,183,156,1) 100%);
        border-radius:3px;
        margin-right: 16px;
      }
    }
    ul{
      padding: 0 30px!important;
      justify-content: space-between;
      li{
        background: #F5F6FA;
        padding: 20px 14px;
        border-radius:8px;
        width: 334px!important;
        margin-bottom: 22px!important;
        img{
          margin-right: 16px!important;
          width: 64px!important;
        }
        i{
          color: #9AA4C2!important;
          font-size: 22px!important;
        }
      }
    }
    .newvip-fs{
      display: flex;
      align-items: flex-start;
      padding: 0 30px;
      flex-wrap: wrap;
      div{
        width: 33.33%;
        text-align: center;
        margin-bottom: 40px;
        p:first-child{
          color: #C2A788;
          font-size: 44px;
          font-weight: bold;
        }
        p:last-child{
          color: #666;
          font-size: 24px;
          margin-top: 16px;
        }
      }
    }
  }
  .events-title{
    display: flex;
    height: 120px;
    padding: 0 30px;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin:0;
    i{
      width:6px;
      height:32px;
      background:linear-gradient(360deg,rgba(255,237,219,1) 0%,rgba(210,183,156,1) 100%);
      border-radius:3px;
      margin-right: 16px;
      margin-right: 16px;
    }
  }
  .newfs-wrap{
    display: flex;
    li{
      flex: 1;
      &.newfs-wrap-tit{
        font-size: 24px;
        color: #fff;
      }
      div{
        height: 80px;
        text-align: center;
        line-height: 80px;
        color: #8E9CB7;
        img{
          width: 27px;
          top: 8px;
          position: relative;
        }
        &:first-child{
          background-color: #E1E5EE;
          color: #6C7B98;
        }
        &:nth-child(odd){
          background-color: #fff;
        }
        &:nth-child(even){
          background-color: #F6F9FD;
        }
      }
      &:first-child div:first-child{
        background-color: #D7C2B2!important;
        color: #333!important;
      }
      &:first-child div:nth-child(odd){
        background-color: #636E82;
        color: #fff;
      }
      &:first-child div:nth-child(even){
        background-color: #545C70;
        color: #fff;
      }
    }
  }
  .events-rules-item{
    display: flex;
    padding: 0 30px;
    align-items: flex-start;
    margin-bottom: 60px;
    i{
      width:32px;
      height:32px;
      background:rgba(210,183,156,1);
      font-size: 24px;
      color: #fff;
      text-align: center;
      line-height: 32px;
      border-radius: 50%;
    }
    div{
      flex: 1;
      margin-left: 16px;
      h3{
        font-size: 28px;
        color: #B2987A;
        font-weight: bold;
        margin: 0;
      }
      p{
        font-size: 28px;
        color: #566178;
        line-height: 48px;
      }
    }
  }
}
/deep/ .brand{
  .m-header{
    z-index: 20;
  }
}
/deep/ .daili-container{
  .main .domain{
    background-color: #0E5ED6!important;
  }
}
/deep/ .withdraw-page{
  .table tbody td:last-child{
    color:@bg-gradient-color
  }
}
/deep/ .callBack{
  .aagames-button-box{
    .van-uploader button{
      background:linear-gradient(117deg,rgba(111,232,232,1) 0%,rgba(46,186,192,1) 100%)!important;
      color: #fff!important;
      border: 0!important;
    }
  }
}
/deep/ .kefu .m-body{
  padding-bottom: 0;
}
/deep/ .help-detail{
  height: 100%;
  overflow: auto;
}
/deep/ .loading{
  background: rgba(0,0,0,.7);
  .title{
    color: #fff!important;
  }
}
/deep/ .carrycash{
  min-height: 100%!important;
}
/deep/ #invitation{
  .box{
    .title,.content{
      color: #333;
    }
  }
  .btn{color: #fff;background-color: @bg-gradient-color}
  .cumulative div{
    height: 90px!important;
    border-radius: 90px!important;
    padding: 0!important;
    line-height: 90px;
    background: #fff;
  }
}
/deep/ .recharge-bottom .btn-group .van-button--default{
  color: @bg-gradient-color;
}
/deep/ .aboutMore{
  height: 100%;
  min-height: auto!important;
  .main{
    .reset .aagames-select-box .select{
      &:after{
        background-color: #EDEFF6!important;
        bottom: 0;
        left: 0;
        right: 30px;
        opacity: 1!important;
      }
      span{
        font-weight: bold;
      }
      .right-text{
        color: #333;
        font-weight: normal;
      }
    }
    .login-out{
      font-weight: bold;
    }
  }
}
/deep/ .registerSuccess .aagames-button-box .van-button--primary.line{
  background:linear-gradient(117deg,rgba(111,232,232,1) 0%,rgba(46,186,192,1) 100%)!important;
  border: 0!important;
}
