
.agentHome{
    .title01{
        background:linear-gradient(117deg, rgba(61,66,78,1) 0%, rgba(120,124,136,1) 100%);
        -webkit-background-clip:text;
        -webkit-text-fill-color:transparent;
    }
    .title02{
        color: #999;
    }
    .join-us{
        border-radius: 80px!important;
    }
    .slide01{
        background: url('~@assets/img3_0/agent/home/join us_bg@2x.png') center top no-repeat!important;
        background-size: 100% 100%!important;
        .bg{
            display: none;
        }
        .title01{
            font-size: 0;
            background: url('~@assets/img3_0/agent/home/bet_plan_title@2x.png') center top no-repeat!important;
            background-size: 100% auto!important;
            width: 432px;
            margin: 40px auto 0;
            padding-top: 0;
        }
    }
    .qb-slideimg03{
        display: block;
        max-height: 60%;
        width: 60%;
        margin: 2vh auto 0;
    }
}
