.member{
    .name{
        color: #000 !important;
    }
}
.domain{
    background: url(~@assets/img3_0/agent/agent_me_card@2x.png)!important;
    background-size: 100% 100%!important;
    .user{
        background: none!important;
        box-shadow: none!important;
    }
    .list{
        box-shadow: none!important;
    }
}
.login-out-01{
    width: 100%!important;
}