.container{
    // background-image: url('~@assets/img3_0/login/login-bg@2x.png');
    background:#F3F3F3 !important;
    .main{
        background:#fff !important;
        /deep/ .van-tabs .van-tabs__wrap{
          border-color:rgba(102,102,102,0.2) !important;
        }
    }
}
/deep/ .submit-form {
    .reset:nth-child(5) {
      >img{
        width: 50px !important;
        height: auto !important;
        margin-left: 0 !important;
      }
    }
}
/deep/ .register.submit-form .reset{
  border-color:rgba(102,102,102,0.2) !important;
}