.container.login, .container.regContainer, .container.registerSuccess{
    
    background:#0D4164 !important;
    /deep/.van-tabs {
        .van-tabs__nav {
            border-color:#0D4164 !important;
            .van-tab--active {
                color: #0D4164 !important;
                .van-ellipsis{
                    color: #0D4164 !important; 
                }
            }
        }
    }  
    .aagames-login-header /deep/ .aagames-nav-bar .nav-center span{
        color:#fff !important;
    }
}
.function{
    .aagames-button-box{
        .line{
            margin-top: 40px;
            border: 2px solid #00213A;
            background: #0D4164 !important;
            color: #fff;
        }
    }
    
}
.container.registerSuccess {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:#fff !important;
    background-image:none;
    .main{
        background:#fff !important;
    }
    .aagames-nav-bar{
        background: transparent;
    }
    .aagames-form .input{
        color:#666 !important;
    }
    .input{
        input{
            background-color: @bg-card-color !important;
        }
        span{
            border: 0;
        }
        background-color: @bg-card-color !important;
        border-bottom: 0.02667rem solid rgba(102,102,102,0.2) !important;
    }
    .line{
        background-color: #282828 !important;
    }
}

.rocket{
    .ship{
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
    }
    .circle::before, .circle::after{
        background:#0D4164 !important;
    }
}

.customer {
    .kefu {
        color: #666!important;
    }
}

input::-webkit-input-placeholder {
    color: #999999 !important;
    font-size: 28px;
}

.aagames-form {
    .img {
        width: 44px !important;
        margin-left: 0 !important;
    }

    input::-webkit-input-placeholder {
        color: #999999 !important;
        font-size: 28px;
    }
}

.register {
    .function {
        .funDiv {
             color: #999999 !important;
            a {
                color: #999999 !important;
                text-decoration: none !important;
            }
        }
    }

    /deep/ .van-tabs__wrap {
        border-bottom: 0.02667rem solid rgba(255,255,255,0.06);
    }
}

.input {
    border-bottom: 0.02667rem solid rgba(255,255,255,0.06) !important;
}
// 登陆
.container.login {
    /deep/ .aagames-button-box {
        /deep/ .sign-in {
            background-color: #0D4164 !important;
        }
    }
}
// 注册
.container.regContainer {
    /deep/ .aagames-button-box {
        /deep/ .register {
            background-color: #0D4164 !important;
        }
    }
}
// 注册成功
.container.registerSuccess {
    .aagames-login-header /deep/ .aagames-nav-bar .nav-center span{
        color:#000 !important;
    }
    #register {
        background: #fff !important;
        .aagames-form {
            .input {
                background-color: #fff !important;
            }
        }

        .aagames-button-box {
            .sign-in {
                background-color: #0D4164 !important;
            }
        }
    }
    .main .register p{
        color:#000 !important;
    }
}

.container.regContainer {
    /deep/ .aagames-nav-bar .nav-left .van-icon{
        color:#ccc !important;
    }
    /deep/ .register {
        .aagames-form {
            background: transparent !important;
        }
        /deep/ .input,
        .input {
            color: #999999;
            background: #fff !important;
            border-bottom: 2px solid #323232;
            border-radius: 0;
            input{
                &::-webkit-input-placeholder{
                    color:#999;
                }
            }
        }
    }
    .main#register {
      background-color: #fff !important;
      background:#fff !important;
      /deep/ .van-tabs .van-tabs__nav{
            background: #fff !important;
            .van-tab--active{
                font-size: inherit !important;
            }
        }
    }
}
.login{
    /deep/ .van-tabs{
        .van-tabs__nav{
            background-color: #fff !important;
            .van-tab--active{
                font-size: inherit !important;
            }
        }
    }
}
/deep/ .aagames-nav-bar .nav-left .van-icon{
    color:#ccc !important;
}
.fill {
// border-top: 1px solid #323232;
    background-color: #fff !important;
    .input{
        background:#fff !important;
        input{
            background:#0D4164 !important;
        }
    }
}
.function{
    background:#fff !important;
}
.customer{
    background:#fff !important;
    .wait,.kefu{
        color:#666 !important;
    }
}
.login{
    .main#home{
        background:#fff !important;
    }
    /deep/ .input,
        .input {
            background: #fff !important;
        }
    .input{
        input{
            &::-webkit-input-placeholder{
                color:#999;
            }
        }
    }
    .customer{
        .wait,.kefu{
            color:#666 !important;
        }
    }
}
.container.regContainer {
    .register {
        .aagames-form {
            background: transparent !important;
        }
        /deep/ .input,
        .input {
            color: #999999;
            background: #fff !important;
            border-bottom: 2px solid #323232;
            border-radius: 0;
            input{
                &::-webkit-input-placeholder{
                    color:#999 !important;
                }
            }
        }
        .fill{
            .onekey{
                .rocket{
                    width:220px !important;
                    height:220px !important;
                    .circle,
                    .ship{
                        width:80% !important;
                        height:80% !important;
                        left:50% !important;
                        top:50% !important;
                        transform:translateX(-50%) translateY(-50%);
                    }
                }
            }
        }
        .function{
            padding-top:0 !important;
            .aagames-button-box{
                .register{
                    margin-top:25px !important;
                }
                .line{
                    margin-top:25px !important;
                }
            }
        }
        .customer{
            padding:40px 0;
        }
    }
    .main#register {
    //   height:calc(100vh - 5.7rem) !important;
    height:65% !important;
      background-color: #fff !important;
    //   bottom:auto !important;
      background:#fff !important;
    }
}
.main .van-tabs{
    .van-tabs__nav{
        background-color: #0D4164 !important;
    }
}
.fill {
// border-top: 1px solid #323232;
    background-color: #fff !important;
    .input{
        background:#fff !important;
        input{
            background:#fff !important;
        }
    }
}
.function{
    background:#fff !important;
}
.customer{
    background:#fff !important;
    .wait,.kefu{
        color:#666 !important;
    }
}
.login{
    .main#home{
        // height:calc(100vh - 6.8rem) !important;
        height: 60% !important;
        // position: static !important;
        // bottom:auto !important;
        background:#fff !important;
    }
    .input{
        input{
            &::-webkit-input-placeholder{
                color:#999 !important;
            }
        }
    }
    .customer{
        padding:40px 0 !important;
        .wait,.kefu{
            color:#666 !important;
        }
    }
}
.aagames-form .input .phone, .aagames-form .input .phone{
    width:50px !important;
    margin-left:0 !important;
}

/deep/ .aagames-form .send-sms{
    background:#0D4164 !important;
}
.send-sms{
    background:#0D4164 !important;
}

.rocket .ship{
    position:relative;
    background-color:transparent !important;
    &::before{
        content:'';
        width:80%;
        height:80%;
        background:#fff;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:1;
        border-radius:50%;
    }
    &::after{
        content:'';
        width:100%;
        height:100%;
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:2;
        border-radius:50%;
    }
}

.function .aagames-button-box .line{
    background:transparent !important;
    color:#0D4164 !important;
    border:2px solid #0D4164 !important;
}
.container.registerSuccess{
    .line{
        background-color: transparent !important;
        color:#0D4164 !important;
        border:2px solid #0D4164 !important;
    }
}
.container.registerSuccess {
    /deep/ .aagames-login-header .bg-login{
        display:none;
    }
}
/deep/ .aagames-nav-bar .nav-center span{
    color:#fff !important;
}