.downApp {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background: url(~@assets/img3_0/common/download_bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    .nav-bar{
        z-index: 10;
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn{
        overflow: visible!important;
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        overflow: auto;
        padding: 88px 0!important;
        height: auto!important;
        min-height: 100%;
        .swiper-container{
            height: 65vh!important;
        }
    }
    .right{
        div:first-child,div:last-child{
            background: none!important;
            color: #fff!important;
            background-color: @bg-gradient-color!important;
        }
    }
    .down_logo{
        width: 640px!important;
    }
    .downAppBtn button:first-child{
        background:linear-gradient(131deg,rgba(156,130,233,1) 0%,rgba(121,119,228,1) 100%)!important;
    }
    .main02{
        padding: 40px 0!important;
    }
    .main02 img{
        width: 690px!important;
        display: block;
        &:first-child{
            display: none;
        }
    }
    .appdown_logo{
        display: none;
    }

    .down-tip{
        color: #999!important;
        span{
            color: #0B91FB;
            display: block;
        }
    }
    .slide-down span{
        color: #333!important;
    }
}
