.container.login, .container.regContainer, .container.registerSuccess{
    background-image: url('~@assets/img3_0/login/login-bg@2x.png');
}
.function{
    .aagames-button-box{
        .line{
            margin-top: 40px;
            // border: 2px solid @border-color-base;
            background: #fff !important;
            color: #EC0237;
            border:2px solid #EC0237;
        }
    }  
}
.container.registerSuccess {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:#fff !important;
    background-image:none;
    .main{
        background:#fff !important;
    }
    .main #register{
        background:#fff !important;
        .input{
            background:#fff !important;
            input{
                background:#fff !important;
            }
        }
    }
    .aagames-nav-bar{
        background: transparent;
    }
    .input{
        input{
            background-color: #fff !important;
        }
        span{
            border: 0;
        }
        background-color: #fff !important;
    }
    .line{
        background-color: #957D6A;
    }
    /deep/ .aagames-login-header .bg-login{ 
        padding:1.47333rem 0 0 !important;    
        width: 100% !important;
        height: 6rem !important;
        position: absolute !important;
        top: 0 !important;
        .logo{
            // width:3rem;
            height:80% !important;
            width:auto !important;
        }
    }
    .main .register p{
        color:#666 !important;
    }
    .main .register div{
        color:#666 !important;
    }
    .main .accountInfo .login-info .aagames-form label{
        color:#666 !important
    }
    
    .main .accountInfo .login-info .aagames-form span{
        color:#999 !important
    }
    .main .accountInfo .login-info .aagames-form a{
        color:#666 !important
    }

}
.rocket{
    .ship{
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
    }
}
.home{
    background:#fff !important;
}
/deep/ .van-tabs .van-tabs__nav .van-tab--active{
    color:@primary-color !important;
    font-size: 30px !important;
}

.container.regContainer {
    /deep/ .aagames-login-header .bg-login{ 
        padding:1.47333rem 0 0 !important;    
        width: 100% !important;
        height: 35% !important;
        position: absolute !important;
        top: 0 !important;
        .logo{
            // width:3rem;
            // height:50% !important;
            height:68% !important;
            width:auto !important;
        }
    }
    .register {
        .aagames-form {
            background: #fff !important;
        }
        /deep/ .input,
        .input {
            color: #999999;
            background: #fff !important;
            border-bottom: 2px solid #323232;
            border-radius: 0;
            input{
                &::-webkit-input-placeholder{
                    color:#999 !important;
                }
            }
        }
        .fill{
            .onekey{
                .rocket{
                    width:220px !important;
                    height:220px !important;
                    .circle,
                    .ship{
                        width:80% !important;
                        height:80% !important;
                        left:50% !important;
                        top:50% !important;
                        transform:translateX(-50%) translateY(-50%);
                    }
                }
            }
        }
        .function{
            padding-top:0 !important;
            .aagames-button-box{
                .register{
                    margin-top:25px !important;
                }
                .line{
                    margin-top:25px !important;
                }
            }
        }
        .customer{
            padding:40px 0;
        }
    }
    .main#register {
    //   height:calc(100vh - 5.7rem) !important;
    height:65% !important;
      background-color: #fff !important;
    //   bottom:auto !important;
      background:#fff !important;
    }
}
.van-tabs{
    .van-tabs__nav{
        background-color: #fff !important;
    }
}
.fill {
// border-top: 1px solid #323232;
    background-color: #fff !important;
    .input{
        background:#fff !important;
        input{
            background:#fff !important;
        }
    }
}
.function{
    background:#fff !important;
}
.customer{
    background:#fff !important;
    .wait,.kefu{
        color:#ccc !important;
    }
}
.login{
    .main#home{
        // height:calc(100vh - 6.8rem) !important;
        height: 60% !important;
        // position: static !important;
        // bottom:auto !important;
        background:#fff !important;
        /deep/ .van-tabs .van-tab--active .van-ellipsis{
            color: @primary-color !important;
        }
    }
    .input{
        input{
            &::-webkit-input-placeholder{
                color:#999 !important;
            }
        }
    }
    .customer{
        padding:40px 0 !important;
        .wait,.kefu{
            color:#ccc !important;
        }
    }
    /deep/ .aagames-login-header .bg-login{ 
        padding:1.47333rem 0 0 !important;    
        width: 100% !important;
        height: 40% !important;
        position: absolute !important;
        top: 0 !important;
        .logo{
            // width:3rem;
            height:60% !important;
            width:auto !important;
        }
    }
}
.aagames-form .input .phone, .aagames-form .input .phone{
    width:50px !important;
    margin-left:0 !important;
}
/deep/ .aagames-form .input, .aagames-form .input{
    background:#fff !important;
}
/deep/ .aagames-form .send-sms{
    background:@primary-color !important;
}
.send-sms{
    background:@primary-color !important;
}

.rocket .ship{
    position:relative;
    background-color:transparent !important;
    &::before{
        content:'';
        width:80%;
        height:80%;
        background:#fff;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:1;
        border-radius:50%;
    }
    &::after{
        content:'';
        width:100%;
        height:100%;
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:2;
        border-radius:50%;
    }
}
/deep/ .aagames-nav-bar {
    background: #EC0237 !important;
    .nav-left{
        .van-icon{
            color:#fff !important;
        }
    }
    .nav-center{
        span{
            color:#fff !important;
        }
    }
}
.container.regContainer .aagames-nav-bar{
    background: #EC0237 !important;
    .nav-left{
        .van-icon{
            color:#fff !important;
        }
    }
    .nav-center{
        span{
            color:#fff !important;
        }
    }
}
.aagames-form .input, .aagames-form .input{
    border-color:@border-color !important;
}
/deep/ .aagames-form .input, .aagames-form .input{
    border-color:@border-color !important;
}
.function .aagames-button-box .line{
    background:transparent !important;
    color:@primary-color !important;
    border:2px solid @primary-color !important;
}
.container.registerSuccess{
    .line{
        background-color: transparent !important;
        color:@primary-color !important;
        border:2px solid @primary-color !important;
    }
}
.container.registerSuccess {
    /deep/ .aagames-login-header .bg-login{
        display:none;
    }
}