.aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background:#000000;
    .aagames-nav-bar{
        height:@height-nav-bar;
        .nav-left{
            height:100%;
            .aagames-logo{
                height:100%;
                display:flex;
                align-items: center;
                .logo{
                    // width:auto !important;
                    // height:80% !important;
                }
            }
        }
    }
    .nav-center .member-info {
        background: #181818 !important;
        .deposit{
            background: #E30168 !important;
        }
    }
}