.downApp {
    // background: url(~@assets/img3_0/common/download_bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    .nav-bar{
        z-index: 10;
        .left{
            color: #fff !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        .app{
        }
    }
}
