.downApp {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background: url(~@assets/img3_0/common/download_bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    .nav-bar{
        z-index: 10;
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        padding: 88px 0!important;
        height: auto!important;
        min-height: 100%;
        .swiper-container{
            height: 45vh!important;
        }
    }
    .right{
        div:first-child,div:last-child{
            background: none!important;
            color: #fff!important;
            background-color: @bg-gradient-color!important;
        }
    }
    .main{
        overflow: auto;
    }
    .down_logo{
        width: 260px!important;
    }
    .downAppBtn button:first-child{
        background:linear-gradient(131deg,rgba(255,167,129,1) 0%,rgba(253,58,58,1) 100%)!important;
    }
    .main02 img{
        &:first-child{
            width: 100px!important;
        }
        display: block;
    }
}

