.container{
    .main{
        .bg-login {
            height: 214px !important;
            display: flex !important;
            background-size: auto 90px !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            margin-top: 80px !important;
        }
        .errorImg {
            position: absolute !important;
            right: 0 !important;
            top: 434px !important;
            width: 612px !important;
            height: 700px !important;
            background-size: 100% auto !important;
            background-repeat: no-repeat !important;
            background-position: top center !important;
        } 
        .text{
            margin-top: 200px !important;
        }
    }
    
}