.container .aagames-header{
    background:@primary-color !important;
    border-color:@primary-color !important;
}
.main > .total-box .income{
    box-shadow: 1px 1px 20px rgba(0,0,0,0.6) !important;
}