.m-body{
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
}
/deep/ .m-header.van-nav-bar{
    line-height: @height-nav-bar !important;
}
/deep/ .aagames-button-box .aagames-button.sign-in{
    background:@primary-color !important;
}
/deep/ .aagames-button-box .aagames-button.line{
    background:transparent !important;
}
/deep/ .vip-info h3 span,/deep/ .my-bets .item h3,/deep/ .section > h2{
    color:#000 !important;
}
/deep/ .button{
    color:#fff !important;
}
/deep/ .van-tabs {
  .van-tabs__nav {
    background-color: transparent;
    // background: @bg-color;
    .van-tab {
      color: #666;
    }
    .van-tab--active {
      color: #fff;
    }
  }
}
/deep/ .tabs > label{
  border-color:#666 !important;
  color:#666 !important;
  &.active{
    border-color:@primary-color !important;
    color:@primary-color !important;
  }
}

.vip-page .van-tabs /deep/ .van-sticky{
  background:@bg-color !important;
}
/deep/ .vip-info h3 span{
  color:#000 !important;
}
/deep/ .my-bets .item h3{
  color:#000 !important;
}
/deep/ .button{
  color:#fff !important;
}
/deep/ .platform label.active{
  color:#fff !important;
}
/deep/ .section > h2{
  color:#000 !important;
}
/deep/ .m-header.van-nav-bar{
  background-color:#fff !important;
}
/deep/ .nav-center .member-info{
  background:none !important;
  border:3px solid @primary-color !important;
  .money{
      color:#EC0237 !important;
      .van-icon{
          color:rgba(102,102,102,0.4) !important;
      }
  }
  .deposit{
      height:51px !important;
  }
}