.message-title{
    color:#000 !important;
    .van-icon{
        color:#000 !important;
    }
}
.e-main{
    /deep/ .van-tabs .van-tabs__nav{
        .van-tab{
            color:#fff !important;
        }
        .van-tab--active{
            background:@primary-color !important;
            color:#fff !important;
        }
    }
} 