/deep/.step1{
    right:24px !important;
    top:-14px !important;
    .van-image{
        // width:300px !important;
    }
}

/deep/.step2{
    right:-360px !important;
    top:-10px !important;
}
/deep/.step3{
    bottom:-20px;
    left:-60px !important;
    .van-image{
        width:400px !important;
    }
}
/deep/.step4{
    right:0;
    .van-image{
      width:600px !important;
    }
}