.income{
    background-color: #fff !important;
    box-shadow:0px 4px 17px 0px rgba(92,96,150,0.16);
    .total-amount{
        .item{
            >div{
                &:first-child{
                    color: #000 !important;
                }
            }
        }
    }
    .incom-btn{
        >div{
            &:first-child{
                background-color: @bg-color-2;
                color: #fff !important;
            } 
        }
    }
}
.moneyBox{
    .account{
        >div{
            border: 0 !important;
            background-color: @bg-color-2;
            color: #fff !important;
        }
    }
}
.list{
    .item {
        &::after{
            height: 0 !important;
        }
        >div{
            >span{
                color: #666 !important;
            }
        }
    }
}
.van-popup .list > p.active{
    color: #fff !important;
}