#app{
    .bg-login{
        margin-top: 20px;
        visibility: hidden;
    }
    .people{
        visibility: hidden;
        display: block;
    }
    .container{
        background-image: url('~@assets/img3_0/other/anlj_bg@2x.png');
        background-size:100%;
        background-position:0 0;
        background-repeat: no-repeat;
        .code{
            color: #1A192A;
        }
    }
    .aagames-button-box{
        .aagames-button{
            color: #fff;
        }
    }
}
