.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-color: #fff !important;
    .nav-bar{
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        .app{
            margin-top: 500px !important;
        }
    }
}