.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-position: center 0px !important;
    .main{
        margin-top:0 !important;
        height:auto !important;
        .downAppBtn{
            button{
                margin-top:450px;
                color:#fff !important;
            }
        }
    }
}