.container.login, .container.regContainer, .container.registerSuccess {
  background-image: url('~@assets/img3_0/login/login-bg@2x.png');
}

.container {
  //.main {
  //  background: #1F1B35 !important;
  //
  //}

  #register {
    border-top-left-radius: 0.26667rem;
    border-top-right-radius: 0.26667rem;
    background-color: #1F1B35;
    overflow: hidden;
  }

}

.function {
  background: #1F1B35 !important;

  .aagames-button-box {
    .line {
      margin-top: 40px;
      border: 2px solid @border-color-base;
      background: @bg-card-color !important;
      color: @primary-color;
    }
  }
}

.container.registerSuccess {
  #register {
    background: #1F1B35 !important;
    border-top-left-radius: 0.26667rem;
    border-top-right-radius: 0.26667rem;
  }

  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;

  .main {
    #register {
      .aagames-button-box {
        .aagames-button.sign-in {
          //color:rgba(0,0,0,1);
        }
      }

      .accountInfo {
        /deep/ .login-info {
          /deep/ .input {
            background: #1F1B35 !important;
          }
        }
      }
    }
  }

  .aagames-nav-bar {
    background: transparent;
  }

  .input {
    input {
      background-color: @bg-card-color !important;
    }

    span {
      border: 0;
    }

    background-color: @bg-card-color !important;
  }

  .line {
    background-color: @bg-card-color;
  }
}

.rocket {
  .ship {
    background-color: #fff!important;
    background-image: url('../../img3_0/login/onekey_bg@2x.png');
    background-size: 100%;
  }
}

.container {
  .register {
    background: #1F1B35 !important;
    // border-top-left-radius: 0.26667rem;
    // border-top-right-radius: 0.26667rem;
    .van-tabs {
      background: #1F1B35 !important;
    }

    .van-tabs__wrap {
      background: #1F1B35 !important;
      border-bottom-color: #3f3f3f!important;
    }

    .van-tabs__nav {
      background: #1F1B35 !important;
    }

    .fill {
      background: #1F1B35 !important;
    }
  }

  .main#home {
    background: #1F1B35 !important;
  }

  .customer {
    background: #1F1B35 !important;
  }

  .kefu {
    color: #fff !important;
  }

  /deep/ .aagames-form {
    .send-sms {
      background: #B4985B !important;
      color: rgba(0, 0, 0, 1) !important;
    }

    .input {
      background: #1F1B35 !important;

      input {
        background: #1F1B35 !important;
      }
    }
  }

  /deep/ #g-code {
    .input {
      background: #1F1B35 !important;

      input {
        background: #1F1B35 !important;
      }
    }
  }

  /deep/ .aagames-button-box {
    .line {
      border: 2px solid #B4985B !important;
      background: #1F1B35 !important;

      span {
        color: rgba(255, 255, 255, 1) !important;
      }
    }

    .register {
      background: #B4985B !important;
    }

    .van-button__text {
    }
  }
}

.container.regContainer {
  .register {
      .fill{
          .onekey{
              .rocket{
                  width:220px !important;
                  height:220px !important;
                  .circle,
                  .ship{
                      width:80% !important;
                      height:80% !important;
                      left:50% !important;
                      top:50% !important;
                      transform:translateX(-50%) translateY(-50%);
                  }
              }
          }
      }
      .function{
          padding-top:0 !important;
          .aagames-button-box{
              .register{
                  margin-top:25px !important;
              }
              .line{
                  margin-top:25px !important;
              }
          }
      }
      .customer{
          padding:40px 0;
      }
  }
  .main#register {
  //   height:calc(100vh - 5.7rem) !important;
      height:65% !important;
  }
}

.login{
  .main#home{
      height: 60% !important;
  }
  .customer{
      padding:40px 0 !important;
  }
}


