.aagames-nav-bar {
    background: #ffffff !important;
}
.van-tabs {
    .van-tabs__nav { 
        .van-tab--active {
            font-size:30px !important;
            color:@primary-color !important;
        }
    }
}
.van-sticky--fixed {
    background: #ffffff !important;
} 
// .van-tabs .van-tabs__nav--line {
//     background: #ffffff !important; 
// }
.van-tabs .van-tabs__content .featured {
    background: #ffffff !important; 
}
.app-index-3 .title_zh .title_top {
    color: #000000 !important;
}
.app-index-3 .list .list_item .item_box p {
    color: #000000 !important;
}

.login,.regContainer {
    background: #ffffff !important;
}
// .main {
//     background: #ffffff !important;
// }