.notice{
  color: #666 !important;
  box-shadow: none !important;
  margin: 0 28px!important;
  width: auto!important;
  padding: 0!important;
  .van-icon{
    color: @bg-gradient-color!important;
  }
}
