.container.login, .container.regContainer, .container.registerSuccess{
    background-image: url('~@assets/img3_0/login/login-bg@2x.png');
}
.function{
    .aagames-button-box{
        .line{
            margin-top: 40px;
            // border: 2px solid @border-color-base;
            background: #1B1B1B !important;
            color: #fff;
        }
    }
    
}
.container.registerSuccess {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color:@bg-card-color !important;
    background-image:none;
    .main{
        background:@bg-card-color !important;
        #register{
            background:@bg-card-color !important;
        }
    }
    .aagames-nav-bar{
        background: transparent;
    }
    .input{
        input{
            background-color: @bg-card-color !important;
        }
        span{
            border: 0;
        }
        background-color: @bg-card-color !important;
        border-bottom: 0.02667rem solid rgba(255,255,255,0.06) !important;
    }
    .line{
        background-color: #282828 !important;
    }
    /deep/ .aagames-login-header .bg-login{ 
        padding:1.47333rem 0 0 !important;    
        width: 100% !important;
        height: 6rem !important;
        position: absolute !important;
        top: 0 !important;
        .logo{
            // width:3rem;
            // height:80% !important;
            // width:auto !important;
        }
    }
}

.rocket{
    .ship{
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
    }
}
.container.regContainer {
    .register {
        .fill{
            .onekey{
                .rocket{
                    width:220px !important;
                    height:220px !important;
                    .circle,
                    .ship{
                        width:80% !important;
                        height:80% !important;
                        left:50% !important;
                        top:50% !important;
                        transform:translateX(-50%) translateY(-50%);
                    }
                }
            }
        }
        .function{
            padding-top:0 !important;
            .aagames-button-box{
                .register{
                    margin-top:25px !important;
                }
                .line{
                    margin-top:25px !important;
                }
            }
        }
        .customer{
            padding:40px 0;
        }
    }
    .main#register {
    //   height:calc(100vh - 5.7rem) !important;
    height:65% !important;
      background:@bg-card-color !important;
    }
}
.customer {
    .kefu {
        color: #FFFFFF !important;
    }
}

input::-webkit-input-placeholder {
    color: #999999 !important;
    font-size: 28px;
}

.aagames-form {
    input::-webkit-input-placeholder {
        color: #999999 !important;
        font-size: 28px;
    }
}

.register {
    .function {
        .funDiv {
             color: #999999 !important;
            a {
                color: #999999 !important;
                text-decoration: none !important;
            }
        }
    }

    /deep/ .van-tabs__wrap {
        border-bottom: 0.02667rem solid #4D2B1D;
    }
}

.input {
    border-bottom: 0.02667rem solid rgba(255,255,255,0.06) !important;
}
.login{
    .main#home{
        // height:calc(100vh - 6.8rem) !important;
        height: 60% !important;
        // position: static !important;
        // bottom:auto !important;
        background:@bg-card-color !important;
    }
    .input{
        input{
            &::-webkit-input-placeholder{
                color:#999 !important;
            }
        }
    }
    .customer{
        padding:40px 0 !important;
        .wait,.kefu{
            color:#fff !important;
        }
    }
}
.aagames-form .input .phone, .aagames-form .input .phone{
    width:50px !important;
    margin-left:0 !important;
}

/deep/ .aagames-form .send-sms{
    background:@primary-color !important;
}
.send-sms{
    background:@primary-color !important;
}

.rocket .ship{
    position:relative;
    background-color:transparent !important;
    &::before{
        content:'';
        width:80%;
        height:80%;
        background:#fff;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:1;
        border-radius:50%;
    }
    &::after{
        content:'';
        width:100%;
        height:100%;
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index:2;
        border-radius:50%;
    }
}
.function .aagames-button-box .line{
    background:transparent !important;
    color:@primary-color !important;
    border:2px solid @primary-color !important;
}
.container.registerSuccess{
    .line{
        background-color: transparent !important;
        color:@primary-color !important;
        border:2px solid @primary-color !important;
    }
}
.container.registerSuccess {
    /deep/ .aagames-login-header .bg-login{
        display:none;
    }
}