#app .aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    .deposit{
        color: #fff !important;
        position: relative;
        right: -4px;
    }
    .member-info{
        color: @primary-color;
        background-color: #FFE8DF;
    }
    .line{
        background: none;
        color: @primary-color;
    }
}
