.shareImg{
    transform: rotate(270deg);
}
.automatic,.input_{
    // border-bottom:2px solid rgba(153,153,153,.1) !important;
    span{
        color: #666 !important;
    }
}
.transfer_out{
    p{
        color:#000 !important;
    }
}
.trans-in,.note{
    color: #000 !important;
}
.transfer{
    >p{
        color: #000 !important;
    }
}
.accout{
    li{
        p{
            color: #000 !important;
        }
    }
}
#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #513425 !important;
    }
}

.van-popup .head p{
    color: #000 !important;
}
.van-popup .list ul li,
.van-popup .choose > .father,
.van-popup .choose > .father > .son{
    // border-color: rgba(#b1b1b1,.5) !important;
}


