.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-position: center !important;
    .nav-bar{
        .right{
            div{
                &:last-child{
                    background:@primary-color !important;
                    color:#fff !important;
                }
            }
        }
    }
    .main{
        margin-top:0 !important;
        height:auto !important;
        background:transparent !important;
        .dy{
            position:relative;
            z-index:-1;
        }
        .experience{
            color:#fff !important;
        }
        .downAppBtn{
            button{
                margin-top:450px;
                color:#fff !important;
            }
        }
    }
}