.member{
    .name{
        color: #000 !important;
    }
}
.container .downhz {
    display: none;
}
.container .main .domain .list {
    background-color: #3D3E50;
}
.container .main .user {
    border-radius: 8px 8px 0 0 !important;
    background-color: #54566a;
}
.container .main .person-entr .input {
    border-bottom: 0.01333rem solid #DDDDDD !important;
}
#app .container .aagames-button-box .dark.aagames-button {
    background-color: #FD902A;
}
.container .main .domain{
    background: #3D3E50 !important;
}
#app {
    .select .van-row .col-s , .select .van-row .col-e {
        color: #999999;
    }
}