.px30 {
  width: 30px;
}

.px20 {
  width: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt30 {
  margin-top: 30px;
}

.marginCenter {
  margin: 0 auto;
}

#app {
  .yabo-bank{
    .list-cells .cell{
      border-color: #b1b1b1 !important;
    }
  }
  .select {
    .title {
      color: @text-color-black;
    }

    .van-row .van-col {
      color: @text-color-black;
    }
  }

  .events .van-cell .event-item .info h3 span.vip {
    background: linear-gradient(303deg, rgba(255, 154, 93, 1) 0%, rgba(255, 57, 55, 1) 100%);
  }

  .app-install {
    background-color: #666666;

    .van-icon {
      color: #828282;
    }
  }

  .drawer {
    .select-title, .select-bar {
      color: @text-color-black;
    }

    .select-bar-i {
      color: @text-color-black;
    }
  }

  .activities {
    .events .van-cell {
      background: none;

      .event-item {
        border: 2px solid @primary-color;

      }

      .info h3 {
        color: @text-color-black;

        span {
          color: #fff;
        }
      }
    }
  }

  .e-main {
    .van-tab {
      background-color: #999999;
    }

    .van-tab--active {
      background: @primary-color !important;
    }

    li .list .content {
      color: #666666;
    }
  }

  .container .main .reseter .reset p {
    color: #000;
  }

  .deposit-page .deposit-main > li.quick-select .cell .cell-foot {
    color: #666;
  }

  .list-cells .cell-body {
    color: #666;
  }

  .van-popup {
    #phoneArea{
      .lheader{
        color: #666!important;
      }
    }

    .index-bar .cell .left {
      color: #666;

    }
  }

  .container .main .aagames-input-password p {
    color: #666;
  }

  .sports {
    .match {
      color: #000000;

      h3 {
        color: #000000;
      }

      li span {
        color: #ccc;
      }
    }
  }

  #invitation {
    .title {
      color: #000;
    }

    .toast > .box > .content {
      color: #000;
    }

    .btn {
      color: #fff;
    }
  }

  .tutorial .problem .item .left {
    color: #000;

  }

  .aagames-form .input > input, .aagames-form .input > input {
    color: #000;

  }

  .verify  .steps ul li {
    color: #000;
  }

  .vipOpen .reset input {
    color: #000;
  }

  .latest h2 {
    color: #000;
  }

  .matches .prev,
  .next {
    background: none;
  }
  .toast > .box {
    > .title, .content{
      color: #000;
    }
    .btn{
      color: #fff;
    }
  }
  .roadmap .mapinfo .countdown{
    color: #000;
  }
  .iconImage{
    .van-button.van-button--cancel{
      border-color: @primary-color;
    }
  }
  .container.verify .main .reset input{
    color: #000;
  }
  .register{
    .reset{
      input{
        color: #fff;
      }
    }
  }
  .container .main .amount .reset .tx input{
    color: #000;
  }
}
.custom .van-button.van-button--cancel{
  border: 2px solid @primary-color;
}

.container .main .wash-money{
  background: transparent !important;
  .money{
    p{
      color: #000 !important;
    }
  }
}

#app .member-page .m-body .top-bg span{
  background-color: #FFF8DD !important;
}

#g-code{
  input{
    background-color: transparent !important;
  }
}

.aagames-login-header .bg-login{ 
  padding:1.47333rem 0 0 !important;    
  width: 100% !important;
  height: 35% !important;
  position: absolute !important;
  top: 0px !important;
  .logo{
      // width:3rem;
      // height:50% !important;
      height:300px !important;
      width:300px !important;
      object-fit: scale-down;
      margin-top: 50px !important;
  }
}

.serviceSubscription .main .info{
  background-color:  @primary-color !important;
  .title{
    color: #fff !important
  }
  p{
    color: #666 !important;
  } 
}

.daliy-main{
  background-color:  transparent !important;
  h3{
    color: #000 !important;
  }
  p{
    color: #666 !important;
  }
}
