.shareImg{
    transform: rotate(270deg);
}
.container .accout > .transfer > .aagames-button-box .line{
    color: #CCCCCC !important;
    background: #171717;
}
.container .accout ul > li{
    // background: #700046 !important;
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #4E0131 !important;
    }
}
.container {
    background: #fff !important;
}
.container .accout .automatic {
    border-bottom: none !important;
}
.container .accout .transfer_out > p{
    color: #000000 !important;
    font-weight: 600;
}
.container .accout > .transfer > .input_ > input{
    background: #fff !important;
    color: #525152 !important;
}
.container .accout > .transfer > .input_ {
    border-bottom: none !important;
}
.container .accout .automatic > span:first-child {
    color: #666666 !important;
}
.container .accout .transfer_out .content > .content_l > .wallet {
    color: #666666 !important;
}

.van-popup .list ul li{
    border-color: rgba(#3f3f3f,.5) !important;
}
.van-popup .choose > .father{
    border-color: rgba(#3f3f3f,.5) !important;
    .son{
        border-color: rgba(#3f3f3f,.5) !important;
    }
}