input::-webkit-input-placeholder {
    color: #999999;
}

// .treasury,.master_account {
//     color: #ffffff !important;
// }

.tranfer_amount {
    div {
        border-bottom: 0.02667rem solid rgba(255,255,255,0.06) !important;
    }

    .active {
        background: #C8A77F !important;
    }
}
.container .aagames-header{
    background:@primary-color !important;
    border-color:@primary-color !important;
}
.main .list .item > div > span:first-child{
    color:#666 !important;
}
