.record-title{
    color:#000 !important;
}
.businessRecord .container /deep/ .vanTabs .van-tab--active{
    background:@primary-color !important;
    color:#fff !important;
}
/deep/ .van-tabs .van-tabs__nav .van-tab{
    background:#000 !important;
    color:#fff !important;
}
.container .tab_top > div > p:first-child{
    color:#000 !important;
}
.container .access .main li .header > span:first-child{
    color:#000 !important;
}
/deep/ .drawer .main{
    background:#fff !important;
}
/deep/ .drawer{
    .main{
        .select-title{
            color:#000 !important;
        }
        .select-bar{
            color:#000 !important;
        }
        .select .van-row{
            border-color:#000 !important;
            .data-time-picker{
                color:#000 !important;
            }
        }
        .select-bar-i > div{
            border-color:#666 !important;
            color:#666 !important;
            &.active_selected{
                border-color:@primary-color !important;
                background:@primary-color !important;
                color:#fff !important;
            }
        }
        .select-button{
            color:#fff !important;
        }
    }
}
.container .tab_top::after{
    background:rgba(255,255,255,0.06) !important;
}