.aagames-button-box{
  .login-out {
    background:rgba(254,228,43,1);
    font-weight:600;
    color:rgba(0,0,0,1);
  }
}
.member{
  .name{
    font-weight:500!important;
    color:rgba(0,0,0,1)!important;
  }
}
.aagames-button-box{
  .aagames-button{
    color: #000!important;
  }
}
