.bg-login{
    margin-top: 20px !important;
    visibility: hidden!important;
}
.people{
    visibility: hidden!important;
    display: block!important;
}
.container{
    background-image: url('~@assets/img3_0/other/anlj_bg@2x.png');
    background-size:100%;
    background-position:0 0;
    background-repeat: no-repeat;
}
.aagames-button-box{
    .aagames-button{
        color: #000;
    }
}
