.m-body{
    background-color: #251B4D;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    /deep/ .custom{
        background:rgba(0,0,0,0.5) !important;
    }
}
/deep/ .nav-center .member-info{
    background:none !important;
    border:3px solid @primary-color !important;
    .deposit{
        height:51px !important;
    }
}
/deep/ .van-tabs .van-tabs__nav{
    .van-tabs__line{
        background:#B38A58 !important;
    }
    .van-tab--active{
        span{
            color:#fff !important;
            font-size:32px !important;
        }
    }
}