.shareImg{
    transform: rotate(270deg);
}
.container .accout > .transfer > .aagames-button-box .line{
    border:2px solid @primary-color !important;
}

#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #97754B !important;
    }
}