.bg-login{
    margin-top: 20px !important;
    background-image: none !important;
}
.container {
    background: url('../../img3_0/other/anlj_bg@2x.png') no-repeat !important;
    background-size: 100% 100% !important;
}
.container{
    .main{
        width:100%;
        height: 100%;
        position: absolute !important;
        left:50%;
        top:30%;
        transform:translateX(-50%) translateY(-50%);
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        .errorImg {
            margin: 0 auto !important;
            width: 366px !important;
            img{
                width:100% !important;
            }
          }
    }
    .text{
        .code {
            color: #525152 !important;
        }
    }
    .center{
        top: 900px !important;
    }
    .centers{
        top: 25% !important;
    }
}