/deep/.function{
    background-color: #282828 !important;
    .aagames-button-box{
        .line{
            margin-top: 40px;
            border: 0 !important;
            background-color: #353435;
            color: #ccc;
        }
    }  
}
.customer,.fill{
    background-color: #282828 !important; 
    .aagames-form{
        .input{
            background-color: #282828 !important;  
        }
    }
}
#g-code{
    .send-sms{
        border: 0;
        background-color: #353435;
    }
}
#home{
    background-color: #282828 !important;  
}
.main#register{
    background-color: #282828;
    .van-tabs{
        /deep/.van-tabs__wrap{
            border-bottom: 2px solid #323232 !important;
        }
    }
    .aagames-form{
        /deep/.input{
            background-color: #282828 !important;  
            input{
                background-color: #282828 !important;  
            }
        }
    }
    .function{
        background-color: #282828 !important; 
    }
}
.container.login, .container.regContainer, .container.registerSuccess{
    #register{
        // background-color: #282828 !important; 
        .aagames-form{
            .input{
                background-color: #282828 !important;  
                input{
                    background-color: #282828 !important;  
                } 
            }
        }
    }
}

.container.regContainer {
    .register {
        .fill{
            .onekey{
                .rocket{
                    width:220px !important;
                    height:220px !important;
                    .circle,
                    .ship{
                        width:80% !important;
                        height:80% !important;
                        left:50% !important;
                        top:50% !important;
                        transform:translateX(-50%) translateY(-50%);
                    }
                }
            }
        }
        .function{
            padding-top:0 !important;
            .aagames-button-box{
                .register{
                    margin-top:25px !important;
                }
                .line{
                    margin-top:25px !important;
                }
            }
        }
        .customer{
            padding:40px 0;
        }
    }
    .main#register {
    //   height:calc(100vh - 5.7rem) !important;
        height:65% !important;
    }
  }
  
  .login{
    .main#home{
        height: 60% !important;
    }
    .customer{
        padding:40px 0 !important;
    }
  }