.px30 {
  width: 30px;
}
.px20 {
  width: 20px;
}

.mb40{
  margin-bottom: 40px;
}

.mt30{
  margin-top: 30px;
}

.marginCenter{
  margin:0 auto;
}

.aagames-form{
  .input{
    background-color: transparent !important;
  }
  .input > input{
    background-color: transparent !important;
  }
}

#phoneArea{
  .aagames-nav-bar{
    background-color: transparent !important;
  }
}