.businessRecord .container /deep/ .vanTabs .van-tab--active{
    background:#E30168 !important;
    color: #fff !important;
}
/deep/ .van-tabs .van-tabs__nav{
    background: #000 !important;
}
.record-title {
    color: #000 !important;
}
.container .tab_top > div > p:first-child {
    color: #000 !important;
}
.container .tab_top > p {
    color: #000 !important;
}
.container .tab_top:after{
    background-color: transparent !important;
}
.container .access .main li > .list_content{
    border-bottom-color: transparent !important;
}
.van-nav-bar .van-nav-bar__title{
    color: #000 !important;
}