.aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background: #ffffff;

    .aagames-nav-bar {
        height: @height-nav-bar;

        .nav-left {
            height: 100%;

            .aagames-logo {
                height: 100%;
                display: flex;
                align-items: center;

                .logo{
                    // width:auto !important;
                    height:90px !important;
                }
            }
        }
    }
}

.member-info {
    border-radius: 27px !important;
    height: 56px !important;
}

.nav-center {
    .member-info {
        .deposit {
            // border-radius: 0.33rem !important;
        }
    }
}
/deep/ .aagames-button-box .aagames-button.sign-in{
    background:@primary-color !important;
}
/deep/ .aagames-button-box .line{
    background:#fff !important;
}