.container.aboutWe{
    .main{
        // background-image: url(~@assets/img3_0/appdown/bg@3x.png) !important;
        // background-size: cover !important;
        background: #251B4D !important;
    }
}
.login-out{
    span{
        color: #fff !important;
    }
}
.container .main .retrievePassword .aagames-button-box .dark{
    background: #B38A58 !important;
}