.container{
    background-image: url('~@assets/img3_0/login/login-bg@2x.png');
}
#app{
    .main{
        background:#1F1B35!important;
        /deep/ .register{
            padding-top: 70px;
            .reset{
                margin: 0 40px;
            }
             .img{
                width: 38px;
            }
        }
    }
}
