/deep/.van-tabs {
    /deep/.van-tabs__nav{
        //background-color: @bg-card-color !important;
        .van-tab--active {
            //background-color: @bg-color-2 !important;
            color: #fff !important;
        }
    }
}
/deep/.record-title{
    color: #000 !important;
}
.tab_top{
    &:after{
        background-color: @border-color !important;
    }
    p{
        &:first-child{
            color: #000 !important;
        }
    }
}
.list_content{
    border-bottom-color: @border-color !important;
}
.active_selected,.select-button{
    color:#fff !important;
}
