.aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background-color: #282828;
    .no-token{
        .line{
            color: #CCCCCC;
            background-color: #353435;
        }
    }
}