.accountSafe-page .aagames-select-box .select{
    &::after{
        background-color:  @border-color !important;
    }
}
.personal-title{
    color: #000 !important;
}
.send{
    color: #fff !important;
    background-color: @bg-color-2;
}
/deep/.login-out{
    span{
        color: #fff !important;
    }
}
/deep/ .van-popup.custom{
    transform: translateY(-50%);
    bottom: 50%;
}
/deep/  .van-popup--bottom .van-picker .van-picker-column__item{
  height: 44px;
}