.operating{
    :nth-child(1) {
        background: @primary-color;
    }

    // :nth-child(2) {
    //     background-image: linear-gradient(90deg, #13b1d7 0%, #1c7588 99%) !important;
    // }

    // :nth-child(3) {
    //     background-image: linear-gradient(90deg, #da8b45 0%, #b04d25 99%) !important;
    // }
}
.operating {
    :nth-child(1) {
      background: @primary-color;
    }

    :nth-child(2) {
      background:none !important;
      border:2px solid @primary-color !important;
      color:@primary-color !important;
    }

    :nth-child(3) {
        background:none !important;
        border:2px solid @primary-color !important;
        color:@primary-color !important;
    }

}
.user-info{
    .person-info{
    .right {
        .bottom {
            color: #fff !important;
        }
    }
    }
}
.m-body{
    background:#000 !important;
}
.member-page .person-entr .menu > i{
    width:1rem !important;
    height:1rem !important;
}