#app .container {
    .main,.down_logo{
        margin-top: 0;
    }
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-color: #fff !important;
    background-size: 100% 102% !important;
    background-position: 0 -10px !important;
    .nav-bar{
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        .app{
            color: #fff !important;
        }
        .experience{
            color: #fff !important;
            margin-bottom: 500px !important;
        }
    }

    .main .downAppBtn{
        top: 50px;
    }
}
