.main{
    .domain{
        background-image:url('../../img3_0/agent/agent_bg_info@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        background-color:transparent !important;
        .user{
            background:none !important;
            box-shadow: none !important;
        }
        .list{
            background:#0D1623 !important;
            box-shadow: none !important;
        }
    }
}
.container .main .person-entr .br{
    background:#151515 !important;
}
/deep/ .aagames-nav-bar{
    background:#0B0B0B !important;
}
.container .main{
    background:#0B0B0B !important;
}
.container .main .login-out{
    background:#1b1b1b !important;
}
.submit-form .reset, 
.submit-form .input{
    border-color:rgba(255,255,255,0.06) !important;
}