.notice{
  color: #fff !important;
  box-shadow: none !important;
  background:linear-gradient(90deg,rgba(138,133,242,1) 0%,rgba(86,102,255,1) 100%)!important;
  height: 48px;
  border-radius:12px 12px 0px 0px!important;
  margin: -48px 30px 0!important;
  width: auto!important;
  padding: 0 20px!important;
  .van-icon{
    color: #fff!important;
  }
}