.m-header{
    ~ .bg-img{
        background-color: @bg-color;
        background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
        background-size:100%;
        background-position:0 0;
        background-repeat: no-repeat;
    }
}
/deep/.cells-1{
    background-color: #1B1826 !important;
    border-color:#1B1826; 
    .border{
        background-color: #1B1826;
    }
}