.container.login, .container.regContainer, .container.registerSuccess{
    background-image: url('~@assets/img3_0/login/login-bg@2x.png');
}
.function{
    .aagames-button-box{
        .line{
            margin-top: 40px;
            border: 2px solid @border-color-base;
            background: @bg-card-color !important;
            color: @primary-color;
        }
    }  
}
.container.registerSuccess {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    .aagames-nav-bar{
        background: transparent;
    }
    .input{
        input{
            background-color: @bg-card-color !important;
        }
        span{
            border: 0;
        }
        background-color: @bg-card-color !important;
    }
    .line{
        background-color: @bg-card-color;
    }
}
.rocket{
    .ship{
        background-image: url('../../img3_0/login/onekey_bg@2x.png');
        background-size: 100%;
    }
}