/deep/ .van-tab--active .van-tab__text{
    color:@primary-color !important;
}
.vip-page{
    /deep/ .vip-info{
        color:#666 !important;
        h3 span{
            color: #000!important;
            font-weight: bold;
        }
    }
    .m-header{
        background-color: #fff!important;
        /deep/ .van-nav-bar__left .van-icon-arrow-left{
            color: #666!important;
        }
        /deep/ .van-nav-bar__title{
            color: #000;
            font-weight: bold;
        }
        /deep/ .van-nav-bar__right .van-nav-bar__text{
            color: @primary-color!important;
            font-weight: bold;
        }
    }
    .section .grid-list.num6,.section .grid-list.num0{
        background-color: transparent!important;
        border:2px solid rgba(2,32,105,.1);
        padding: 0;
        .item{
            border-right:2px solid rgba(2,32,105,.1);
            &:last-child{
                border-right: 0;
            }
            p{
                color: #666;
            }
        }
    }
    .chart h2{
        color: #000;
        font-weight: bold;
    }
    .chart .days /deep/ .van-dropdown-menu{
        .van-dropdown-menu__bar{
            background-color: @primary-color;
            color: #fff;
            width: 124px;
            height: 58px;
            .van-dropdown-menu__title{
                color: #fff;
                font-size: 28px;
                width: 100%;
                padding: 0;
                text-indent: 8px;
                &:after{
                    border-width: 8px;
                    right: 20px;
                    margin-top: -14px;
                }
            }
        }
    }

}
/deep/ .platform label.active{
    color:#fff !important;
}
/deep/ .section h2{
    color:#000 !important;
}

/deep/ .section .flex-wrap .item{
    background:rgba(0,0,0,0.2) !important;
}
/deep/ .section .custom{
    background:rgba(0,0,0,0.2) !important;
}

.vip-page .van-tabs /deep/ .van-sticky{
    background:@bg-color !important;
}
.vip-page .van-tabs /deep/ .van-tabs__nav /deep/ .van-tab{
    color:#666 !important;
}


/deep/ .m-header.van-nav-bar .van-nav-bar__text{
    color:#fff !important;
}
/deep/ .my-bets{
    border-color: rgba(2,32,105,.1)!important;
    .item{
        border-color: rgba(2,32,105,.1)!important;
        h3{
            color: #000!important;
            font-weight: bold;
        }
    }
}
/deep/ .privilege{

    .button{
        background: @primary-color;
        color: #fff!important;
    }
    .grid-list{
        background-color: @primary-color!important;
    }
    .section .flex-wrap .item{
        background-color: @primary-color!important;
        button{
            border-color: #fff;
            color: #fff;
        }
    }
    .section .custom{
        background-color: @primary-color!important;
        color: #fff;
        h3{
            color: #fff;
        }
    }
    .platform label{
        background-color: transparent;
        border: 2px solid @primary-color;
        color: @primary-color;
        &.active{
            color: #fff;
            background-color: @primary-color;
        }
    }
}
/deep/ .events{
    .section .lists .item{
        background-color: transparent;
        border:2px solid rgba(245,245,245,1);
    }
    .tabs label{
        border-color: #4D4C4D;
        color: #666;
        &.active{
            border-color: @primary-color;
            color: @primary-color;
        }
    }
}
/deep/ .van-dropdown-item__content{
    width: 180px;
    left: auto;
    right: 20px;
    box-shadow: 0  0 10px #ccc;
    border-radius: 0;
    .van-cell{
        padding: 20px;
        font-size: 28px;
    }
}
