.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-position: center !important;
    .main{
        background: none !important;
        height:auto !important;
        .downAppBtn button{
            background: @primary-color !important;
            color:#fff !important;
            margin-top:500px !important;
        }
        .experience{
            color:#fff !important;
        }
    }
}
.container .nav-bar .right > div:last-child{
    background:@primary-color !important;
    color:#fff !important;
}