.Join{
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 8.2rem !important;
    h2,h3{
        color: #fff !important;
    }
    h2{
        text-align: center;
        width: 100% !important;
    }
}
.title-h2{
    color: #B38A58 !important;
    &::before, &::after{
        background-color: #B38A58 !important;
    }
}
.step{
    .item{
        &:nth-child(2n) {
            background-color: #9B5133 !important;
        }
        .text{
            color: #fff !important;
        }
    }
}

.feature {
    .item {
        p {
            color:rgba(255,255,255,0.4) !important;
        }
    }
}

.title-h3 {
    color:rgba(255,255,255,0.4) !important;
}

.statistics {
    ._item{
        .item{
            background:rgba(0,0,0,0.5) !important;
        }
    }
    p {
        line-height:33px !important;
        color:rgba(255,255,255,0.4);
        margin-top: 20px !important;
    }
}

.commission {
    color:#ccc !important;
}

.commission-plan {
    th{
        color:#ccc !important;
        background: rgba(0,0,0,0.3) !important;
    }

    th:nth-child(3){
        width:190px;
        line-height: 33px;
    }

    th:nth-child(1){
        width:120px;
        line-height: 33px;
    }

    td {
        background: #311B12;
    }
}

.p {
    color:#ccc !important;
}

.commission-info {
    color:#ccc !important;
}

.van-collapse-item__content {
    p {
        color:#ccc !important;   
    }
}


.contract {

    .items{
        .list {
            flex:1 !important;
        }
    }
}

.footer{
    margin:0 !important;
    margin-top: 40px !important;

    .text {
        font-size:24px !important;
    }
}

.contract {
    .items {
        background:rgba(0,0,0,0.4) !important;
    }
}

.step {
    .item {
        background: #402110 !important;
    }
}

.container {
    background: #2C160D !important;

    .Join {
        height: 17.30667rem !important;
    }
}
.statistics.proxy ._item .item{
    background:#402110 !important;
}
.proxy .item{
    .member{
        color:rgba(255,255,255,0.4) !important;
    }
    .commission{
        color:#ccc !important;
    }
    .household{
        color:#fff !important;
    }
    .date{
        color:#BEBEBE !important;
    }
}
// .contract /deep/ .van-cell__right-icon{
//     line-height:60px !important;
// }
