.bg-login{
    margin-top: 20px !important;
    display:none !important;
}
.people{
    display:none !important;
}
.container{
    .main{
        background-image:url('../../img3_0/other/anlj_bg@2x.png') !important;
        background-position: center !important;
        background-size:100% !important;
        background-repeat: no-repeat !important;
    }
}
.main {
    width:100% !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translateX(-50%) translateY(-50%) !important;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:60px;
    .errorImg {
        width:60% !important;
        height:3rem !important;
        margin-bottom:180px !important;
        margin-top:100px !important;
    }

    /deep/ .aagames-button {
        background: @primary-color !important;
    }
    .text {
        position:static !important;
        .code {
            color: #525152 !important;
        }
    }
}