.m-body {
    background-color: #fff;
    // background-image: url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
}
/deep/ .aagames-button-box .aagames-button.sign-in{
    background:@primary-color !important;
}
/deep/ .aagames-button-box .aagames-button.line{
    background:transparent !important;
}
// /deep/ .van-tabs .van-tabs__content .van-tab__pane-wrapper{
//     background:#fff !important;
// }
/deep/ .vip-info h3 span,/deep/ .my-bets .item h3,/deep/ .section > h2{
    color:#000 !important;
}
/deep/ .button{
    color:#fff !important;
}

/deep/ .nav-center .member-info .money{
    color:#fff !important;
}
/deep/ .van-tab--active .van-tab__text{
    color:@primary-color !important;
}
/deep/ .tabs > label{
    border-color:#ccc !important;
    color:#ccc !important;
    &.active{
        border-color:#0D4164 !important;
        color:#0D4164 !important;
    }
}

.vip-page .van-tabs /deep/ .van-sticky{
    background:@bg-color !important;
  }
  /deep/ .vip-info h3 span{
    color:#000 !important;
  }
  /deep/ .my-bets .item h3{
    color:#000 !important;
  }
  /deep/ .button{
    color:#fff !important;
  }
  /deep/ .platform label.active{
    color:#fff !important;
  }
  /deep/ .section > h2{
    color:#000 !important;
  }
  /deep/ .section .lists .empty p{
    color:#000 !important;
  }
  /deep/ .m-header.van-nav-bar{
    background: #fff !important;
  }
  .days label{
    color:#fff !important;
  }