/deep/ .m-header.van-nav-bar{
    background:#700046 !important;
}
.m-body .rank-info{
    background:#700046 !important;
    color: #fff !important;
}
.latest {
    background: #fff !important;
    .item{
        border-bottom: none !important;
    }
    h2{
        color: #000000 !important;
        font-weight: 600 !important;
    }
}
.float-button{
    background: #000000 !important;
    color: #fff !important;
}
.latest dl {
    color: #333333 !important;
}
/deep/ .van-nav-bar .van-nav-bar__title{
    color: #fff !important;
}
/deep/ .van-nav-bar .van-nav-bar__left .van-icon{
    color: #fff !important;
}