.m-header{
    ~ .bg-img{
        background-color: @bg-color;
        // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
        background-size:100%;
        background-position:0 0;
        background-repeat: no-repeat;
    }
}