.container{
    background-image: url('~@assets/img3_0/login/login-bg@2x.png');
}
/deep/ .submit-form {
    .reset:nth-child(5) {
      >img{
        width: 30px !important;
        height: auto !important;
        margin-left: 0 !important;
      }
    }
    .reset:nth-child(3) {
      >img{
        width: 36px !important;
        height: auto !important;
        margin-left: 0 !important;
      }
    }
}