/deep/.step1{
    right:24px !important;
    top:-14px !important;
    .van-image{
        // width:300px !important;
    }
}
/deep/.step2{
    bottom:-156px !important;
    left:165px !important;
    .van-image{
        width:300px !important;
    }
    span:first-child{
        display:block !important;
    }
}
/deep/.step3{
    right:8px !important;
    top:-157px !important;
    .van-image{
      width:500px !important;
    }
    span:last-child{
        display:block !important;
    }
}