.m-header{
    
}
/deep/.van-tabs__nav{
    background-color: #282828 !important;
}

.recharge-bottom{
    .btn-group {
      .van-button--default{
        border: 0 !important;
        background: #353435 !important;
      }
    }
  }