/deep/ .m-header.van-nav-bar{
    background:#000 !important;
}
.m-body .rank-info{
    background:#000 !important;
}
/deep/ .van-nav-bar {
    .van-nav-bar__left{
        .van-icon{
            color:#fff !important;
        }
    }
    .van-nav-bar__title {
      color: #fff !important;
    }
}
.latest{
    h2{
        color:#000;
    }
    dl.item-head{
        dt,dd{
            color:#000 !important;
        }
    }
}
.profits-rank .float-button{
    background:#000 !important;
    color:#fff !important;
    .van-icon{
        color:#B38A58 !important;
    }
}  
.latest .item{
    border-color:rgba(0,0,0,0.06) !important;
}