.aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background:#14223B;
    .aagames-nav-bar{
        height:@height-nav-bar;
        .nav-left{
            height:100%;
            .aagames-logo{
                height:100%;
                display:flex;
                align-items: center;
                .logo{
                    // width:auto !important;
                    // height:80% !important;
                }
            }
        }
    }
}