.shareImg{
    transform: rotate(270deg);
}

.container .accout > .transfer > .aagames-button-box .line{
    border:2px solid @primary-color !important;
}

#apply .accout ul > li {
    background-color: @primary-color;
    p{
        color: #fff !important;
    }
    &.active{
        background-color: #8D6D47 !important;
    }
}

.van-popup .list ul li{
    border-color: rgba(#3f3f3f,.3) !important;
}
.van-popup .choose > .father{
    border-color: rgba(#3f3f3f,.3) !important;
    .son{
        border-color: rgba(#3f3f3f,.3) !important;
    }
}