.m-body {
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    background: #fff;

    // /deep/ .van-tabs{
    //     /deep/ .van-tabs__content {
    //         /deep/ .van-tab__pane-wrapper {
    //             margin-bottom: 130px;
    //         }
    //     }
    // }
    
    /deep/.van-tabs--line {
        /deep/.van-tabs__content {
            /deep/ .notice {
                border: 1px solid #E3E3E3 !important;
                
                /deep/.van-icon {
                    color: #525152 !important;
                }
        
                /deep/ .van-swipe {
                    color: #333333 !important;
                }
        
                .action {
                    color: #333333;

                    .van-icon {
                        color: #999999 !important;
                    }
                }

                .action:before {
                    background: #e3e3e3 !important;
                }
            }
        
            .featured {
                .app-index-3 {
                    .title {
                        .line {
                            background: linear-gradient(to right, #FFFFFF, #C8A77F) !important;
                            height: 2px !important;
                        }

                        .line:last-child {
                            background: linear-gradient(to left, #FFFFFF, #C8A77F) !important;
                        }

                        .title_top {
                            color: #A37C3C !important;
                        }
                    }

                    
                    .title_zh {
                        .title_top {
                        color: #00213A !important;
                        }
                    }
        
                    .link {
                        margin-bottom: 0 !important;
                        ul {
                            li {
                            color: #00213A !important;
                            }

                            li:nth-child(2) {
                                border-left: 0.02667rem solid rgba(0, 0, 0, 0.1);
                                border-right: 0.02667rem solid rgba(0, 0, 0, 0.1);
                            }
                        }
                    }

                    .copyright {
                        font-size: 20px;
                        padding-bottom: 60px !important;
                    }

                    .buss{
                        background-image: url('~@assets/img3_0/home/group-bg.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
    /deep/ .nav-center .member-info{
        background:#282828 !important;
        border:1px solid #0D4164 !important;
    }
    /deep/ .aagames-button-box .aagames-button.sign-in{
        background:@primary-color !important;
    }
    /deep/ .aagames-button-box .aagames-button.line{
        background:transparent !important;
    }
    /deep/ .van-tabs__content{
        background:#fff;
        .van-tab__pane-wrapper{
            &:first-child{
                padding:0 !important;
                #banner{
                    margin:0 auto 24px !important;
                }
                .van-tab__pane>.van-image{
                    padding:0 0.4rem;
                }
                .notice{
                    margin:0.4rem 0.4rem 0;
                    width:auto;
                }
                .featured{
                    .app-index-3{
                        .gameList{
                            padding:45px 0.4rem 25px;
                        }
                        .groupInfo{
                            overflow: hidden;
                        }
                        .buss{
                            padding-top:40px;
                            .title .title_top{
                                color:#fff !important;
                            }
                            .title_zh{
                                .title_top{
                                    color:#fff !important;
                                }
                            }
                            .list .list_item .item_box p{
                                color:#000 !important;
                            }
                        }
                        // .link{
                        //     ul{
                        //         li{
                        //             color:#fff !important;
                        //         }
                        //     }
                        // }
                        // .copyright{
                        //     color:#fff !important;
                        // }
                    }
                }
            }
        }
    } 
    /deep/ .filter-nav .van-tabs .van-tabs__nav{
        background-color:transparent !important;
    }
    /deep/ .sports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .esports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .slots{
        .jackpot{
            background-image:url('../../img3_0/home/slots/jackpot-bg_1@2x.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            .jackpot-text{
                h3{
                    color:#A4C1D4 !important;
                }
                p{
                    color:#fff !important;
                }
            }
        }
    }
    /deep/ .profit-swipe .van-swipe-item .tag{
        background:@primary-color !important;
        color:#fff !important;
    }
    /deep/ .van-tabs__content{
        .van-tab__pane-wrapper{
            &:first-child{
                padding:0 !important;
                #banner{
                    margin:0 auto 24px !important;
                }
                .van-tab__pane>.van-image{
                    padding:0 0.4rem;
                }
                .notice{
                    margin:0.4rem 0.4rem 0;
                    width:auto;
                    border-color:#E3E3E3 !important;
                    box-shadow: none !important;
                    > .van-icon{
                        color:#525152 !important;
                    }
                    .van-swipe .van-swipe-item{
                        color:rgba(153, 153, 153, 0.8) !important;
                    }
                    .action{
                        color:#999 !important;
                        &::before{
                            background:#E3E3E3 !important;
                        }
                        .van-icon{
                            color:#999 !important;
                        }
                    }
                }
                .featured{
                    .app-index-3{
                        .gameList{
                            padding:45px 0.4rem 25px;
                        }
                        .groupInfo{
                            overflow:hidden;
                        }
                        .buss{
                            padding-top:40px;
                        }
                    }
                }
            }
        }
    }
    /deep/ .van-list.games{
        justify-content: space-between !important;
    }
    /deep/ .van-sticky{
        background:#fff !important;
    }
    // /deep/ .van-tabs .van-tabs__nav{
    //     background:#fff !important;
    // }
    /deep/ .lotteries .ui-title h2{
        color:#000 !important;
    }
    /deep/ .lotteries .game h3{
        color:#000 !important;
    }
}
/deep/ .filter-nav{
    border-color:rgba(0, 0, 0, 0.06) !important;
}