// .container .tabs .router-link{
//     background:rgba(0,0,0,0.5) !important;
// }
// .container .tabs .router-link-active{
//     background:@primary-color !important;
// }
// .container{
//     padding-top: 1.17333rem;
// }
// /deep/ .tutorial .problem{
//     background:rgba(0,0,0,0.5) !important;
// }
.container .tabs .router-link{
    background:#000 !important;
}
.container .tabs .router-link-active{
    background:@primary-color !important;
}
.container{
    padding-top: 1.17333rem;
}
/deep/ .item .title{
    color:#000 !important;
}

/deep/ .tutorial .h3{
    color:#000 !important;
}