.container {
    background-color: @primary-color !important;
    .main{
        background: transparent !important;
        // margin-top:0 !important;
        // padding-top:@main-top !important;
        height:auto !important;
        .app{
            color:#B38A58 !important;
        }
        .experience{
            color:#fff !important;
        }
        .downAppBtn button{
            background: #B38A58 !important;
            color:#fff !important;
            margin-top:530px !important;
        }
    }
}
.container .nav-bar .right > div:last-child{
    background:#B38A58 !important;
    color:#fff !important;
}