.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-color: #000 !important;
    .main{
        background: transparent !important;
        height:auto !important;
        margin-top: 0 !important;
        .app{
            color:#9C836E !important;
            margin-top: 0 !important;
        }
        .experience{
            color:#fff !important;
        }
        .down_logo{
            margin-top:0 !important;
        }
        .downAppBtn button{
            background: @primary-color !important;
            color:#fff !important;
            margin-top:550px !important;
        }
    }
}
.container .nav-bar .right > div:last-child{
    background:@primary-color !important;
    color:#fff !important;
}