.container{
    background-image: url('~@assets/img3_0/login/login-bg@2x.png');
    .main{
        background:#fff !important;
    }
}
/deep/ .submit-form {
    .reset:nth-child(5) {
      >img{
        width: 50px !important;
        height: auto !important;
        margin-left: 0 !important;
      }
    }
}
/deep/ .aagames-nav-bar {
  background: #EC0237 !important;
  .nav-left{
      .van-icon{
          color:#fff !important;
      }
  }
  .nav-center{
      span{
          color:#fff !important;
      }
  }
}
/deep/ .submit-form .reset{
  border-color:rgba(0,0,0,0.1) !important;
}
