.m-body{
    background-color:#000;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    /deep/ .custom{
        background:#011C54 !important;
    }
}
/deep/ .nav-center .member-info{
    background:none !important;
    border:3px solid @primary-color !important;
    .deposit{
        height:51px !important;
    }
}
/deep/ .m-header.van-nav-bar{
    line-height: @height-nav-bar !important;
}