.downApp {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background: url(~@assets/img3_0/common/download_bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    .nav-bar{
        z-index: 10;
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .main{
        padding: 88px 0!important;
        height: auto!important;
        min-height: 100%;
        .swiper-container{
            height: 45vh!important;
        }
    }
    .main03 img:last-child{
        width: 608px!important;
        margin-top: 20px;
    }
    button{
        background:linear-gradient(131deg,rgba(138,133,242,1) 0%,rgba(86,102,255,1) 100%)!important;
    }
}
