.container .main .wash-money{
  background-color: @primary-color!important;
  .money p{
    color: #fff!important;
  }
}
.container .main .list .detail .col{
  .l,.r{
    color: #000;
  }
  &.b .l{
    font-weight: normal;
  }
}
.container .main .list .detail .item{
  border-bottom: 2px solid rgba(0,0,0,.06);
  padding: 20px 0;
}
