.member{
    .name{
        color: #000 !important;
    }
}
#app{
    .domain{
       .list{
           background-color: #5c3b29;
           .domain-name{
              color: #ccc;
           }
       }
    }
    .person-entr .br{
        background:rgba(0,0,0,0.09)
    }

}
