.downApp {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background: url(~@assets/img3_0/common/download_bg@2x.png) center top no-repeat;
    background-size: 100% auto;
    .nav-bar{
        z-index: 10;
        .left{
            color: #000 !important;
        }
    }
    .downAppBtn button{
        color: #fff !important;
    }
    .right{
        div:first-child,div:last-child{
            background: none!important;
            color: #fff!important;
            background-color: @bg-gradient-color!important;
        }
    }
    .main{
        padding: 88px 0!important;
        height: auto!important;
        min-height: 100%;
        .swiper-container{
            height: 45vh!important;
        }
    }
    .down_logo{
        display: none!important;
    }
    .downAppBtn button:first-child{
        background:linear-gradient(136deg,rgba(105,139,250,1) 0%,rgba(132,161,254,1) 100%)!important;
    }
    .main02 img{
        width: 690px!important;
        display: block;
    }
    .appdown_logo{
        padding-top: 140px;
        img:last-child{
            width: 496px;
        }
    }
    .swiper-container02{
        height: 656px!important;
    }
    .appdown-auth{
        text-align: center;
        font-size: 24px;
        color: #333;
        margin: 20px 0;
    }
    .appdown-btn{
        width:500px;
        height:70px;
        border-radius:45px;
        border:2px solid rgba(89,126,247,1);
        font-size: 22px;
        color: @bg-gradient-color;
        text-align: center;
        line-height: 70px;
        margin: 0 auto;
    }
}
