
#app{
  .aagames-header{
    background-color: #1F1B35;
  }
  //add
  .nav-center .member-info{
    background: #000000;
  }
  .nav-center .member-info .deposit{
    background: #B4985B;
    color: #fff;
  }

}
