.m-header {
  ~ .bg-img {
    background-color: #fff;
    //background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    //background-size:100%;
    //background-position:0 0;
    //background-repeat: no-repeat;
  }
}

/deep/ .cells-1 {
   background-color: #1B1826 !important;
   border-color: #1B1826;

   .border {
     background-color: #1B1826;
   }
 }
/deep/ .custom .cells-1 {
  background-color: #343434 !important;
  border-color: #1E1E1E;
}
/deep/ .custom .cells-2{
  border-color: #E3E3E3!important;
  color: #000!important;
  div{
    color: #000!important;
  }

}
/deep/ .custom .cells-2 .border{
  background-color: #E3E3E3!important;
}

.activities {
  .m-header {
    /deep/ .van-nav-bar__title {
      color: #fff !important;
    }
  }

}

.vip-page {
  /deep/ .vip-info {
    color: #333;

    h3 {
      color: #333 !important;
    }
  }

  /deep/ .van-tabs {
    .van-tab--active {
      .van-tab__text {
        color: #000 !important;

      }
    }
  }

  /deep/ .events {
    .section {
      .lists {
        .item {
          color: #fff;

          span {
            color: #000;
          }
        }

        .empty {
          p {
            color: #333;
          }
        }
      }
    }

    .tabs {
      label {
        border-color: #666;
        color: #333;
      }

      .active {
        color: #000;
        border-color: #FEE42B;
      }
    }
  }

  /deep/ .vip-info {
    h3 {
      span {
        color: #000;
      }
    }
  }

  /deep/ .my-bets {
    .item {
      h3 {
        color: #fff;
      }
    }
  }

  /deep/ .section {
    h2 {
      color: #FEE42B;
    }

    .lists {
      .item {
        button {
          // color: #000 !important;
        }
      }
    }

    .grid-list {
      .item {
        p {
          color: #fff;
        }
      }
    }

    .flex-wrap {
      .item {
        border-color: #e3e3e3 !important;

        h3 {
          color: #fff;
        }
      }
    }
  }
}

.activities {
  /deep/ .custom-card-tabs {
    /deep/ .van-tab {
      .van-tab__text {
        color: #000;
      }

    }

    /deep/ .van-tab--active {
      .van-tab__text {
        color: #000 !important;
      }
    }
  }

  /deep/ .van-cell {
    border-color: #e3e3e3 !important;

    .info {
      h3 {
        color: #fff !important;

        span {
          color: #fff !important;
        }
      }
    }
  }
}

.app-install {
  background: #666 !important;

  /deep/ .van-icon {
    color: #999 !important;
  }

  /deep/ .van-button {
    .van-button__text {
      color: #000 !important;
    }
  }
}

.container {
  /deep/ .main {
    //margin-top: 0 !important;

    .down_logo {
      margin-top: 0 !important;
    }
  }

  /deep/ .downhz {
    display: none !important;
  }

  /deep/ .downAppBtn {
    top: 6rem;
  }

  /deep/ .van-icon-arrow-left {
    color: #000 !important;
  }

  /deep/ .record-title {
    color: #000 !important;
  }

}

.member-page:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35%;
  content: "";
  background: #343434;
  z-index: 0;
}

.member-page {
  background: #fff !important;

  /deep/ .newest-info-detail {
    border-color: @border-color !important;

    .push-money {
      color: #000 !important;
    }

    .newest-state {
      span:first-child {
        color: #000 !important;
      }
    }
  }

  /deep/ .m-header.van-nav-bar {
    background: rgba(52, 52, 52, 1) !important;
  }

  /deep/ .user-info {
    position: relative;
    z-index: 2;

    .person-info {
      .name {
        color: #fff !important;
        font-weight: bold;
      }

      .bottom {
        color: #fff !important;
      }
    }
  }

  /deep/ .balance {
    position: relative;
    z-index: 2;
    background-color:  #fff !important;
  }

  /deep/ .person-entr {
    .menu {
      p {
        color: #000 !important;
      }
    }
  }

  /deep/ .m-body {
    //background: #fff;


    /deep/ .latest {
      h2 {
        span {
          color: #000 !important;
        }
      }
    }

    /deep/ .balance {
      box-shadow: 0px 4px 17px 0px rgba(92, 96, 150, 0.16);

      .operating {
        border-top: none !important;
      }
    }

    /deep/ .operating {
      :nth-child(1) {
        background: #FEE42B !important;
        color: #000 !important;
      }

      :nth-child(2) {
        border: 2px solid rgba(254, 228, 43, 1);
        background: #fff !important;
        color: #000 !important;

      }

      :nth-child(3) {
        border: 2px solid rgba(254, 228, 43, 1);
        background: #fff !important;
        color: #000 !important;

      }


    }
  }

  /deep/ .other-balance {
    /deep/ .info-area {

      // align-items: center;
      > span {
        &:last-child {
          color: #222 !important;

        }
      }
    }
  }

  /deep/ .newest-num {
    color: #000;
  }

}

#app {
  /deep/ .nav-type-1 {
    .van-tab__pane-wrapper {
      overflow: hidden;
    }
  }

  /deep/ .slots {
    /deep/ .ui-title {
      h2 {
        color: #000 !important;
      }
    }

    /deep/ .filter-nav {
      /deep/ .van-tab--active {
        span {
          font-weight: bold;
          color: #000 !important;
        }
      }
    }

    /deep/ .search {
      .search-trigger {
        background: #000 !important;

        // /deep/ .van-icon, span {
        //   color: #ccc !important;
        // }
      }
    }

    /deep/ .filters {
      label {
        color: #666;
      }

      .active {
        color: #000 !important;
        font-weight: 600;
      }
    }

    /deep/ .games {
      .van-cell {
        border: none !important;
      }

      .info {
        background: #000;
      }
    }

    /deep/ .profit-swipe {
      .box {
        background: #000;
      }
    }
  }

  /deep/ .casino {
    background: #fff !important;

    /deep/ .countdown {
      color: #fff !important;
    }

    /deep/ .float-wrap {
      .game-item {
        border: none !important;
      }
    }
  }

  /deep/ .lotteries {
    .ui-title {
      h2 {
        color: #000 !important;
      }
    }

    .game {
      h3 {
        color: #000 !important;
      }
    }
  }

  /deep/ .sports {
    .match {
      color: #000 !important;

      li {
        span {
          color: #000;
        }
      }

      h3, p {
        color: #000;
      }
    }
  }

  /deep/ .esports {
    .match {
      color: #000 !important;

      li {
        span {
          color: #000;
        }
      }

      h3, p {
        color: #000;
      }
    }
  }
  /deep/ .accountSafe-page .aagames-button-box .aagames-button{
    color: #000!important;
  }
  /deep/ .van-popup.custom .van-popup__close-icon,/deep/ .van-popup.custom .pop-head h2{
    color: #000!important;
  }


  /deep/ .van-popup.custom {
    /deep/ .input-cells .aagames-button-default, .btn .aagames-button-default{
      background-color: #353435;
      color: #ccc !important;
      border: none!important;
    }
    /deep/ .footer-tips{
      color: #ccc!important;
    }

    background-color: #fff !important;
    #g-code .right-button{
      background: #FEE42B !important;
      color: #000;
      font-weight: 600;
    }
    /deep/ .van-password-input li{
      background-color: rgba(0,0,0,0.3)!important;
    }
    /deep/ .aagames-form .input input::-webkit-input-placeholder{
      color: #ccc;
    }

    /deep/ .aagames-form{
      background: none;
      .select{
        background-color: #F5F5F5!important;
      }
      .cell.select{
        background-color: #FEE42B!important;
      }
      .input{
        background-color: #F5F5F5!important;
      }
      /deep/ input{
        background: none;
        color: #000!important;
      }
    }
    .input-field {
      .input-box {
        background: #F5F5F5 !important;
      }
    }
  }
  // /deep/ .aagames-form .input,/deep/ .aagames-form .input input{
  //   background-color: #F5F5F5!important;
  // }
  /deep/ .van-popup--bottom,/deep/ .van-picker{
    background: #fff!important;
  }
  /deep/ .van-popup--bottom .van-picker__cancel{
    color: #999!important;
  }
  /deep/ .van-popup--bottom .van-picker .van-picker-column__item{
    color: #000!important;
  }
  /deep/ .van-popup.custom .aagames-nav-bar,/deep/ .van-popup.custom  .van-popup--bottom{
    background: #fff!important;
  }
  /deep/ .van-popup.custom .van-popup .index-bar .cell{
    color: #000!important;
  }
  /deep/ .van-popup.custom .van-popup .index-bar .cell.select{
    color: #fff!important;
  }
  /deep/ .van-popup--bottom .van-picker .van-picker__mask{
    background-image: none;
  }
  /deep/ .van-popup--bottom .van-picker__toolbar{
    border-bottom: 2px solid #ccc;
  }
  /deep/ .van-popup.custom .input-field .input-box input, .van-popup.custom .input-field .input-box select{
    background-color: #F5F5F5!important;
    color: #000!important;
  }
  /deep/ .cell-body{
    color: #000!important;
  }

  /deep/ .custom {
    /deep/ .aagames-button-box {
      .aagames-button {
        color: #000 !important;
      }
    }

    /deep/ .van-button {
      .van-button__text {
        color: #000 !important;
      }
    }
  }

  /deep/ .vip-page {
    .chart {
      h2 {
        color: #000;
      }
    }

    a.button {
      background: #FEE42B !important;
      // color: #000 !important;
    }

    /deep/ .section {
      .flex-wrap {
        .item {
          button {
            background: #FEE42B !important;
            color: #000;
          }
        }
      }

      .custom {
        color: #666 !important;

        h3 {
          color: #fff !important;
        }
      }
    }
  }

  /deep/ .deposit-page {
    /deep/ .deposit-main {
      > li {
        &:nth-child(1) {
          label {
            color: #000 !important;
          }

          .input {
            input {
              color: #000 !important;
            }

            input::placeholder {
              color: #343434 !important;
            }
          }

        }
      }
    }

    .ui-buttons {
      .van-button {
        background-color: #FEE42B !important;
        color: #000;
      }
    }

    /deep/ .van-nav-bar {
      /deep/ .van-icon {
        color: #000 !important;
      }

      /deep/ .van-nav-bar__title {
        color: #000 !important;
      }

      /deep/ .van-nav-bar__text {
        color: #000 !important;
      }

    }

    .list-cells {
      .cell-foot {
        color: #666;
      }
    }
  }

  /deep/ .reset {
    //margin-top: @height-nav-bar;

    .select {
      span, i {
        color: #333;
      }

      // border-bottom: 2px solid @border-color;
    }
  }

  /deep/ .bankcard-page {
    /deep/ .van-nav-bar {
      color: #4D4C4D !important;

      .van-nav-bar__title {
        color: #4D4C4D !important;
      }

      .van-nav-bar__text {
        color: #4D4C4D !important;
      }

      /deep/ .van-nav-bar__left {
        color: #4D4C4D;

        i {
          color: #4D4C4D !important;
        }
      }
    }

    /deep/ .cell-body, .van-cell__value {
      color: #4D4C4D !important;

      input, textarea {
        color: #4D4C4D !important;
      }
    }

    /deep/ .van-icon-arrow {
      color: #4D4C4D !important;
    }
  }

  /deep/ .businessRecord {
    /deep/ .tab_top {
      p {
        color: #000 !important;
      }
    }

    /deep/ .van-tabs__wrap {
      .van-tab {
        .van-tab__text {
          color: #666 !important;
        }
      }
    }

    /deep/ .list {
      .van-list {
        .status {
          span:first-child {
            color: #000
          }
        }

        .header {
          span:first-child {
            color: #000
          }
        }
      }
    }

    /deep/ .record-title {
      color: #4D4C4D !important;

      .van-nav-bar__title {
        color: #4D4C4D !important;
      }

      .van-nav-bar__text {
        color: #4D4C4D !important;
      }

      /deep/ .van-nav-bar__left {
        color: #4D4C4D;

        i {
          color: #4D4C4D !important;
        }
      }
    }
  }

  /deep/ .drawer {
    .select-title,.select-bar{
      color: #000!important;
    }
    .main-show {
      background-color: #fff !important;

      .data-time-picker {
        color: #000;
      }

      .select-bar-i {
        color: #000;
      }

      .active_selected {
        background: #FEE42B !important;
        color: #000;
        border-color: #FEE42B !important;
      }

      .van-row, .select-bar-i > div {
        border-color: #ccc;
      }

      .select-button {
        background: #FEE42B !important;
        color: #000;
      }
    }
  }
  /deep/ .select{
    .van-row .col-s,.van-row .col-e{
      color: #000!important;
      border: 2px solid #ccc!important;
    }
    .days .day{
      border: 2px solid #ccc!important;
    }
    .title{
      color: #000;
    }
  }

  /deep/ .vipOpen{
    .reset{
      .input{
        background-color: #F5F5F5!important;
        .img{
          color: ;
        }
        input{
          background: none;
          color:#000
        }
      }
    }
  }

  /deep/ .accountSafe-page {
    /deep/ .van-nav-bar {
      color: #4D4C4D !important;

      .van-nav-bar__title {
        color: #4D4C4D !important;
      }

      .van-nav-bar__text {
        color: #4D4C4D !important;
      }

      /deep/ .van-nav-bar__left {
        color: #4D4C4D;

        i {
          color: #4D4C4D !important;
        }
      }
    }
  }

  /deep/ .tutorial {
    .aagames-button-box {
      .aagames-button {
        color: #000 !important;
      }
    }

    .item {
      .list {
        div {
          a {
            background-color: #FEE42B !important;
            color: #666;
          }
        }
      }

      .title {
        color: #333;
      }
    }

    /deep/ .problem {
      background-color: #fff!important;
      .item {
        color: #666!important;
        .left {
          color: #666;
        }

        .rigth {
          a {
            color: #666!important;
          }
        }
      }
    }
    /deep/ .problem.novice {
      .item{
        color: #666!important;
      }
    }
    h3 {
      color: #666;
    }
  }

  /deep/ .tabs {
    .router-link {
      color: #333 !important;

    }
  }

  /deep/ .member {
    margin-top: 1rem;
  }

  /deep/ .domain {
    .list {
      border-top: 1px dashed #fff;
      background: rgba(23, 23, 23, 1);
    }
  }

  /deep/ .person-entr {
    .br {
      background: #f7f7f7;
    }
  }

  /deep/ .register {
    /deep/ .aagames-form {
      .input {
        border-bottom-color: #3f3f3f !important;

      }
    }

    /deep/ .aagames-button-box {
      .aagames-button {
        color: #000 !important;
      }
    }
  }

  /deep/ .person-entr {
    /deep/ .submit-form {
      p.text {
        color: #666 !important;
      }


    }
  }
  /deep/ .register{
    /deep/ .reset::after {
      background-color: #3f3f3f!important;
      opacity: 1;
    }

    /deep/ .input::after {
      background-color: #3f3f3f!important;
      opacity: 1;
    }
  }

  /deep/ .van-tabs .van-tabs__wrap{
    border-bottom-color: rgba(255,255,255,0.06);
  }

  /deep/ .roadmap {
    .mapinfo {
      a {
        color: #000 !important;
      }
    }
  }

  /deep/ .nav-center {
    .member-info {
      .money {
        color: #fff;
      }
    }

    .no-token {
      .aagames-button-box {
        button {
          color: #000 !important;
        }
      }
    }
  }

  .profits-rank {
    /deep/ .latest{
      .item{
        border:none;
      }
    }
    /*/deep/ .rank-info{
      color: #000!important;
    }*/

    /deep/ .ranks {
      color: #000 !important;
    }
  }

  /deep/ .select {
    .days {
      .active {
        color: #000 !important;
      }
    }
  }

  /deep/ .vipOpen {
    .submit {
      color: #000 !important;
    }
  }

  /deep/ .empty {
    .aagames-button {
      color: #000 !important;
    }
  }

  /deep/ .agRevisePW-10018 {
    .aagames-button {
      color: #000 !important;
      background-color: #FEE42B !important;
    }
  }

  /deep/ .container.regContainer .main#register {
    height: calc(100vh - 5.7rem);

    .van-tabs .van-tabs__nav {
      border-color: @border-color !important;
    }
  }

  // /deep/ .bg-login .logo {
  //   top: 0 !important;
  // }

  /deep/ .m-footer {
    .van-tabbar-item__text {
      color: #000;
    }
  }

  /deep/ .vanTabs {
    .van-tabs__nav {
      background: #fff;

      .van-tab--active {
        color: #000 !important;
        background-color: #FEE42B !important;
      }
    }
  }

  /deep/ .bankcard-page {
    .ui-buttons {
      button {
        color: #000 !important;
      }
    }
  }

  /deep/ .btnStyle10018 {
    color: #000 !important;
    background-color: #FEE42B !important;
  }

  /deep/ .message-title {
    span {
      color: #000;
    }
  }

  /deep/ .e-main {
    .van-tab {
      border: 2px solid #FEE42B !important;

      .tabsTitle {
        color: #000 !important;
      }
    }

    .van-tab--active {
      color: #000 !important;
      background-color: #FEE42B !important;
    }

    .main {
      li {
        .list {
          .item-header {
            .title {
              // color: #000 !important;
            }
          }

          //.content {
          //  color: #333 !important;
          //}
        }
      }
    }
  }

  /deep/ #wallet {
    /deep/ .van-popup .list > p {
      border-color: rgba(254, 228, 43, 1) !important;
      // color: #000 !important;
    }

    /deep/ .list {
      .item::after {
        background-color: #e5e5e5 !important;
      }
    }

    /deep/ .moneyBox {
      .treasury, .master_account {
        border-color: rgba(254, 228, 43, 1) !important;
        color: #000 !important;
      }
    }

    /deep/ .tranfer_amount {
      .btn {
        background-color: rgba(254, 228, 43, 1) !important;
        color: #000 !important;
        border: none;
      }
    }

    .record-title {
      span {
        color: #000 !important;
      }
    }

    /deep/ .total-box {
      /deep/ .item {
        div {
          color: #000 !important;
        }
      }

      /deep/ .incom-btn {
        div:first-child {
          border: 2px solid rgba(254, 228, 43, 1) !important;
          color: #000 !important;
        }

        div:nth-child(2) {
          color: #000 !important;
        }
      }
    }
  }

  /deep/ .help {
    .van-icon {
      //color: #000 !important;
    }
  }

  /deep/ #apply {
    .accout .automatic > span:first-child {
      color: #000;
    }

    .accout .automatic {
      border-color: @border-color  !important;
    }
    .accout .transfer_out > p{
      color: #000!important;
      font-weight: 600;
    }
    .accout .transfer_out .content > .content_l > .wallet {
      color: #000;
    }

    .accout .transfer_out .content > .content_l .refresh {
      color: #000;
    }

    /deep/ .btn-all div {
      color: #000 !important;
    }
    .accout > .transfer > p{
      color: #666!important;
    }
    .accout ul > li {
      box-sizing: border-box;
      //border: 2px solid #FEE42B;
      // background: #343434;
      p:first-child {
        color: #fff !important;
      }
    }

    .accout ul > li.active {
      background-color: #DDC622 !important;

      p {
        font-weight: bold;
        color: #fff !important;
      }
    }

    .transfer {
      .input_ {
        border-color: @border-color  !important;

        input {
          color: #000;
        }
        input::placeholder{
          color: #525152;
        }
      }

      .aagames-button-box {
        .line {
          background:rgba(53,52,53,1);
          color: #fff;
        }

        div {
          color: #000;
        }
      }
    }
  }

  /deep/ #home {
    /deep/ .aagames-form {
      /deep/ .input {
        border-bottom-color: #3f3f3f !important;
      }
    }
  }

  /deep/ .access {
    /deep/ li > .list_content {
      border-color: @border-color;
    }
  }

  /deep/ .tab_top::after {
    background-color: #e5e5e5;
  }

  /deep/ .van-cell-group .van-cell {
    border-bottom-color: @border-color !important;
  }

  /deep/ .aagames-select-box {
    .select {
      border-bottom-color: @border-color !important;
    }

    .select::after {
      background-color: #e5e5e5 !important;
    }
  }

  /deep/ .reseter {
    .reset {
      div {
        border-bottom-color: @border-color;
      }
    }
  }
  /deep/ #home{
    .home{
      .van-tabs{
        border-bottom: none!important;
        .van-tabs__wrap{
          .van-tabs__nav::after{

          }
        }
      }
    }
  }
  /deep/ .container.regContainer .register .aagames-form{
    background: none!important;
  }
  /deep/ .aagames-form .input > span, /deep/ .aagames-form .input > .iconfont, /deep/ .aagames-form .input .areaNum{
    border-right-color: rgba(255,255,255,.2);
  }
  /deep/.van-button::before{
    border-color: rgba(254, 228, 43, 1)!important;
  }
  /deep/.retrievePassword .verification .code .send{
    background: rgba(254, 228, 43, 1)!important;
    border: none;
    color: #000!important;
    font-weight: 600;
  }
  /deep/ .container.verify{
    /deep/.reset .select{
      border-bottom: none;
    }
    /deep/.reset input::placeholder{
      color: #ccc!important;
    }
    /deep/ .reset{
      .aagames-button-box{
        button{
          background: rgba(254, 228, 43, 1)!important;
          color: #000!important;
        }
      }
    }
    .aagames-nav-bar{
      background: #343434;
      .van-icon{
        color: #fff!important;
      }
      .nav-center{
        color: #fff!important;
      }
    }
  }
  /deep/ .container .main .retrievePassword .aagames-button-box .dark{
    background: rgba(254, 228, 43, 1)!important;
    color: #000!important;
    button{

    }
  }
}

.van-dialog {
  .van-dialog__header {
    color: #000 !important;
  }
}

.duty {
  .hideDuty{
    span{
      color: #000 !important;
    }
  }
}

.pop-body{
  table{
    border-color: rgba(0, 0, 0, .3) !important;
  }
}


/deep/ .van-list.games{
  justify-content: space-between!important;
}
.search-page{
  background: none!important;
}
/deep/ .search-page .search-head{
  background: #F5F5F5!important;
}
/deep/ .search-page .search-head .van-search__content{
  background: #fff!important;
}
/deep/ .search-page .search-head .van-search__content .van-field__control{
  color: #000!important;
}
/deep/ .search-body .action a{
  color: #FEE42B!important;
}
#app .e-main .main li .list .content{
  color: #fff!important;
}
/deep/ .slots .filter-nav{
  border-bottom-color: @border-color !important;
}
/deep/ .aagames-form .input, .aagames-form .input{border-bottom: 0!important;}
/deep/ .van-popup .choose > .father,/deep/ .van-popup .list ul li,/deep/ .list-cells .cell{
  border-bottom-color: @border-color !important;
}

/deep/.deposit-main {
  .list-cells .cell-head{
    color: #000 !important;
  }
  > li.quick-select .cell input{
    color: #666 !important;
  }
}