.m-body {
    // background-color: #1B1826;
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    // background-size: 100%;
    // background-position: 0 0;
    // background-repeat: no-repeat;
    background: #ffffff;
    /deep/ .nav-center .member-info .money{
        color:#fff !important;
    }
    // 新增
    /deep/.van-tabs--line {
        .app-index-3 {
            .title {
                padding-top: 40px;

                .line {
                    background: linear-gradient(to right, rgba(0, 0, 0, 0), #C8A77F) !important;

                    &:last-child {
                        background: linear-gradient(to right, #C8A77F, rgba(0, 0, 0, 0)) !important;
                    }
                }
            }

            .link {
                ul {

                    li {
                        color: #5A2800 !important;
                    }

                    li:nth-child(2) {
                        border-left: 0.02667rem solid rgba(0, 0, 0, 0.1) !important;
                        border-right: 0.02667rem solid rgba(0, 0, 0, 0.1) !important;
                    }
                }
            }

            .title_zh {
                .title_top {
                    color: #000000 !important;
                    font-size: 24px;
                }
            }

            .buss {
                background: #444752;

                .title_top {
                    color: #ffffff !important;
                    font-size: 24px;
                }

            }
            .item_box {
                .groupBuss_item_title {
                    color: rgba(255, 255, 255, 0.2) !important;
                }

            }

            .copyright {
                margin-bottom: 130px;
            }

            /deep/ .van-swipe__indicator {
                background-color: rgba(0, 0, 0, 0.2) !important;
                width: 16px !important;
                height: 16px !important;
            }

            /deep/ .van-swipe__indicator--active {
                background: @primary-color !important;
            }

        }
    }
    /deep/ .sports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .esports{
        .matches{
            background:@bg-card-color !important;
            .prev{
                background:@bg-card-color !important;
            }
            .next{
                background:@bg-card-color !important;
            }
        }
    }
    /deep/ .slots{
        .jackpot{
            background-image:url('../../img3_0/home/slots/jackpot-bg_1@2x.png');
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            .jackpot-text{
                h3{
                    color: #AC8464 !important;
                }
                p{
                    color:#fff !important;
                }
            }
        }
    }
    /deep/ .profit-swipe .van-swipe-item .tag{
        background:@primary-color !important;
        color:#fff !important;
    }
    /deep/ .van-tabs__content{
        .van-tab__pane-wrapper{
            &:first-child{
                padding:0 !important;
                #banner{
                    margin:0 auto 24px !important;
                }
                .van-tab__pane>.van-image{
                    padding:0 0.4rem;
                }
                .notice{
                    margin:0.4rem 0.4rem 0;
                    width:auto;
                    border-color:#E3E3E3 !important;
                    box-shadow: none !important;
                    > .van-icon{
                        color:#525152 !important;
                    }
                    .van-swipe .van-swipe-item{
                        color:rgba(153, 153, 153, 0.8) !important;
                    }
                    .action{
                        color:#999 !important;
                        &::before{
                            background:#E3E3E3 !important;
                        }
                        .van-icon{
                            color:#999 !important;
                        }
                    }
                }
                .featured{
                    .app-index-3{
                        .gameList{
                            padding:45px 0.4rem 25px;
                        }
                        .groupInfo{
                            overflow:hidden;
                        }
                        .buss{
                            padding-top:40px;
                        }
                    }
                }
            }
        }
    }
    /deep/ .van-list.games{
        justify-content: space-between !important;
    }
    /deep/ .van-sticky{
        background:@bg-color !important;
    }
    // /deep/ .van-tabs .van-tabs__nav{
    //     background:@bg-color !important;
    // }
    /deep/ .lotteries .game h3{
        color:#000 !important;
    }
    /deep/ .lotteries .ui-title h2{
        color:#000 !important;
    }

}

.van-tabs {
    /deep/ .van-tab--active {
        .van-tab__text {
            color: #5A2800 !important;
            font-size: 32px !important;
        }

        color: #282828 !important;
    }

    /deep/ .van-tabs__line {
        background: #5A2800 !important;
    }

    /deep/ .van-tabs__wrap {
        border-bottom: 2px solid rgba(0,0,0,0.06);
    }
}

/deep/.search-trigger {
    color: #ffffff !important;
}

/deep/ .filter-nav{
    border-color:rgba(0, 0, 0, 0.06) !important;
}