.Join{
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-top: 600px !important;
    height: 1300px !important;
    h2,h3{
        color: #fff !important;
    }
    h2{
        text-align: center;
        width: 100% !important;
        color: #000000 !important;
        font-weight: 500;
    }

    h3 {
        color: #000000 !important;
    }

    .join-us {
        background: #5A2800 !important;
    }
}
.title-h2{
    color: #2f2f2f !important;
    &::before, &::after{
        background-color: #2f2f2f !important;
    }
}
.title-h3{
    color:#999 !important;
}
.commission-info{
    color:#999 !important;
}
.step{
    .item{
        background: #A85A3C !important;
        &:nth-child(2n) {
            background-color: #5A2800 !important;
        }
        .text{
            color: #fff !important;
        }
    }
}


.statistics {
    .item {
        background:rgba(255,255,255,1) !important;
        box-shadow:0px 8px 34px 0px rgba(92,96,150,0.16);
        border-radius:8px;
        .title{
            color:#000 !important;
        }
        .p {
            margin-top: 20px;
            line-height: 33px;
        }
    }
    
}

.proxy {
    .item {
        background: #5A2800 !important;

        .member {
            color: #FFFFFF !important;
        }

        .commission {
            color: #cccccc !important;
        }

        .household {
            border-bottom: 0.02667rem solid rgba(255,255,255,0.1) !important;
        }
    }
}

.commission-plan{
    table {
        th {
            background-color: #5A2800 !important;
            color: #cccccc !important;
        }

        th:nth-child(3) {
            width: 190px;
            line-height: 33px;
        }

        td {
            color: #000000 !important;
            border: 0.01333rem solid #E3E3E3 !important;
        }
    } 
} 

.contract {
    /deep/ .van-cell__title {
        color: #000000 !important;
    }
}
.contract /deep/ .van-cell__right-icon{
    line-height:60px !important;
}

.footer {

    .items {
        background-color: #282828 !important;
        .list {
            flex: 1 !important;

            .text {
                font-size: 24px !important;
            }
        }

    }
    margin: 1rem 0 !important;
    margin-bottom: 0 !important;
}