.e-main{
    /deep/ .van-tabs .van-tabs__nav .van-tab--active{
        background:@primary-color !important;
    }
    /deep/ .van-tabs .van-tabs__nav .van-tab{
        background:rgba(0,0,0,0.5);
    }
    /deep/.van-tabs {
        .van-tabs__nav {
            background-color:rgba(#000, .3) !important;
        }
    }
} 
.container .main li{
    background-color:rgba(#000, .3) !important;
}