.bg-login{
    margin-top: 20px !important;
}

.main {
    background-image: url('~@assets/img3_0/other/404.png') !important;
    background-size: 100%;
    background-position:0  -4rem;

    .errorImg {
        // img {
        //     display: none;
        // }
    }

    // .text {
    //     margin-top: 7.53333rem !important;
    // }

    /deep/ .aagames-button {
        background: #00213A;
    }

    .code {
        color: #525152 !important;
    }
}

