// /deep/ .m-header.van-nav-bar{
//     background:@bg-card-color !important;
// }
// .m-body .rank-info{
//     background:@bg-card-color !important;
// }
// .latest dl.item-head dt{
//     color:#fff !important;
// }
// .latest dl.item-head dd{
//     color:#fff !important;
// }
// .float-button{
//     color:#fff !important;
//     background:#3D3741 !important;
//     .van-icon{
//         color:#A88C6B !important;
//     }
// }
// .latest .item{
//     border-color:rgba(255,255,255,0.06) !important;
// }
/deep/ .m-header.van-nav-bar{
    background:@bg-card-color !important;
}
.m-body .rank-info{
    background:@bg-card-color !important;
}
/deep/ .van-nav-bar {
    .van-nav-bar__left{
        .van-icon{
            color:#fff !important;
        }
    }
    .van-nav-bar__title {
      color: #fff !important;
    }
}
.latest{
    h2{
        color:#000;
    }
    dl.item-head{
        dt,dd{
            color:#000 !important;
        }
    }
}
.profits-rank .float-button{
    background:@bg-card-color !important;
    color:#fff !important;
    .van-icon{
        color:#B38A58 !important;
    }
}  
.latest .item{
    border-color:rgba(0,0,0,0.06) !important;
}