

#app{
    .guide ul {
        /deep/.step1{
            right:-80px !important;
            top:-14px !important;
            .van-image{
                // width:300px !important;
            }
        }
        /deep/.step2{
            bottom: 0;
            left: 1.6rem;
            span{
                position: absolute;
                top: -140px;
                left: 200px;
                z-index: 111;
            }
        }
        /deep/.step3{
            .van-image{
                //margin-top: -150px;
            }
            span{
                position: absolute;
                z-index: 12;
                top: 430px;
                left: 89px;
            }
        }
        ///deep/.step4{
        //    right:0;
        //    .van-image{
        //      width:600px !important;
        //    }
        //}
    }
}
