.e-main{
    /deep/ .van-tabs .van-tabs__nav .van-tab--active{
        background:@primary-color !important;
    }
} 
.message-title{
    color: #000 !important;
}
/deep/ .van-tabs .van-tabs__nav .van-tab--active{
    color: #fff !important;
}