.main{
    .domain{
        background-image:url('../../img3_0/agent/agent_bg_info@2x.png') !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        background-color:transparent !important;
        .user{
            background:none !important;
            box-shadow: none !important;
        }
        .list{
            background:#000000 !important;
            box-shadow: none !important;
        }
    }
}
.submit-form .input .text {
    color: #666666 !important;
}
.container .main .person-entr .br{
    background:#F7F7F7 !important;
}
.container .main .member .right .name {
    color: #000000 !important;
}
/deep/ .aagames-nav-bar{
    background:#ffffff !important;
}
.container .main{
    background:#ffffff !important;
}
.container .main .login-out{
    background:#E30168 !important;
}
.submit-form .reset, 
.submit-form .input{
    border-bottom: none !important;
}

// .contract /deep/ .van-cell__right-icon{
//     line-height:60px !important;
// }
