.message-title{
    color: #000 !important;
}
.van-tabs /deep/ .van-tabs__nav{
    background-color: @bg-card-color !important;
    .van-tab--active {
        background-color: @bg-color-2 !important;
        color: #fff !important;
    }
}
