.aagames-header {
    // background-image:url('~@assets/img3_0/home/esports/bg@2x.png');
    background: #FFFFFF;

    .aagames-nav-bar {
        height: @height-nav-bar;

        .nav-left {
            height: 100%;

            .aagames-logo {
                height: 100%;
                display: flex;
                align-items: center;

                .logo {
                    // width: auto !important;
                    // height: 80% !important;
                }
            }
        }
    }
}

// 修改的样式
.aagames-header {
    .member-info {
        background: #282828 !important;
    }

    .logo {
        width: 194px !important;
    }
}