.container {
    // background-image: url('@assets/img3_0/login/bg@2x.png');
    background-position: center !important;
    .main{
        background: transparent !important;
        margin-top:0 !important;
        // padding-top:@main-top !important;
        height:auto !important;
        .app{
            color:@primary-color !important;
        }
        .downAppBtn button{
            background: @primary-color !important;
            color:#fff !important;
            margin-top:440px !important;
        }
    }
    .experience{
        color:#666 !important;
    }
    /deep/ .nav-bar .left{
        color:#69432F !important;
    }
}
.container /deep/ .nav-bar .right > div:first-child{
    background:#957D6A !important;
}
.container /deep/ .nav-bar .right > div:last-child{
    background:#EC0237 !important;
    color:#fff !important;
}